<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Statements
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
          <span> Payments</span>
        </li>
        <li>
          <span> Statements </span>
        </li>
        <li class="active">
          List
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="input-group col-xs-12 col-sm-12" role="group" aria-label="Basic example">
          <div class="col-md-3 col-sm-3 col-xs-12 nopading_loct">
            <select class="form-control serchcurv btn-group" [(ngModel)]="SearchBy">
              <option value="" selected="select">Search By</option>
              <option value="ByStatementNumber">Statement Number</option>
              <option value="ByDate">Date Range</option>
            </select>
          </div>
          <div class="col-md-3 col-sm-3 nopading_loct" *ngIf="(SearchBy!='ByDate')">
            <input (keyup.enter)="Search()" [(ngModel)]="SearchKeyword" type="text"
              class="serchcurv form-control btn-group">
          </div>
          <div class="col-md-3 col-sm-3 nopading_loct" *ngIf="(SearchBy=='ByDate')">
            <input type="text" ngxDaterangepickerMd [(ngModel)]="selectedDateRange"
              class="serchcurv form-control btn-group col-xs-12 pointer"
              style="border:1px soloid #ccc !important; padding :3px;left:0px" [showCustomRangeLabel]="true"
              [ranges]="Searchranges" [showCancel]="true" placeholder="Select please..."
              (ngModelChange)="onChange($event)" [autoApply]="true" />
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 nopading_loct">
            <button class="serchcurv btn btn-default btn-group" (click)="Search()" title="Search">
              <i class="fa fa-search " aria-hidden="true"></i>
            </button>
            <button class="serchcurv btn btn-default btn-group" (click)="Refresh()" title="Reset">
              <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <kendo-grid [data]="gridView" resizable="true" columnMenu="true" [pageSize]="pageSize" [skip]="skip"
          [pageable]="{pageSizes: [10, 25, 50, 100, 250, 500]}" (pageChange)="pageChange($event)" [sortable]="{
          allowUnsort: allowUnsort,
          mode:  'single'
          }" [sort]="sort" (sortChange)="sortChange($event)" [filterable]="true"
          (dataStateChange)="dataStateChange($event)" [filter]="state.filter">
          <ng-template kendoGridToolbarTemplate>
            <input placeholder="Search in all columns..." style="float:right;" kendoTextBox
              (input)="onFilter($event.target.value)" />
            <button kendoGridExcelCommand type="button" icon="file-excel"> </button>
            <button kendoGridPDFCommand icon="file-pdf"> </button>
            <kendo-grid-pdf fileName="StatementList.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
            <kendo-grid-excel fileName="StatementList.xlsx"></kendo-grid-excel>
          </ng-template>
          <kendo-grid-column field="StatementNumber" title="Statement No./ 付款单号" width="200">
          </kendo-grid-column>
          <kendo-grid-column field="StatementDate" title="Statement Date/ 付款单日期" filter="date" format="{0:d}"
            [filterable]="false" width="200">
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.StatementDate | date :"MM-dd-yyyy" }}
            </ng-template>
          </kendo-grid-column>
          <!-- <kendo-grid-column field="Stateopbalance" title="Opening Balance" format="{0:##,#.##}" width="200">
          </kendo-grid-column> -->
          <kendo-grid-column field="AmazonCredits" title="Credits/ 亚马逊积分" format="{0:##,#.##}" width="200">
          </kendo-grid-column>
          <kendo-grid-column field="NetRevenue" title="Net Revenue/ 净收入" format="{0:##,#.##}" width="200">
          </kendo-grid-column>
          <!-- <kendo-grid-column field="Deductions" title="Deductions/ 税及佣金" format="{0:##,#.##}" width="200">
          </kendo-grid-column> -->
          <!-- <kendo-grid-column field="ClosingBalance" title="Adjustments/ 积分调整" format="{0:##,#.##}" width="200">
          </kendo-grid-column> -->
          <!-- <kendo-grid-column field="ClosingBalance" title="Closing Balance" format="{0:##,#.##}" width="200">
          </kendo-grid-column> -->
          <kendo-grid-column field="PayabletoMerchant" title="Deposit Total/ 应付金额" format="{0:##,#.##}" width="200">
          </kendo-grid-column>
          <!-- Status/ -->
          <kendo-grid-column field="Status" title="批准状态" width="200">
          </kendo-grid-column>
          <!-- Action/ -->
          <kendo-grid-column title="详情/下载" [class]="{'text-center': true}" [filterable]="false"
            [sortable]="false" width="140">
            <ng-template kendoGridCellTemplate let-obj>
              <i class="fa fa-eye bgblue pointer" [routerLink]="['/Statementview', obj.StatementNumber]"
                title="View"></i>
              &nbsp;
              <i class="fa fa-download bgblue pointer" (click)="DownloadButtonClick(obj.StatementNumber)"
                title="Download"></i>

            </ng-template>
          </kendo-grid-column>
        </kendo-grid>
      </table>
    </div>
  </div>
</div>