<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Sales Order
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
           <span> Revenue</span>
        </li>
        <li>
           <span> Sales Orders </span>
        </li>
        <li class="active">
          
          List
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <div class="input-group col-sm-12" role="group" aria-label="Basic example">
          <div class="col-md-3 nopading_loct">
            <select class="form-control serchcurv btn-group" [(ngModel)]="SearchBy">
              <option value="" selected="select">Search By</option>
              <option value="OrderID">OrderID</option>
              <option value="OrderStatus">Order Status</option>
              <option value="InventoryType">Inventory Type</option>
              <option value="TransactionType">Transaction Type</option>
              <option value="CustomerName">Customer Name</option>
              <option value="ByApprovalStatus"> Approval </option>
              <option value="OrderDate">Order Date</option>
            </select>
          </div>
          <div class="col-md-4 nopading_loct" *ngIf="(SearchBy!='OrderDate')">
            <input [(ngModel)]="SearchKeyword" type="text" class="serchcurv form-control btn-group">
          </div>
          <div class="col-md-4 nopading_loct" *ngIf="(SearchBy=='OrderDate')">
            <input type="text" ngxDaterangepickerMd [(ngModel)]="selectedDateRange"
              class="serchcurv form-control btn-group col-xs-12 pointer"
              style="border:1px soloid #ccc !important; padding :3px;left:0px" [showCustomRangeLabel]="true"
              [ranges]="Searchranges" [showCancel]="true" placeholder="Select please..."
              (ngModelChange)="onChange($event)" [autoApply]="true" />
          </div>
          <div class="col-md-2 nopading_loct">
            <button class="serchcurv btn btn-default btn-group" (click)="Search()" title="Search">
              <i class="fa fa-search " aria-hidden="true"></i>
            </button>
            <button class="serchcurv btn btn-default btn-group" (click)="Refresh()" title="Reset">
              <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-right">
        <button class="btn btn-primary" title="Add New" data-toggle="modal" data-target="#modalsaleorderconfimation">
          Add New
        </button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <kendo-grid [data]="gridView" resizable="true" columnMenu="true" [pageSize]="pageSize" [skip]="skip"
      [pageable]="true" (pageChange)="pageChange($event)" [sortable]="{
          allowUnsort: allowUnsort,
          mode:  'single'
          }" [sort]="sort" (sortChange)="sortChange($event)" [filterable]="true"
      (dataStateChange)="dataStateChange($event)" [filter]="state.filter">

      <kendo-grid-column field="OrderID" title="Order ID" width="160">
      </kendo-grid-column>
      <kendo-grid-column field="OrderDate" title="Order Date" filter="date" format="{0:d}" [filterable]="false"
        width="160">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.OrderDate | date :"MM-dd-yyyy HH:mm" }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="CustomerName" title="Customer Name" width="160">
      </kendo-grid-column>
      <kendo-grid-column field="InventoryType" title="Inventory Type" width="100">
      </kendo-grid-column>
      <kendo-grid-column field="TransactionType" title="Transaction Type" width="120">
      </kendo-grid-column>
      <kendo-grid-column field="TotalValue" title="Total Value" format="{0:##,#.##}">
      </kendo-grid-column>
      <kendo-grid-column field="OrderStatus" title="Order Status">
      </kendo-grid-column>
      <kendo-grid-column field="ApprovalStatus" title="Approval Status">
      </kendo-grid-column>

      <kendo-grid-column field="SalesOrderID" title="Action" [class]="{'text-center': true}" [filterable]="false"
        [sortable]="false" width="70">
        <ng-template kendoGridCellTemplate let-obj>
          <!-- <i class="fa fa-eye bgblue pointer" (click)="editButtonClick(obj.SalesOrderID)" title="Edit"></i>
          &nbsp; -->
          <i class="fa fa-times bgred pointer"
            *ngIf="( 
              (obj.InventoryType =='SELLABLE')  ||   (obj.InventoryType =='UNSELLABLE' && obj.ApprovalStatus == 'Pending Approval'  ) )" title="Cancel"
            (click)="confirmDeleteid(obj.SalesOrderID,obj.OrderID)"></i>

          &nbsp; <i class="fa fa-eye bgblue pointer" [routerLink]="['/Salesorderview', obj.SalesOrderID]"
            title="View"></i>

        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>


<div id="modaldeleteconfimation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modaldeleteconfimation"
  aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modaldeleteconfimation">Confirmation</h4>
      </div>
      <div class="modal-body alert-warning">
        <div class="row">
          <div class="col-xs-2">
            <i class="fa fa-warning fa-3x "></i>
          </div>
          <div class="col-xs-10">
            <div>
              <h5>
                Are you sure you want to cancel this order <span> {{deleteColumn}}</span>?
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger btn-sm" (click)="approval()">Yes</button>
        &nbsp;
        <button class="btn btn-default btn-sm" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div id="modalsaleorderconfimation" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="modalsaleorderconfimation" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalsaleorderconfimation">Confirmation</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-10">
            <div>
              <h5>
                Please Select Inventory Type to Create Sales Order
              </h5>


              <input id="Sellable" type="radio" [value]="true" name="InventoryType" [(ngModel)]="InventoryType">
              <label for="Sellable" class="control-label"> &nbsp;&nbsp; Sellable
              </label>
              &nbsp; &nbsp;
              <input id="Unsellable" type="radio" [value]="false" name="InventoryType" [(ngModel)]="InventoryType">
              <label for="Unsellable" class="control-label"> &nbsp;&nbsp; Unsellable
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-sm" data-dismiss="modal">Cancel</button>
        &nbsp;
        <button class="btn btn-success btn-sm" data-dismiss="modal" (click)="addButtonClick()">Okay</button>
      </div>
    </div>
  </div>
</div>