<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Users
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
          <span> Utilities</span>
        </li>
        <li>
          <span> Users</span>
        </li>
        <li class="active">

          Save
        </li>
      </ol>
    </div>
  </div>
</div>
<form [formGroup]="userForm" (ngSubmit)="SaveData()" class="form-horizontal">
  <div class="panel panel-default tabspanl">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-5">
          <span class="groupspanheader">
            {{panelTitle}}
          </span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-5">
          <div class="pull-left">
            <div class="form-group" *ngIf="!action">
              <div class="col-sm-12 inputlevelswtch">
                <label class="col-sm-4 col-xs-4 nopading_loct" for=" IsActive">IsActive </label>
                <div class="pull-right">
                  <label class="switch">
                    <input type="checkbox" formControlName="IsActive" checked>
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <div class="pull-right">
            <button type="button" class="btn btn-primary" routerLink="/CrossBorder/Crossborderuserlist" title="Back">
              Back
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="col-lg-6"> 
          <div class="form-group" [ngClass]="{'has-error': formErrors.Email}">
            <label class=" control-label col-sm-4" for="Email">Email <span class="mandantory">*</span> </label>
            <div class="col-sm-8">
              <input id="Email" [readonly]="!action" type="email" class="form-control" formControlName="Email"
                (blur)="logValidationErrors();onchangeEmail();" maxlength="50">
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.Email">
                  {{formErrors.Email}}
                </span>
                <span class="help-block">
                  {{ UserTypeErrorMessage}}
                </span>
              </div>
            </div>
          </div> 

          <div class="form-group" [ngClass]="{'has-error': formErrors.FirstName}">
            <label class=" control-label col-sm-4" for="FirstName">First Name <span class="mandantory">*</span>
            </label>
            <div class="col-sm-8">
              <input id="FirstName" type="text" class="form-control" formControlName="FirstName"
                (blur)="logValidationErrors()" maxlength="30">
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.FirstName">
                  {{formErrors.FirstName}}
                </span>
              </div>
            </div>
          </div>

          <div class="form-group" [ngClass]="{'has-error': formErrors.LastName}">
            <label class="control-label col-sm-4" for="LastName">Last Name</label>
            <div class="col-sm-8">
              <input id="LastName" type="text" class="form-control" formControlName="LastName"
                (blur)="logValidationErrors()" maxlength="30">
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.LastName">
                  {{formErrors.LastName}}
                </span>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="pull-right btn-toolbar">
      <button type="button" class="btn btn-primary" routerLink="/CrossBorder/Crossborderuserlist" title="Back">
        Cancel
      </button>
      <button class="btn btn-success" type="submit" prevent-double-submit
        [disabled]="userForm.invalid || UserType==1 || UserType==2 ">
        Save
      </button>
    </div>
    <div class="clearfix"></div>
  </div>
</form>