<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Purchase Invoices
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
          <span> Procurements</span>
        </li>
        <li>
          <span> Purchase Invoices </span>
        </li>
        <li class="active">

          Save
        </li>
      </ol>
    </div>
  </div>
</div>
<form [formGroup]="invoiceform" (ngSubmit)="SaveData()" class="form-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <span class="groupspanheader">
            {{panelTitle}}
          </span>
        </div>
        <div class="col-sm-6">
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
          <div class="pull-right">
            <button type="button" class="btn btn-primary" routerLink="/Purchaselist" title="Back">
              Back
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="groupspanheader"> Invoice Information </div>
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': formErrors.InvoiceNumber}">
            <label class="control-label" for="InvoiceNumber">Invoice Number <span class="mandantory">*</span></label>
            <div>
              <input id="InvoiceNumber" type="text" class="form-control" formControlName="InvoiceNumber"
                (blur)="logValidationErrors()" maxlength="30">
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.InvoiceNumber">
                  {{formErrors.InvoiceNumber}}
                </span>
              </div>
            </div>
          </div>
        </div>




        <div class="col-md-3 col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': formErrors.VendorWarehouseID}">
            <label class="control-label" for="VendorWarehouseID"> Vendor Warehouse <span
                class="mandantory">*</span></label>
            <div>
              <select id="VendorWarehouseID" class="form-control" formControlName="VendorWarehouseID"
                (blur)="logValidationErrors()" (change)="onchangeVendorWarehouseID($event.target.value)">
                <option value="0" selected="selected">Select</option>
                <option *ngFor="let c1 of lstVendorwarehouse" value={{c1.VendorWarehouseID}}>
                  {{c1.WarehouseName}}
                </option>
              </select>
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.VendorWarehouseID">
                  {{formErrors.VendorWarehouseID}}
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-xs-3">
          <div class="form-group">
            <label class="control-label" for="USDValue">USD Rate (If Import Purchase) </label>
            <div>
              <input id="USDValue" type="text" class="form-control" formControlName="USDValue"
                (blur)="logValidationErrors()" maxlength="10" onkeypress="return /[0-9.]/i.test(event.key)">
            </div>
          </div>
        </div>

        <div class="col-md-3 col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': formErrors.InvoiceDate}">
            <label class="control-label" for="InvoiceDate">Invoice Date<span class="mandantory">*</span></label>
            <div>
              <div class='input-group date'>
                <input id="InvoiceDate" type="text" ngxDaterangepickerMd [timePicker]="true"
                  (datesUpdated)="InvoiceDateUpdated($event)" [singleDatePicker]="true"
                  [locale]="{format: 'MM-DD-YYYY HH:mm'}" [autoApply]="true" class="form-control"
                  formControlName="InvoiceDate" (change)="logValidationErrors()" maxlength="16"
                  [(ngModel)]="InvoiceDate" [minDate]="InvoiceMinDate" [maxDate]="InvoiceMaxDate">
                <label class="fa fa-calendar"></label>
              </div>
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.InvoiceDate">
                  {{formErrors.InvoiceDate}}
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': formErrors.Remarks}">
            <label class="control-label" for="Remarks">Remarks <span class="mandantory">*</span></label>
            <div>
              <input id="Remarks" type="text" class="form-control" formControlName="Remarks"
                (blur)="logValidationErrors()" maxlength="250">
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.Remarks">
                  {{formErrors.Remarks}}
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-xs-12">
          <span class="groupspanheader">Order Items</span>
          <table class="table table-bordered table-condensed" *ngIf="obj?.lstItem && obj?.lstItem.length">
            <thead>
              <tr>
                <th class="text-center">ItemCode</th>
                <th class="text-center">Vendor ItemCode </th>
                <th class="text-center">PO Available Qty</th>
                <th class="text-center">Qty</th>
                <th class="text-center">Rate</th>

                <th class="text-center">MRP</th>
                <th class="text-center">TaxRate</th>
                <th class="text-center">TaxNature</th>
                <th class="text-center">DirectCost</th>
                <th class="text-center">TaxAmount</th>
                <th class="text-center">TotalAmount</th>
              </tr>
            </thead>

            <tr *ngFor="let person of obj?.lstItem; let id = index">
              <td>
                <span>{{person.ItemCode}}</span>
              </td>
              <td>
                <span>{{person.VendorItemCode}}</span>
              </td>
              <td class="text-right">
                <span>{{person.AvailableQty}}</span>
              </td>
              <td class="text-right">
                <input type="text" id="{{person.ItemID}}" name="{{person.ItemID}}" class="form-control" maxlength="13"
                  onkeypress="return /[0-9]/i.test(event.key)" (input)="updateList(id,'Qty',$event.target.value)"
                  value="{{person.Qty}}">
              </td>
              <td class="text-right">
                <span>{{person.Rate}}</span>
              </td>

              <td class="text-right">
                <span>{{person.MRP}}</span>
              </td>
              <td class="text-right">
                <span>{{person.TaxRate}}</span>
              </td>
              <td class="text-right">
                <span>{{person.TaxNature}}</span>
              </td>
              <td class="text-right">
                <span>{{person.DirectCost}}</span>
              </td>
              <td class="text-right">
                <span>{{person.TaxAmount}}</span>
              </td>

              <td class="text-right">
                <span>{{person.TotalAmount}}</span>
              </td>
            </tr>
            <tr>
              <th>Total</th>
              <th> </th>
              <th> </th>
              <th class="text-right"> {{ TotalQty}}</th>
              <th class="text-right"> {{ TotalRate}}</th>


              <th class="text-right">
                {{ TotalMRP | currency: 'INR' }}
              </th>
              <th class="text-right">
                {{ TotalTaxRate | currency: 'INR'}}
              </th>
              <th> </th>

              <th class="text-right">
                {{ TotalDirectCost | currency: 'INR'}}
              </th>
              <th class="text-right">
                {{ TotalTaxAmount | currency: 'INR'}}
              </th>
              <th class="text-right">
                {{ TotalTotalAmount | currency: 'INR'}}
              </th>
            </tr>
          </table>
        </div>


      </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <span class="groupspanheader"> PO Information </span>
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <div class="form-group">
            <label class="control-label"> PO No. </label>
            <div>
              {{PONumber}}
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="form-group">
            <label class="control-label"> Location </label>
            <div>
              {{LocationName}}
            </div>
          </div>
        </div>

        <div class="col-md-3 col-xs-12">
          <div class="form-group">
            <label class="control-label">Vendor <span class="mandantory">*</span></label>
            <div>
              {{VendorName}}
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="panel-footer" *ngIf="IsEditable">
      <div class="pull-right btn-toolbar">
        <button type="button" class="btn btn-primary" routerLink="/Purchaselist" title="Cancel">

          Cancel
        </button>
        <button class="btn btn-success" type="submit" prevent-double-submit [disabled]="invoiceform.invalid">

          Save
        </button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</form>