<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
         Notice!</h1>

        <div class="error-details">
          <p>
            As part of our commitment to provide you with better and more efficient ISP services, we are pleased to
            inform you that we are upgraded our Jennifer system. Our new system will help us to offer more features and
            functionality in your ISP experience.

          </p>
          <p>
            We apologize for any inconvenience that might be caused by our Jennifer system upgrade and sincerely thank
            you for your support and understanding which will assist in making our Jennifer system upgrade process as
            smooth as possible.
          </p>
          <p>
            <b>
              Request you to click below to experience the new system.
            </b>
          </p>
        </div>
        <div class="error-actions">
          <a href="https://sellercentral.jennifer-in.com/" target="_blank" class="btn btn-primary btn-lg">
            <span class="fa fa-home"></span>
            Click Here </a>

        </div>
      </div>
    </div>
  </div>
</div>