<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Custom Catalogue
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
          <span> Cross Border</span>
        </li>
        <li>
          <span>Custom Catalogue</span>
        </li>
        <li class="active">

          Update
        </li>
      </ol>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <span class="groupspanheader">
          Update Custom Catalogue
        </span>
      </div>
      <div class="col-sm-4">
        <div class="pull-left">

        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
        <div class="pull-right">
          <button type="button" class="btn btn-primary" routerLink="/CrossBorder/Customcataloguelist" title="Back">
            Back
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-4 col-sm-3 ">
        Catalogue No. : <b>{{objHeader?.CatalogueNumber}}</b>
      </div>
      <div class="col-xs-4 col-sm-3 ">
        Date: <b>{{objHeader?.CatalogueDate | date:'MM-dd-yyyy HH:mm'}}</b>
      </div>
      <div class="col-xs-4 col-sm-3 ">
        Total Items : <b>{{objHeader?.NoOfItem}} </b>
      </div>
      <div class="col-xs-4 col-sm-3 ">
        Seller ID : <b>{{objHeader?.RKSellerID}} </b>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-4 col-sm-2 ">
        Status : <b>{{objHeader?.Custom_CatalogueStatus}}</b>
      </div>
      <div class="col-xs-4 col-sm-2 ">
        <a type="button" title="View More" class="needhelp" data-toggle="modal"
          data-target="#modalstatusconfimation">View More</a>
      </div>
    </div>

    <hr>
    <div>

      <span class="groupspanheader"> Product Details </span>
      <div class="table-responsive">
        <table class="table">
          <kendo-grid [data]="gridData" resizable="true" (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
            (save)="saveHandler($event)" [height]="410">

            <kendo-grid-column field="ProductName" title="Product Name" width="200">
              <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
                <input #input [readonly]="true" class="k-textbox" [formControl]="itemFormGroup.get(column.field)">
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="MerchantSKU" title="Merchant SKU" width="200">
              <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
                <input #input [readonly]="true" class="k-textbox" [formControl]="itemFormGroup.get(column.field)">
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="ASIN" title="ASIN" width="200">
              <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
                <input #input [readonly]="true" class="k-textbox" [formControl]="itemFormGroup.get(column.field)">
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="HSNCode" title="HSN Code" width="200">
              <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
                <input #input [readonly]="true" class="k-textbox" [formControl]="itemFormGroup.get(column.field)">
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="ProductDescription" title="Product Description" width="200">
              <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
                <input #input [readonly]="true" class="k-textbox" [formControl]="itemFormGroup.get(column.field)">
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="DeclareValueInDollar" title="Declare Value (In Dollar)" width="200">
              <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
                <input #input [readonly]="true" class="k-textbox" [formControl]="itemFormGroup.get(column.field)">
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="MRPInINR" title="MRP (In INR)" width="200">
              <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
                <input #input [readonly]="true" class="k-textbox" [formControl]="itemFormGroup.get(column.field)">
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="SellingPriceInINR" title="Selling Price (In INR)" width="200">
              <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
                <input #input [readonly]="true" class="k-textbox" [formControl]="itemFormGroup.get(column.field)">
              </ng-template>
            </kendo-grid-column>


            <kendo-grid-column title="Image Path" width="100">
              <ng-template kendoGridCellTemplate let-obj>
                <i class="fa fa-download  pointer" *ngIf="obj.ImagePath != ''"
                  (click)="DownloadButtonClick(obj.ImagePath)" title="Download">
                </i>
              </ng-template>
            </kendo-grid-column>


            <kendo-grid-column title="Document 1" width="100">
              <ng-template kendoGridCellTemplate let-obj>
                <i class="fa fa-download  pointer" *ngIf="obj.DocumentPath1 != ''"
                  (click)="DownloadButtonClick(obj.DocumentPath1)" title="Download">
                </i>
              </ng-template>
            </kendo-grid-column>


            <kendo-grid-column title="Document 2" width="100">
              <ng-template kendoGridCellTemplate let-obj>
                <i class="fa fa-download  pointer" *ngIf="obj.DocumentPath2 != ''"
                  (click)="DownloadButtonClick(obj.DocumentPath2)" title="Download">
                </i>
              </ng-template>
            </kendo-grid-column>


            <kendo-grid-column title="Document  3" width="100">
              <ng-template kendoGridCellTemplate let-obj>
                <i class="fa fa-download  pointer" *ngIf="obj.DocumentPath3 != ''"
                  (click)="DownloadButtonClick(obj.DocumentPath3)" title="Download">
                </i>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="CTH_HSN" title="CTH (HSN)" width="100">
              <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
                <input #input class="k-textbox" [formControl]="itemFormGroup.get(column.field)" maxlength="100">
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="BCD" title="BCD" width="100" format="0.##">
              <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
                <kendo-numerictextbox #ntb="popupAnchor" popupAnchor [formControl]="itemFormGroup.get(column.field)"
                  maxlength="5" format="0.##"></kendo-numerictextbox>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="SWS" title="SWS" width="100" format="0.##">
              <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
                <kendo-numerictextbox #ntb="popupAnchor" popupAnchor [formControl]="itemFormGroup.get(column.field)"
                  maxlength="5" format="0.##"></kendo-numerictextbox>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="IGST" title="IGST" width="100" format="0.##">
              <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
                <kendo-numerictextbox #ntb="popupAnchor" popupAnchor [formControl]="itemFormGroup.get(column.field)"
                  maxlength="5" format="0.##"></kendo-numerictextbox>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="Others" title="Others" width="100" format="0.##">
              <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
                <kendo-numerictextbox #ntb="popupAnchor" popupAnchor [formControl]="itemFormGroup.get(column.field)"
                  format="0.##"></kendo-numerictextbox>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="Custom_Remarks" title="Remarks" width="200">
              <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
                <input #input class="k-textbox" [formControl]="itemFormGroup.get(column.field)" maxlength="500">
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="Custom_Status" title="Custom Status" width="150">
              <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.Custom_Status}}
              </ng-template>
              <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-column="column"
                let-formGroup="itemFormGroup">
                <kendo-dropdownlist #ddl="popupAnchor" popupAnchor [data]="statusList" textField="DropdownValue"
                  valueField="DropdownValue" [valuePrimitive]="true" [formControl]="itemFormGroup.get(column.field)"
                  [kendoDropDownFilter]="filterSettings">
                </kendo-dropdownlist>
              </ng-template>
            </kendo-grid-column>
 


            <kendo-grid-command-column title="Action" [class]="{'text-center': true}" width="150">
              <ng-template kendoGridCellTemplate>
                <button kendoGridEditCommand [primary]="true">Edit</button>
                <button kendoGridSaveCommand>Update</button>
                <button kendoGridCancelCommand>Cancel</button>
              </ng-template>
              <!-- [disabled]="itemFormGroup?.invalid" -->
            </kendo-grid-command-column>
          </kendo-grid>
        </table>

      </div>

    </div>
    <hr>

    <form [formGroup]="customerform" (ngSubmit)="SaveData()" class="form-horizontal">

      <div class="row">
        <div class="col-sm-10 col-xs-12">
          <div class="form-group">
            <div class="col-sm-12 ">
              <label class=" control-label"> Remarks
                <span class="mandantory">*</span>
              </label>
              <input [(ngModel)]="Remarks" name="Remarks" type="text" class="form-control" formControlName="Remarks"
                maxlength="20">
              <div class="help-block-rk">
                <span class="help-block">

                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="pull-right btn-toolbar">
            <button type="button" class="btn btn-primary" routerLink="/CrossBorder/Customcataloguelist">Cancel</button>
            <button class="btn btn-success" prevent-double-submit type="submit" title="save"
              [disabled]="customerform.invalid">Save</button>
          </div>
        </div>
      </div>

    </form>
  </div>

</div>

<div id="modalstatusconfimation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalstatusconfimation"
  aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalstatusconfimation">Status Log</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div class="table-responsive">
              <table class="table table-bordered table-condensed table-striped" *ngIf="objHeader?.lstCatalogueHistory !=null 
              && objHeader?.lstCatalogueHistory.length > 0">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Remarks</th>
                    <th>Updated By</th>
                    <th>Updated Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of objHeader?.lstCatalogueHistory;">
                    <td>{{item.CatalogueStatus}}</td>
                    <td>{{item.Remarks}}</td>
                    <td>{{item.LastModifiedByName}}</td>
                    <td>{{item.LastModifiedDate | date:'MM-dd-yyyy HH:mm'}}</td>

                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary text-center" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>


</div>