<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-3">
        <span class="groupspanheader">
          {{FormName}}
        </span>
      </div>
      <div class="col-xs-3">
        <div class="pull-left">
          FormID - <b> {{FormID}}</b>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="pull-left" *ngIf="CurrentActionStatus!=''">
          Status - <b> {{CurrentActionStatus}}</b>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="pull-right btn-toolbar">
          <a class="btn btn-primary" routerLink="/Workflowformlist" title="Back">
            Back to List
          </a>
          <a class="btn btn-primary" [routerLink]="['/Workflowreport',RequestFormID]" title="Back">
            Back to Report
          </a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="Action=='View'">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="pull-right">
            <div id="myDIV">
              <span (click)="ChangeDesign('Grid1')" class="gridtype active">Grid 1</span>
              <span (click)="ChangeDesign('Grid2')" class="gridtype ">Grid 2</span>
              <span (click)="ChangeDesign('Grid3')" class="gridtype">Grid 3</span>
            </div>
          </div>
        </div>
        <div *ngIf="FormDesignType=='Grid1'">

          <div *ngFor="let form_elem of formTemplate">
            <div [ngSwitch]="form_elem.ControlType">
              <div class="col-xs-12">
                <div class="form-group">
                  <label class="col-xs-4 control-label" for="{{form_elem.ControlId}}">
                    {{form_elem.Caption}}
                    <span class="mandantory" *ngIf="form_elem.IsMandantory">*</span>
                  </label>
                  <div class="col-xs-8">
                    <div *ngSwitchCase="'TextBox'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>
                    <div *ngSwitchCase="'Number'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>
                    <div *ngSwitchCase="'TextArea'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>

                    <div *ngSwitchCase="'DropDown'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>

                    <div *ngSwitchCase="'CheckBox'">
                      <div *ngIf="getDataByCaption(form_elem.ControlId)==true">
                        Yes
                      </div>
                      <div *ngIf="getDataByCaption(form_elem.ControlId)==false">
                        No
                      </div>
                    </div>

                    <div class="help-block-rk1">
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div *ngIf="FormDesignType=='Grid2'">
          <div *ngFor="let form_elem of formTemplate">
            <div [ngSwitch]="form_elem.ControlType">
              <div class="col-xs-3">
                <div class="form-group">
                  <label class="control-label" for="{{form_elem.ControlId}}">
                    {{form_elem.Caption}}
                    <span class="mandantory" *ngIf="form_elem.IsMandantory">*</span>
                  </label>
                  <div class="">

                    <div *ngSwitchCase="'TextBox'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>

                    <div *ngSwitchCase="'Number'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>

                    <div *ngSwitchCase="'TextArea'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>

                    <div *ngSwitchCase="'DropDown'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>

                    <div *ngSwitchCase="'CheckBox'">
                      <div *ngIf="getDataByCaption(form_elem.ControlId)==true">
                        Yes
                      </div>
                      <div *ngIf="getDataByCaption(form_elem.ControlId)==false">
                        No
                      </div>
                    </div>

                    <div class="help-block-rk1">
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="FormDesignType=='Grid3'">
          <div *ngFor="let form_elem of formTemplate">
            <div [ngSwitch]="form_elem.ControlType">
              <div class="col-xs-4">
                <div class="form-group">
                  <label class="control-label" for="{{form_elem.ControlId}}">
                    {{form_elem.Caption}}
                    <span class="mandantory" *ngIf="form_elem.IsMandantory">*</span>
                  </label>
                  <div class="">

                    <div *ngSwitchCase="'TextBox'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>

                    <div *ngSwitchCase="'Number'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>

                    <div *ngSwitchCase="'TextArea'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>

                    <div *ngSwitchCase="'DropDown'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>

                    <div *ngSwitchCase="'CheckBox'">
                      <div *ngIf="getDataByCaption(form_elem.ControlId)==true">
                        Yes
                      </div>
                      <div *ngIf="getDataByCaption(form_elem.ControlId)==false">
                        No
                      </div>
                    </div>

                    <div class="help-block-rk1">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12" *ngIf="!(CurrentActionStatus=='CLOSED' || CurrentActionStatus=='REJECTED' ) ">
          <form>

            <div class="panel panel-info">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    {{CurrentNameoftheApproval}}
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <div class="row"> 

                    <div class="form-group">
                      <div class="col-xs-8">
                        <label class="control-label">
                          Approver Name
                        </label> <br />
                        Radhakrishnan

                      </div>
                      <div class="col-xs-4">
                        <label class="control-label">
                          Status
                          <span class="mandantory">*</span>
                        </label>
                        <select name="ActionStatus" [(ngModel)]="ActionStatus" class="form-control">
                          <option value="" selected="selected">---Select---</option>
                          <option>APPROVE</option>
                          <option>REJECT</option>
                        </select>
                      </div>
                      <div class="col-xs-12">
                        <label class="control-label">
                          Remarks
                          <span class="mandantory">*</span>
                        </label>
                        <textarea placeholder="Please describe about approval" name="ActionRemarks"
                          [(ngModel)]="ActionRemarks" class="form-textarea" maxlength="500"
                          rows="3">
                       </textarea>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="panel-footer">
                  <div class="pull-right btn-toolbar">
                    <button type="button" class="btn btn-primary" routerLink="/Workflowformlist" title="Cancel">
                      Cancel
                    </button>
                    <input type="submit" value="Save" class="btn btn-success" prevent-double-submit
                      (click)="onSubmitWorkFlow()" />
                    <!-- [disabled]="workflowFormGroup.invalid" -->
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>

            </div>

          </form>
        </div>
        <div class="col-xs-12">
          <div>
            <span class="groupspanheader"> Actual Approvers Details </span>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-condensed "
              *ngIf="lstDynamicFormWorkFlowDetail && lstDynamicFormWorkFlowDetail.length">
              <thead>
                <tr>
                  <th> Action Level </th>
                  <th>Name Of Approval</th>
                  <th>Actual Approval Emails </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of lstDynamicFormWorkFlowDetail">
                  <td>Action {{ user.DisplayOrder   }}</td>
                  <td>{{ user.NameOfApproval}}</td>
                  <td>{{ user.ActualApprovalEmails}}</td>

                </tr>
              </tbody>
            </table>

            <table class="table table-bordered table-condensed" *ngIf="lstDynamicFormWorkFlowDetail.length==0">
              <thead>
                <tr>
                  <th> Action Level </th>
                  <th>Name Of Approval</th>
                  <th>Actual Approval Emails </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="3">
                    No Records Found.!
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-xs-12">
          <div>
            <span class="groupspanheader"> Approvers Details </span>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-condensed "
              *ngIf="lstDynamicFormWorkFlowDetail_Data && lstDynamicFormWorkFlowDetail_Data.length">
              <thead>
                <tr>
                  <th> Action Level </th>
                  <th>Name Of Approval</th>
                  <th>Actual Approval Emails </th>
                  <th>Action Status </th>
                  <th>Remarks </th>

                  <th>Action By </th>
                  <th>Action Date </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of lstDynamicFormWorkFlowDetail_Data">
                  <td>Action {{ user.DisplayOrder   }}</td>
                  <td>{{ user.NameOfApproval}}</td>
                  <td>{{ user.ActualApprovalEmails}}</td>
                  <td>{{ user.ActionStatus}}</td>
                  <td>{{ user.ActionRemarks}}</td>

                  <td>{{ user.ActionByEmail}} <b> {{ user.ActionByName}} </b></td>
                  <td>{{ user.ActionDate | date :"MM-dd-yyyy HH:mm" }}</td>

                </tr>
              </tbody>
            </table>

            <table class="table table-bordered table-condensed" *ngIf="lstDynamicFormWorkFlowDetail_Data.length==0">
              <thead>
                <tr>
                  <th> Action Level </th>
                  <th>Name Of Approval</th>
                  <th>Actual Approval Emails </th>
                  <th>Action Status </th>
                  <th>Remarks </th>

                  <th>Action By </th>
                  <th>Action Date </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="7">
                    No Records Found.!
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <div class="clearfix"> </div>
    </div>

    <!-- <div class="panel-footer">
      <div class="pull-right btn-toolbar">
        <button type="button" class="btn btn-primary" routerLink="/Workflowformlist" title="Cancel">
          Cancel
        </button>
      </div>
      <div class="clearfix"></div>
    </div> -->


  </div>
  <div *ngIf="Action=='Create'">
    <form [formGroup]="myFormGroup" (ngSubmit)="onSubmit()">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-right">
              <div id="myDIV">
                <span (click)="ChangeDesign('Grid1')" class="gridtype active">Grid 1</span>
                <span (click)="ChangeDesign('Grid2')" class="gridtype ">Grid 2</span>
                <span (click)="ChangeDesign('Grid3')" class="gridtype">Grid 3</span>
              </div>
            </div>
          </div>

          <div *ngIf="FormDesignType=='Grid1'">

            <div *ngFor="let form_elem of formTemplate">
              <div [ngSwitch]="form_elem.ControlType">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label class="col-xs-4 control-label" for="{{form_elem.ControlId}}">
                      {{form_elem.Caption}}
                      <span class="mandantory" *ngIf="form_elem.IsMandantory">*</span>
                    </label>
                    <div class="col-xs-8">
                      <div *ngSwitchCase="'TextBox'">
                        <input type="text" [placeholder]="form_elem.ExampleValue" [ngClass]="form_elem.ControlSize"
                          formControlName="{{form_elem.ControlId}}" class="form-control" (blur)="logValidationErrors()"
                          maxlength="{{form_elem.MaxLengthValue}}" />
                      </div>
                      <div *ngSwitchCase="'Number'">
                        <input type="number" [placeholder]="form_elem.ExampleValue" [ngClass]="form_elem.ControlSize"
                          formControlName="{{form_elem.ControlId}}" class="form-control" min="{{form_elem.MinValue}}"
                          max="{{form_elem.MaxValue}}" (blur)="logValidationErrors()" />
                      </div>
                      <div *ngSwitchCase="'TextArea'">
                        <textarea [placeholder]="form_elem.ExampleValue" [ngClass]="form_elem.ControlSize"
                          formControlName="{{form_elem.ControlId}}" class="form-control" (blur)="logValidationErrors()"
                          maxlength="{{form_elem.MaxLengthValue}}">
                              </textarea>
                      </div>

                      <div *ngSwitchCase="'DropDown'">
                        <div *ngIf="form_elem.DropDownType=='Static'">
                          <select [ngClass]="form_elem.ControlSize" formControlName="{{form_elem.ControlId}}"
                            class="form-control" (blur)="logValidationErrors()">
                            <option value="" selected="selected">---Select---</option>
                            <option *ngFor="let opt of form_elem.Options">
                              {{opt.name}}
                            </option>
                          </select>
                        </div>
                        <div *ngIf="form_elem.DropDownType=='Dynamic'">

                          <div *ngIf="form_elem.HasChild==true">
                            <select [ngClass]="form_elem.ControlSize" formControlName="{{form_elem.ControlId}}"
                              class="form-control" (blur)="logValidationErrors()"
                              (change)="onchangeDependent(form_elem.ChildControlId,$event.target.value)">
                              <option value="0" selected="selected">---Select---</option>
                              <option *ngFor="let opt of form_elem.Options" value={{opt.value}}>
                                {{opt.name}}
                              </option>
                            </select>
                          </div>

                          <div *ngIf="form_elem.HasChild==false">
                            <select [ngClass]="form_elem.ControlSize" formControlName="{{form_elem.ControlId}}"
                              class="form-control" (blur)="logValidationErrors()">
                              <option value="0" selected="selected">---Select---</option>
                              <option *ngFor="let opt of form_elem.Options" value={{opt.value}}>
                                {{opt.name}}
                              </option>
                            </select>
                          </div>

                        </div>
                      </div>

                      <div *ngSwitchCase="'CheckBox'">
                        <input type="checkbox" formControlName="{{form_elem.ControlId}}" (blur)="logValidationErrors()">
                      </div>

                      <!-- <div *ngSwitchCase="'chechboxlist'">
                        <label *ngFor="let opt of form_elem.options;  let i = index">
                          <input (change)="getCheckboxlistSelected(form_elem.ControlId,opt)" type="checkbox"
                            formControlName="{{form_elem.ControlId}}">
                          {{opt }}
                        </label>
                      </div> -->

                      <div class="help-block-rk">
                        <span class="help-block" *ngIf="getErrorMessage(form_elem.ControlId)">
                          {{getErrorMessage(form_elem.ControlId)}}
                        </span>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div *ngIf="FormDesignType=='Grid2'">
            <div *ngFor="let form_elem of formTemplate">
              <div [ngSwitch]="form_elem.ControlType">
                <div class="col-xs-3">
                  <div class="form-group">
                    <label class="control-label" for="{{form_elem.ControlId}}">
                      {{form_elem.Caption}}
                      <span class="mandantory" *ngIf="form_elem.IsMandantory">*</span>
                    </label>
                    <div class="">

                      <div *ngSwitchCase="'TextBox'">
                        <input type="text" [placeholder]="form_elem.ExampleValue"
                          formControlName="{{form_elem.ControlId}}" class="form-control" (blur)="logValidationErrors()"
                          maxlength="{{form_elem.MaxLengthValue}}" />
                      </div>

                      <div *ngSwitchCase="'Number'">
                        <input type="number" [placeholder]="form_elem.ExampleValue"
                          formControlName="{{form_elem.ControlId}}" class="form-control" min="{{form_elem.MinValue}}"
                          max="{{form_elem.MaxValue}}" (blur)="logValidationErrors()" />
                      </div>

                      <div *ngSwitchCase="'TextArea'">
                        <textarea [placeholder]="form_elem.ExampleValue" formControlName="{{form_elem.ControlId}}"
                          class="form-control" (blur)="logValidationErrors()" maxlength="{{form_elem.MaxLengthValue}}">
                                  </textarea>
                      </div>

                      <div *ngSwitchCase="'DropDown'">
                        <div *ngIf="form_elem.DropDownType=='Static'">
                          <select formControlName="{{form_elem.ControlId}}" class="form-control"
                            (blur)="logValidationErrors()">
                            <option value="" selected="selected">---Select---</option>
                            <option *ngFor="let opt of form_elem.Options">
                              {{opt}}
                            </option>
                          </select>
                        </div>
                        <div *ngIf="form_elem.DropDownType=='Dynamic'">
                          <div *ngIf="form_elem.HasChild==true">
                            <select formControlName="{{form_elem.ControlId}}" class="form-control"
                              (blur)="logValidationErrors()"
                              (change)="onchangeDependent(form_elem.ChildControlId,$event.target.value)">
                              <option value="0" selected="selected">---Select---</option>
                              <option *ngFor="let opt of form_elem.Options" value={{opt.value}}>
                                {{opt.name}}
                              </option>
                            </select>
                          </div>

                          <div *ngIf="form_elem.HasChild==false">
                            <select formControlName="{{form_elem.ControlId}}" class="form-control"
                              (blur)="logValidationErrors()">
                              <option value="0" selected="selected">---Select---</option>
                              <option *ngFor="let opt of form_elem.Options" value={{opt.value}}>
                                {{opt.name}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div *ngSwitchCase="'CheckBox'">
                        <input type="checkbox" formControlName="{{form_elem.ControlId}}" (blur)="logValidationErrors()">
                      </div>

                      <div class="help-block-rk">
                        <span class="help-block" *ngIf="getErrorMessage(form_elem.ControlId)">
                          {{getErrorMessage(form_elem.ControlId)}}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="FormDesignType=='Grid3'">
            <div *ngFor="let form_elem of formTemplate">
              <div [ngSwitch]="form_elem.ControlType">
                <div class="col-xs-4">
                  <div class="form-group">
                    <label class="control-label" for="{{form_elem.ControlId}}">
                      {{form_elem.Caption}}
                      <span class="mandantory" *ngIf="form_elem.IsMandantory">*</span>
                    </label>
                    <div class="">

                      <div *ngSwitchCase="'TextBox'">
                        <input type="text" [placeholder]="form_elem.ExampleValue"
                          formControlName="{{form_elem.ControlId}}" class="form-control" (blur)="logValidationErrors()"
                          maxlength="{{form_elem.MaxLengthValue}}" />
                      </div>

                      <div *ngSwitchCase="'Number'">
                        <input type="number" [placeholder]="form_elem.ExampleValue"
                          formControlName="{{form_elem.ControlId}}" class="form-control" min="{{form_elem.MinValue}}"
                          max="{{form_elem.MaxValue}}" (blur)="logValidationErrors()" />
                      </div>

                      <div *ngSwitchCase="'TextArea'">
                        <textarea [placeholder]="form_elem.ExampleValue" formControlName="{{form_elem.ControlId}}"
                          class="form-control" (blur)="logValidationErrors()" maxlength="{{form_elem.MaxLengthValue}}">
                                      </textarea>
                      </div>

                      <div *ngSwitchCase="'DropDown'">
                        <div *ngIf="form_elem.DropDownType=='Static'">
                          <select formControlName="{{form_elem.ControlId}}" class="form-control"
                            (blur)="logValidationErrors()">
                            <option value="" selected="selected">---Select---</option>
                            <option *ngFor="let opt of form_elem.Options">
                              {{opt}}
                            </option>
                          </select>
                        </div>
                        <div *ngIf="form_elem.DropDownType=='Dynamic'">
                          <div *ngIf="form_elem.HasChild==true">
                            <select formControlName="{{form_elem.ControlId}}" class="form-control"
                              (blur)="logValidationErrors()"
                              (change)="onchangeDependent(form_elem.ChildControlId,$event.target.value)">
                              <option value="0" selected="selected">---Select---</option>
                              <option *ngFor="let opt of form_elem.Options" value={{opt.value}}>
                                {{opt.name}}
                              </option>
                            </select>
                          </div>

                          <div *ngIf="form_elem.HasChild==false">
                            <select formControlName="{{form_elem.ControlId}}" class="form-control"
                              (blur)="logValidationErrors()">
                              <option value="0" selected="selected">---Select---</option>
                              <option *ngFor="let opt of form_elem.Options" value={{opt.value}}>
                                {{opt.name}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div *ngSwitchCase="'CheckBox'">
                        <input type="checkbox" formControlName="{{form_elem.ControlId}}" (blur)="logValidationErrors()">
                      </div>

                      <div class="help-block-rk">
                        <span class="help-block" *ngIf="getErrorMessage(form_elem.ControlId)">
                          {{getErrorMessage(form_elem.ControlId)}}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12">
            <div>
              <span class="groupspanheader"> Actual Approvers Details </span>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered table-condensed "
                *ngIf="lstDynamicFormWorkFlowDetail && lstDynamicFormWorkFlowDetail.length">
                <thead>
                  <tr>
                    <th> Action Level </th>
                    <th>Name Of Approval</th>
                    <th>Actual Approval Emails </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of lstDynamicFormWorkFlowDetail">
                    <td>{{ user.DisplayOrder   }}</td>
                    <td>{{ user.NameOfApproval}}</td>
                    <td>{{ user.ActualApprovalEmails}}</td>

                  </tr>
                </tbody>
              </table>

              <table class="table table-bordered table-condensed" *ngIf="lstDynamicFormWorkFlowDetail.length==0">
                <thead>
                  <tr>
                    <th> Action Level </th>
                    <th>Name Of Approval</th>
                    <th>Actual Approval Emails </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="3">
                      No Records Found.!
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


        </div>

        <div class="clearfix"> </div>

      </div>
      <div class="panel-footer">
        <div class="pull-right btn-toolbar">
          <button type="button" class="btn btn-primary" routerLink="/Workflowformlist" title="Cancel">
            Cancel
          </button>
          <input type="submit" value="Save" class="btn btn-success" prevent-double-submit
            [disabled]="myFormGroup.invalid" />
        </div>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>

</div>