
.landscren {
  margin-top:.5rem;
}
.signinsection {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
 background-image: url(/assets/images/login-banner.gif);
  background-size: contain; 
  background-color:#000000ba;
  /* background: rgb(28,28,28);
  background: linear-gradient(90deg, rgba(28,28,28,1) 0%, rgba(46,46,46,1) 63%, rgba(57,57,57,1) 100%); */
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position:10% 0;
} 
.landscren p {
  font-size: 10px;
  text-align: center;
  text-transform: capitalize;
  margin-top: 2.5rem;
  display: inline-block;
}
.landscren img {
  margin-bottom: 12px;
}
.landscren h2 {
  font-size:16px;
  font-weight:normal;
  text-align:center;
  text-transform:capitalize;
  margin-bottom:.2rem;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff !important;
  background-image: none;
  border: 1px solid #201e1e;
  border-radius: 0px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 16%);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.loginform-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
      border-bottom-color: rgb(128, 189, 255);
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}
.card {
-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
border: 0;
font-weight: 400;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width:400px;
  height: 270px; 
  word-wrap: break-word;
  background-color: #ffffffb8;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius:0rem;
}

.card-body {
padding: 10px;
-webkit-border-radius: 0!important;
border-radius: 0!important;
background-color: #FFF;
height: 100vh;
}
.form-horizontal .form-group {
  margin-right: 0px ;
  margin-left: 0px;
}
.control-label
{
font-weight:500; 
}
/****/
.form-horizontal .control-label {
  padding-top: 12px !important;
  margin: 0px 4px;
  text-align: right;
  vertical-align: super;
  text-transform: capitalize;
  font-size: 12px;
}
a {
  color: #2f3ee5;
  text-decoration: none;
  font-size:12px;
}
.btn-success {
color: #fff;
background-color: #cf335e;
border-color: #cf335e;
}
.btn-success:hover {
color: #fff;
background-color: #7f7f7f;
border-color: #7f7f7f;
} 
label
{
text-transform: none !important;
}
.actionheading h2
{
  text-transform: capitalize !important;
  margin:20px !important; 
}
.terms p { margin-top:2px; text-transform:inherit; font-size:11px;}
.cardvideo { 
  background-color: #FFF; 
}
/**07012020 SHIVA**/
/*MEDIA QUEARY FOR MOBILE BELOW 4.5*/
@media screen and (max-width:480px) { 
  .centered {
      position: fixed;
      top: 22%;
      right: 0%;
      z-index: 100;
      transform: translate(-0%, -10%);
      -webkit-transform:translate(-0%, -10%);
      -moz-transform: translate(-0%, -10%);
      -o-transform:translate(-0%, -10%);
      -ms-transform:translate(-0%, -10%);
  }
  .card {
      box-shadow: none; 
      width: 360px;
      word-wrap: break-word;
      background-color: #ffffffb8; 
      border: transparent;
  }
  .signinsection { 
      background-size: contain;
      background-position: bottom;
      background-repeat: no-repeat;
  }
  .landscren {
      margin-top: 0.5rem;
  }
}

@media screen and (max-width:768px) { 
    .signinsection {
      width: 100%;
      height: 100vh;
      margin: 0 auto; 
      padding: 0; 
      background-size: contain;
      background-position: bottom;
      background-repeat: no-repeat;
     }
     .centered[_ngcontent-c2] {
      position: fixed;
      top: 40%;
      right: 24%;
      transform: translate(-0%, -50%);
      -webkit-transform: translate(-0%, -50%);
      -moz-transform: translate(-0%, -50%);
      -o-transform: translate(-0%, -50%);
      -ms-transform: translate(-0%, -50%);
      z-index: 100;
  }
}
@media screen and (max-width:1024px) { 
  .signinsection {
    width: 100%;
    height: 100vh;
    margin: 0 auto; 
    padding: 0; 
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
   }  
}
 