<alert></alert>
<div class="signinsection">  
<div class="centered">

  <div class="card col-md-12 mb-4">
    <div class="card-body">
      <form autocomplete="off" [formGroup]="signinForm" (ngSubmit)="PageSignin()" class="form-horizontal">

        <div class='landscren'>

          <div class='text-center'>
            <img src="assets\images\logo.png" alt="Logo" height="80" />
          </div>
          <div>
            <h2>Signin</h2>
          </div>
          <div class="form-group" [ngClass]="{'has-error': formErrors.Email}">
            <div class="">
              <input id="Email" type="text" placeholder='Email' class="form-control" formControlName="Email"
                (blur)="logValidationErrors()">
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.Email  ">
                  {{formErrors.Email }}
                </span>
              </div>
            </div>
          </div>

          <div class="form-group" [ngClass]="{'has-error': formErrors.password}">
            <div class="">
              <input id="password" type="password" placeholder='Password' class="form-control"
                formControlName="password" (blur)="logValidationErrors()">
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.password">
                  {{formErrors.password}}
                </span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-success btn-block" type="submit" prevent-double-submit
              [disabled]="!signinForm.valid">Signin</button>
              
           <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </div>
          <div class="form-group">
            <div class="pull-left">
              <input type="checkbox" id="rememberme" formControlName="rememberme" />
              <label class="control-label" for="rememberme"> Keep me signed in this device</label>
            </div>
            <div class="pull-right">
              <a routerLinkActive="active" routerLink="/ForgotPassword">Forgot Password</a>
            </div>
            <p class="pull-right">
              <a routerLinkActive="active" routerLink="/Companyregister">Not a Member ? sign up now.</a>
            </p>
          
          </div>
        </div>
      </form>
    
    </div>
  </div>
</div>
</div>