<alert></alert>
<ngx-spinner bdOpacity=0.9 size="medium" color="#ce295e" type="ball-fussion" [fullScreen]="true">
  <p style="color: #000000"> Fetching for you ... </p>
</ngx-spinner>
<div class="signinsection">
  <div class='text-center'>
    <img src="assets\images\logo.png" alt="Logo" height="50" style="margin:45px 0px;" />
  </div>
  <div class="centered">
    <div class="card col-md-6 col-xs-12">
      <div class="card-body">
        <form [formGroup]="signinForm" (ngSubmit)="PageSignin()" class="form-horizontal">

          <div class='landscren'>

            <div class="actionheading">
              <h2>Sign In</h2>
            </div>
            <div class="form-group" [ngClass]="{'has-error': formErrors.Email}">
              <div>
                <input id="Email" type="text" placeholder='Email' class="form-control" formControlName="Email"
                  (blur)="logValidationErrors()">
                <div class="help-block-rk">
                  <span class="help-block" *ngIf="formErrors.Email  ">
                    {{formErrors.Email }}
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group" [ngClass]="{'has-error': formErrors.password}">
              <div>
                <input id="password" type="password" placeholder='Password' class="form-control"
                  formControlName="password" (blur)="logValidationErrors()">
                <div class="help-block-rk">
                  <span class="help-block" *ngIf="formErrors.password">
                    {{formErrors.password}}
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <button class="btn btn-success btn-block" type="submit" prevent-double-submit
                [disabled]="!signinForm.valid">Sign In</button>
              <img *ngIf="loading" class="pl-3"
                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
            <div class="form-group">
              <div class="pull-left">
                <input type="checkbox" id="rememberme" formControlName="rememberme" />
                <label class="control-label" for="rememberme"> Keep me signed in this device</label>
              </div>
              <div class="pull-right text-right">
                <div><a routerLinkActive="active" routerLink="/ForgotPassword">Forgot Password</a></div>
                <div><a routerLinkActive="active" routerLink="/Companyregister">Sign Up Company. / </a>
                  <!-- <a routerLinkActive="active" routerLink="/Sellerregistration"> Sign Up
                    Seller</a> -->
                </div>
              </div>
            </div>
            <div class="form-group terms">
              <p>By continuing, you agree to Jennifer's
                <a routerLink="/Termsofuse">Terms of Use</a> and
                <a routerLink="/PrivacyPolicy">Privacy Notice</a>.</p>
            </div>
          </div>
        </form>

      </div>
    </div>
    <div class="card cardvideo col-md-6 col-xs-12">
      <video width="100%" height="257" controls>
        <source src="assets\videos\jenniferchineses.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div>