<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Inventory Detail
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
           GRN
        </li>
        <li>
          Inventory Detail
        </li>
        <li class="active">
          
          List
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <div class="input-group col-sm-12" role="group" aria-label="Basic example">
          <div class="col-md-3 nopading_loct">
            <select [(ngModel)]="SearchInventoryType" class="form-control serchcurv btn-group">
              <option value="" selected="select">Item Level</option>
              <option value="LocationName" selected>Location</option>
              <option value="BrandName">Brand</option>
            </select>
          </div>
          <div class="col-md-3 nopading_loct">
            <select [(ngModel)]="SearchBy" class="form-control serchcurv btn-group">
              <option value="" selected="select">Search By</option>
              <option value="Location">Location</option>
              <option value="Brand">Brand</option>
              <option value="Product">Product</option>
              <option value="Category">Category</option>
              <option value="SubCategory">Sub Category</option>
              <option value="ItemDescription">Item Name</option>
            </select>
          </div>
          <div class="col-md-3 nopading_loct">
            <input (keyup.enter)="Search()" [(ngModel)]="SearchKeyword" type="text" class="form-control btn-group serchcurv">
          </div>
          <div class="col-md-3 nopading_loct">
            <button class="btn btn-default btn-group serchcurv" (click)="Search()" title="Search">
              <i class="fa fa-search " aria-hidden="true"></i>
            </button>
            <button class="btn btn-default btn-group serchcurv" (click)="Refresh()" title="Reset">
              <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <kendo-grid [data]="gridView" resizable="true" columnMenu="true" [pageSize]="pageSize" [skip]="skip" [pageable]="{pageSizes: [10, 25, 50, 100]}"  
      (pageChange)="pageChange($event)" [sortable]="{
            allowUnsort: allowUnsort,
            mode:  'single'
            }" [sort]="sort" (sortChange)="sortChange($event)" [filterable]="true"
      (dataStateChange)="dataStateChange($event)" [filter]="state.filter">

      <kendo-grid-column *ngIf="(SearchInventoryType == 'LocationName')" field="LocationName" title="Location Name">
      </kendo-grid-column>
      <kendo-grid-column *ngIf="(SearchInventoryType == 'BrandName')" field="BrandName" title="Brand Name">
      </kendo-grid-column> 
      <kendo-grid-column field="ItemCode" title="ItemCode">
      </kendo-grid-column>
      <kendo-grid-column field="ItemName" title="Item Description">
      </kendo-grid-column>
      <kendo-grid-column field="EventDate" title="Event Date" filter="date" format="{0:d}" [filterable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.EventDate | date :"MM-dd-yyyy HH:mm" }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="SellableCurrentStock" title="Sellable Current Qty">
      </kendo-grid-column>
      <kendo-grid-column field="UnsellableCurrentStock" title="Unsellable Current Qty">
      </kendo-grid-column>
      <kendo-grid-column field="SellableWarehouseQty" title="Sellable Warehouse Qty">
      </kendo-grid-column>
      <kendo-grid-column field="UnSellableWarehouseQty" title="UnSellable Warehouse Qty">
      </kendo-grid-column>
    </kendo-grid> 
  </div> 
</div>