<p>
  dynamicform works!
</p>


<form [formGroup]="myFormGroup" (ngSubmit)="onSubmit()">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <span class="groupspanheader">
            Form Title
          </span>
        </div>
        <div class="col-sm-6">
          <div class="pull-left">

          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
          <div class="pull-right">
            <button type="button" class="btn btn-primary" routerLink="/Contactlist" title="Back">
              Back
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">

      <!-- dynami controld start -->
      <div class="col-xs-12">
        <div class="pull-right">
          <span (click)="ChangeDesign('Grid1')" class="pointer">Grid 1</span> |
          <span (click)="ChangeDesign('Grid2')" class="pointer">Grid 2</span> |
          <span (click)="ChangeDesign('Grid3')" class="pointer">Grid 3</span>
        </div>
      </div>
      <div *ngIf="formDesignType=='Grid1'">

        <div *ngFor="let form_elem of formTemplate">
          <div [ngSwitch]="form_elem.ControlType">
            <div class="col-xs-12">
              <div class="form-group">
                <label class="col-xs-4 control-label" for="{{form_elem.ControlId}}">
                  {{form_elem.Caption}}
                  <span class="mandantory" *ngIf="form_elem.IsMandantory">*</span>
                </label>
                <div class="col-xs-8">
                  <div *ngSwitchCase="'TextBox'">
                    <input type="text" [placeholder]="form_elem.ExampleValue" [ngClass]="form_elem.ControlSize"
                      formControlName="{{form_elem.ControlId}}" class="form-control" (blur)="logValidationErrors()"
                      maxlength="{{form_elem.MaxLengthValue}}" />
                  </div>
                  <div *ngSwitchCase="'Number'">
                    <input type="number" [placeholder]="form_elem.ExampleValue" [ngClass]="form_elem.ControlSize"
                      formControlName="{{form_elem.ControlId}}" class="form-control" min="{{form_elem.MinValue}}"
                      max="{{form_elem.MaxValue}}" (blur)="logValidationErrors()" />
                  </div>
                  <div *ngSwitchCase="'TextArea'">
                    <textarea [placeholder]="form_elem.ExampleValue" [ngClass]="form_elem.ControlSize"
                      formControlName="{{form_elem.ControlId}}" class="form-control" (blur)="logValidationErrors()"
                      maxlength="{{form_elem.MaxLengthValue}}">
                          </textarea>
                  </div>

                  <div *ngSwitchCase="'DropDown'">
                    <div *ngIf="form_elem.DropDownType=='Static'">
                      <select [ngClass]="form_elem.ControlSize" formControlName="{{form_elem.ControlId}}"
                        class="form-control" (blur)="logValidationErrors()">
                        <option value="" selected="selected">---Select---</option>
                        <option *ngFor="let opt of getDropDownOptions(form_elem.ControlId)">
                          {{opt.name}}
                        </option>
                      </select>
                    </div>
                    <div *ngIf="form_elem.DropDownType=='Dynamic'">

                      <div *ngIf="form_elem.HasChild==true">
                        <select [ngClass]="form_elem.ControlSize" formControlName="{{form_elem.ControlId}}"
                          class="form-control" (blur)="logValidationErrors()"
                          (change)="onchangeDependent(form_elem.ChildControlId,$event.target.value)">
                          <option value="0" selected="selected">---Select---</option>
                          <option *ngFor="let opt of getDropDownOptions(form_elem.ControlId)" value={{opt.value}}>
                            {{opt.name}}
                          </option>
                        </select>
                      </div>

                      <div *ngIf="form_elem.HasChild==false">
                        <select [ngClass]="form_elem.ControlSize" formControlName="{{form_elem.ControlId}}"
                          class="form-control" (blur)="logValidationErrors()">
                          <option value="0" selected="selected">---Select---</option>
                          <option *ngFor="let opt of getDropDownOptions(form_elem.ControlId)" value={{opt.value}}>
                            {{opt.name}}
                          </option>
                        </select>
                      </div>
                     
                    </div>
                  </div>

                  <div *ngSwitchCase="'CheckBox'">
                    <input type="checkbox" formControlName="{{form_elem.ControlId}}" (blur)="logValidationErrors()">
                  </div>

                  <!-- <div *ngSwitchCase="'chechboxlist'">
                    <label *ngFor="let opt of form_elem.options;  let i = index">
                      <input (change)="getCheckboxlistSelected(form_elem.ControlId,opt)" type="checkbox"
                        formControlName="{{form_elem.ControlId}}">
                      {{opt }}
                    </label>
                  </div> -->

                  <div class="help-block-rk">
                    <span class="help-block" *ngIf="getErrorMessage(form_elem.ControlId)">
                      {{getErrorMessage(form_elem.ControlId)}}
                    </span>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div *ngIf="formDesignType=='Grid2'">
        <div *ngFor="let form_elem of formTemplate">
          <div [ngSwitch]="form_elem.ControlType">
            <div class="col-xs-3">
              <div class="form-group">
                <label class="control-label" for="{{form_elem.ControlId}}">
                  {{form_elem.Caption}}
                  <span class="mandantory" *ngIf="form_elem.IsMandantory">*</span>
                </label>
                <div class="">
                  <div *ngSwitchCase="'TextBox'">
                    <input type="text" [placeholder]="form_elem.ExampleValue" [ngClass]="form_elem.ControlSize"
                      formControlName="{{form_elem.ControlId}}" class="form-control" (blur)="logValidationErrors()"
                      maxlength="{{form_elem.MaxLengthValue}}" />
                  </div>
                  <div *ngSwitchCase="'Number'">
                    <input type="number" [placeholder]="form_elem.ExampleValue" [ngClass]="form_elem.ControlSize"
                      formControlName="{{form_elem.ControlId}}" class="form-control" min="{{form_elem.MinValue}}"
                      max="{{form_elem.MaxValue}}" (blur)="logValidationErrors()" />
                  </div>
                  <div *ngSwitchCase="'TextArea'">
                    <textarea [placeholder]="form_elem.ExampleValue" [ngClass]="form_elem.ControlSize"
                      formControlName="{{form_elem.ControlId}}" class="form-control" (blur)="logValidationErrors()"
                      maxlength="{{form_elem.MaxLengthValue}}">
                          </textarea>
                  </div>

                  <div *ngSwitchCase="'DropDown'">
                    <div *ngIf="form_elem.DropDownType=='Static'">
                      <select [ngClass]="form_elem.ControlSize" formControlName="{{form_elem.ControlId}}"
                        class="form-control" (blur)="logValidationErrors()">
                        <option value="" selected="selected">---Select---</option>
                        <option *ngFor="let opt of form_elem.Options">
                          {{opt}}
                        </option>
                      </select>
                    </div>
                    <div *ngIf="form_elem.DropDownType=='Dynamic'">
                      <select [ngClass]="form_elem.ControlSize" formControlName="{{form_elem.ControlId}}"
                        class="form-control" (blur)="logValidationErrors()">
                        <option value="0" selected="selected">---Select---</option>
                        <option *ngFor="let opt of form_elem.Options" value={{opt.value}}>
                          {{opt.name}}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div *ngSwitchCase="'CheckBox'">
                    <input type="checkbox" formControlName="{{form_elem.ControlId}}" (blur)="logValidationErrors()">
                  </div>

                  <!-- <div *ngSwitchCase="'chechboxlist'">
                    <label *ngFor="let opt of form_elem.options;  let i = index">
                      <input (change)="getCheckboxlistSelected(form_elem.ControlId,opt)" type="checkbox"
                        formControlName="{{form_elem.ControlId}}">
                      {{opt }}
                    </label>
                  </div> -->

                  <div class="help-block-rk">
                    <span class="help-block" *ngIf="getErrorMessage(form_elem.ControlId)">
                      {{getErrorMessage(form_elem.ControlId)}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="formDesignType=='Grid3'">
        <div *ngFor="let form_elem of formTemplate">
          <div [ngSwitch]="form_elem.ControlType">
            <div class="col-xs-4">
              <div class="form-group">
                <label class="control-label" for="{{form_elem.ControlId}}">
                  {{form_elem.Caption}}
                  <span class="mandantory" *ngIf="form_elem.IsMandantory">*</span>
                </label>
                <div class="">
                  <div *ngSwitchCase="'TextBox'">
                    <input type="text" [placeholder]="form_elem.ExampleValue" [ngClass]="form_elem.ControlSize"
                      formControlName="{{form_elem.ControlId}}" class="form-control" (blur)="logValidationErrors()"
                      maxlength="{{form_elem.MaxLengthValue}}" />
                  </div>
                  <div *ngSwitchCase="'Number'">
                    <input type="number" [placeholder]="form_elem.ExampleValue" [ngClass]="form_elem.ControlSize"
                      formControlName="{{form_elem.ControlId}}" class="form-control" min="{{form_elem.MinValue}}"
                      max="{{form_elem.MaxValue}}" (blur)="logValidationErrors()" />
                  </div>
                  <div *ngSwitchCase="'TextArea'">
                    <textarea [placeholder]="form_elem.ExampleValue" [ngClass]="form_elem.ControlSize"
                      formControlName="{{form_elem.ControlId}}" class="form-control" (blur)="logValidationErrors()"
                      maxlength="{{form_elem.MaxLengthValue}}">
                              </textarea>
                  </div>

                  <div *ngSwitchCase="'DropDown'">
                    <div *ngIf="form_elem.DropDownType=='Static'">
                      <select [ngClass]="form_elem.ControlSize" formControlName="{{form_elem.ControlId}}"
                        class="form-control" (blur)="logValidationErrors()">
                        <option value="" selected="selected">---Select---</option>
                        <option *ngFor="let opt of form_elem.Options">
                          {{opt}}
                        </option>
                      </select>
                    </div>
                    <div *ngIf="form_elem.DropDownType=='Dynamic'">
                      <select [ngClass]="form_elem.ControlSize" formControlName="{{form_elem.ControlId}}"
                        class="form-control" (blur)="logValidationErrors()">
                        <option value="0" selected="selected">---Select---</option>
                        <option *ngFor="let opt of form_elem.Options" value={{opt.value}}>
                          {{opt.name}}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div *ngSwitchCase="'CheckBox'">
                    <input type="checkbox" formControlName="{{form_elem.ControlId}}" (blur)="logValidationErrors()">
                  </div>

                  <!-- <div *ngSwitchCase="'chechboxlist'">
                        <label *ngFor="let opt of form_elem.options;  let i = index">
                          <input (change)="getCheckboxlistSelected(form_elem.ControlId,opt)" type="checkbox"
                            formControlName="{{form_elem.ControlId}}">
                          {{opt }}
                        </label>
                      </div> -->

                  <div class="help-block-rk">
                    <span class="help-block" *ngIf="getErrorMessage(form_elem.ControlId)">
                      {{getErrorMessage(form_elem.ControlId)}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div *ngIf="formDesignType=='Grid1'">

        <div *ngFor="let form_elem of formTemplate">
          <div [ngSwitch]="form_elem.ControlType">
            <div class="col-xs-12">
              <div class="form-group">
                <label class="col-xs-4 control-label" for="{{form_elem.ControlId}}">
                  {{form_elem.Caption}}
                  <span class="mandantory" *ngIf="form_elem.IsMandantory">*</span>
                </label>
                <div class="col-xs-8">
                  <div *ngSwitchCase="'TextBox'">
                    {{ getDataByCaption(form_elem.ControlId)}}
                  </div>
                  <div *ngSwitchCase="'Number'">
                    {{ getDataByCaption(form_elem.ControlId)}}
                  </div>
                  <div *ngSwitchCase="'TextArea'">
                    {{ getDataByCaption(form_elem.ControlId)}}
                  </div>

                  <div *ngSwitchCase="'DropDown'">
                    <div *ngIf="form_elem.DropDownType=='Static'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>
                    <div *ngIf="form_elem.DropDownType=='Dynamic'">

                      <div *ngIf="form_elem.HasChild==true">
                        {{ getDataByCaption(form_elem.ControlId)}}
                      </div>

                      <div *ngIf="form_elem.HasChild==false">
                        {{ getDataByCaption(form_elem.ControlId)}}
                      </div>

                    </div>
                  </div>

                  <div *ngSwitchCase="'CheckBox'">
                    <div *ngIf="getDataByCaption(form_elem.ControlId)==true">
                      Yes
                    </div>
                    <div *ngIf="getDataByCaption(form_elem.ControlId)==false">
                      No
                    </div>
                  </div>

                  <div class="help-block-rk">
                    <span class="help-block">

                    </span>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-xs-12">
        <span class="groupspanheader">Reference Details</span>
        <table class="table table-bordered table-condensed " *ngIf="formTemplate && formTemplate.length">
          <thead>
            <tr>
              <th>#</th>
              <th>Column Name</th>
              <th>Max Length</th>
              <th>Validation</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of formTemplate;let i=index">
              <td>{{ i +1  }}</td>
              <td>{{ obj.Caption}}</td>
              <td>{{ obj.MaxLengthValue}}</td>
              <td class="text-center" *ngIf="(obj.IsMandantory)"><i class="fa fa-check"></i></td>
              <td class="text-center" *ngIf="(!obj.IsMandantory)"><i class="fa fa-times"></i></td>
            </tr>
          </tbody>
        </table>
      </div> -->
    </div>
    <!-- dynami controld end -->
    <div class="panel-footer">
      <div class="pull-right btn-toolbar">
        <button type="button" class="btn btn-primary" routerLink="/Contatlist" title="Cancel">
          Cancel
        </button>
        <input type="submit" value="Save" class="btn btn-success" prevent-double-submit
          [disabled]="myFormGroup.invalid" />
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</form>