<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Stores
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
           <span> Master</span>
        </li>
        <li>
           <span> Stores</span>
        </li>
        <li class="active">
          
          List
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
        <div class="pull-right">
          <button class="btn btn-primary" (click)="AddNewLink()">Add New</button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <kendo-grid [data]="gridView" resizable="true" columnMenu="true" [pageSize]="pageSize" [skip]="skip" [pageable]="{pageSizes: [10, 25, 50, 100]}"
      (pageChange)="pageChange($event)" [sortable]="{
        allowUnsort: allowUnsort,
        mode:  'single'
        }" [sort]="sort" (sortChange)="sortChange($event)" [filterable]="true"
      (dataStateChange)="dataStateChange($event)" [filter]="state.filter">

      <kendo-grid-column field="StoreName" title="Store Name">
      </kendo-grid-column>
      <kendo-grid-column field="BusinessLaunchDate" title="Business Launch Date" filter="date" format="{0:d}"
        [filterable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.BusinessLaunchDate | date :"MM-dd-yyyy" }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="MarketPlaceSellerID" title="Market Place Seller ID">
      </kendo-grid-column>
      <kendo-grid-column field="MarketPlace" title="Market Place">
      </kendo-grid-column>

      <kendo-grid-column field="IsActive"  title="IsActive" [class]="{'text-center': true}"  filter="boolean" width="80">
        <ng-template kendoGridCellTemplate let-dataItem>
          <i [class]="dataItem.IsActive ? 'fa fa-check': 'fa fa-times'" aria-hidden="true"></i>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="CompanyDetailID" title="Action" [class]="{'text-center': true}"  [filterable]="false" [sortable]="false" width="70" >
        <ng-template kendoGridCellTemplate let-obj>
          <i class="fa fa-edit bgblue pointer" title="Edit" 
          [routerLink]="['/Companydetails', obj.CompanyDetailID]"></i>
          &nbsp;
          <i class="fa fa-trash bgred pointer" title="Delete"
            (click)="confirmDeleteid(obj.CompanyDetailID,obj.StoreName)"></i>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid> 
  </div>
  <div id="modaldeleteconfimation" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="modaldeleteconfimation" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header paddingTopBottom-5 ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modaldeleteconfimation">Confirmation</h4>
        </div>
        <div class="modal-body alert-warning">
          <div class="row">
            <div class="col-xs-2">
              <i class="fa fa-warning fa-3x "></i>
            </div>
            <div class="col-xs-10">
              <div>
                <h5>
                  Are you sure you want to delete this value <span> {{deleteColumn}}</span>?
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger btn-sm" (click)="delete()">Yes</button>
          &nbsp;
          <button class="btn btn-default btn-sm" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>