<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Sales Order Approval
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
           <span> Revenue</span>
        </li>
        <li>
            <span> Sales Order Approval </span>
        </li>
        <li class="active">
          
          List
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <div class="input-group col-sm-12" role="group" aria-label="Basic example">
          <div class="col-md-3 nopading_loct">
            <select class="form-control serchcurv btn-group" [(ngModel)]="SearchBy">
              <option value="" selected="select">Search By</option>
              <option value="OrderID">OrderID</option>
              <option value="OrderStatus">Order Status</option>
              <option value="InventoryType">Inventory Type</option>
              <option value="TransactionType">Transaction Type</option>
              <option value="CustomerName">Customer Name</option>
              <option value="ByApprovalStatus"> Approval </option>
              <option value="OrderDate">Order Date</option>
            </select>
          </div>
          <div class="col-md-4 nopading_loct" *ngIf="(SearchBy!='OrderDate')">
            <input (keyup.enter)="Search()" [(ngModel)]="SearchKeyword" type="text" class="serchcurv form-control btn-group">
          </div>
          <div class="col-md-4 nopading_loct" *ngIf="(SearchBy=='OrderDate')">
            <input type="text" ngxDaterangepickerMd [(ngModel)]="selectedDateRange"
              class="serchcurv form-control btn-group col-xs-12 pointer"
              style="border:1px soloid #ccc !important; padding :3px;left:0px" [showCustomRangeLabel]="true"
              [ranges]="Searchranges" [showCancel]="true" placeholder="Select please..."
              (ngModelChange)="onChange($event)" [autoApply]="true" />
          </div>
          <div class="col-md-2 nopading_loct">
            <button class="serchcurv btn btn-default btn-group" (click)="Search()" title="Search">
              <i class="fa fa-search " aria-hidden="true"></i>
            </button>
            <button class="serchcurv btn btn-default btn-group" (click)="Refresh()" title="Reset">
              <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <kendo-grid [data]="gridView" resizable="true" columnMenu="true" [pageSize]="pageSize" [skip]="skip" [pageable]="{pageSizes: [10, 25, 50, 100]}"
      (pageChange)="pageChange($event)" [sortable]="{
          allowUnsort: allowUnsort,
          mode:  'single'
          }" [sort]="sort" (sortChange)="sortChange($event)" [filterable]="true"
      (dataStateChange)="dataStateChange($event)" [filter]="state.filter">

      <kendo-grid-column field="OrderID" title="Order ID">
      </kendo-grid-column>
      <kendo-grid-column field="OrderDate" title="Order Date" filter="date" format="{0:d}" [filterable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.OrderDate | date :"MM-dd-yyyy HH:mm" }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="CustomerName" title="Customer Name">
      </kendo-grid-column> 
      <kendo-grid-column field="InventoryType" title="Inventory Type">
      </kendo-grid-column>
      <kendo-grid-column field="TransactionType" title="Transaction Type">
      </kendo-grid-column> 
      <kendo-grid-column field="TotalValue" title="Total Value" format="{0:##,#.##}">
      </kendo-grid-column>
      <kendo-grid-column field="OrderStatus" title="Order Status">
      </kendo-grid-column>
      <kendo-grid-column field="ApprovalStatus" title="Approval Status">
      </kendo-grid-column>

      <kendo-grid-column field="SalesOrderID" title="Action" [class]="{'text-center': true}" [filterable]="false" [sortable]="false" width="70" >
        <ng-template kendoGridCellTemplate let-obj>
          <i [ngClass]="(obj.ApprovalStatus=='Approved'?'fa fa-eye bgblue pointer' :'fa fa-edit bgblue pointer')"
            [routerLink]="['/Salesorderapproval', obj.SalesOrderID]" title="Approval"></i>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>

  </div>
</div>