<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Refund
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
          <span> Receipts</span>
        </li>
        <li>
          <span> Refund</span>
        </li>
        <li class="active">

          Save
        </li>
      </ol>
    </div>
  </div>
</div>
<form (ngSubmit)="SaveData()" [formGroup]="refundForm">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <span class="groupspanheader">
            Add New Refund
          </span>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
          <div class="pull-right">
            <button class="btn btn-primary" routerLinkActive="active" routerLink="/Refundlist">Back</button>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-2 col-xs-12">
          <div class="form-group">
            <label class="control-label"> Customer Name</label>
            <div>
              {{obj?.CustomerName}}
              <div class="help-block-rk">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-xs-12">
          <div class="form-group">
            <label class="control-label">CN Type</label>
            <div>
              {{obj?.CNType}}
              <div class="help-block-rk">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-xs-12">
          <div class="form-group">
            <label class="control-label"> CN Number</label>
            <div>
              {{obj?.CNNumber}}
              <div class="help-block-rk">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-xs-12">
          <div class="form-group">
            <label class="control-label"> CN Date</label>
            <div>
              {{obj?.CNDate | date :"MM-dd-yyyy HH:mm"}}
              <div class="help-block-rk">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-xs-12">
          <div class="form-group">
            <label class="control-label"> CN Amount </label>
            <div>
              {{obj?.TotalAmount | currency: 'INR' }}
              <div class="help-block-rk">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-xs-12">
          <div class="form-group">
            <label class="control-label"> Pending Amount </label>
            <div>
              {{obj?.PendingTotalAmount | currency: 'INR' }}
              <div class="help-block-rk">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-xs-12" [ngClass]="{'has-error': formErrors.TransactionDate}">
          <div class="form-group">
            <label class="control-label" for="TransactionDate">Transaction Date<span class="mandantory">
                *</span></label>
            <div>
              <div class='input-group date'>
                <input type="text" ngxDaterangepickerMd [minDate]="MinDate"
                  [maxDate]="MaxDate" [singleDatePicker]="true" class="form-control" id="TransactionDate"
                  [locale]="{format: 'MM-DD-YYYY HH:mm'}" [timePicker]="true" [autoApply]="true"
                  (change)="logValidationErrors()" formControlName="TransactionDate" />
                <label class="fa fa-calendar"></label>
              </div>
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.TransactionDate">
                  {{formErrors.TransactionDate}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="form-group"  [ngClass]="{'has-error': formErrors.RefundMode}">
            <label class="control-label" for="RefundMode"> Refund Mode  <span
              class="mandantory">*</span></label> 
            <div>
              <select id="RefundMode" class="form-control" formControlName="RefundMode"
                (change)="onchangeRefundMode($event.target.value)">
                <option value="" selected="selected">Select</option>
                <option *ngFor="let c1 of lstRefundMode" value={{c1.DropdownValue}}>
                  {{c1.DropDownDescription}}
                </option>
              </select>
              <div class="help-block-rk"> 
                <span class="help-block" *ngIf="formErrors.RefundMode">
                  {{formErrors.RefundMode}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12" *ngIf="RefundMode == 'ONLINE'">
          <div class="form-group" [ngClass]="{'has-error': formErrors.TransactionNumber}">
            <label class="control-label" for="TransactionNumber">Transaction No. <span
                class="mandantory">*</span></label>
            <input type="text" id="TransactionNumber" class="form-control" (blur)="logValidationErrors()"
              formControlName="TransactionNumber" maxlength="30">
            <div class="help-block-rk">
              <span class="help-block" *ngIf="formErrors.TransactionNumber">
                {{formErrors.TransactionNumber}}
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12" >
          <div class="form-group" [ngClass]="{'has-error': formErrors.RefundAmount}">
            <label class="control-label" for="RefundAmount">Refund Amount <span
                class="mandantory">*</span></label>
            <input type="text" id="RefundAmount" class="form-control" (blur)="logValidationErrors()"
              formControlName="RefundAmount" maxlength="10" onkeypress="return /[0-9.]/i.test(event.key)">
            <div class="help-block-rk">
              <span class="help-block" *ngIf="formErrors.RefundAmount">
                {{formErrors.RefundAmount}}
              </span>
            </div>
          </div>
        </div> 
      </div>
      <div class="row">
        <div class="col-md-8 col-xs-12">
          <div class="form-group">
            <label class="control-label" for="Remarks">Remarks</label>
            <input type="text" id="Remarks" class="form-control" formControlName="Remarks" maxlength="500" >
          </div>
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <div class="btn-toolbar pull-right">
        <button type="button" id="cancel" class="btn btn-primary" routerLink="/Refundlist">Cancel</button>
        <button prevent-double-submit type="submit" id="save" class="btn btn-success"
          [disabled]="!refundForm.valid">Save</button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</form>