<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Seller Information
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
          <span> Cross Border</span>
        </li>
        <li>
          <span>Seller</span>
        </li>
        <li class="active">
          Information
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <span class="groupspanheader">
          Seller Information
        </span>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
        <div class="pull-right">
          <button type="button" class="btn btn-primary" routerLinkActive="active"
            routerLink="/CrossBorder/Sellerlist">Back</button>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="panel-body">

    <div class="row">
      <div class="col-xs-4 col-sm-2 ">
        RK SellerID : <b>{{obj?.RKSellerID}}</b>

      </div>
      <div class="col-xs-4 col-sm-2 ">
        Status : <b>{{obj?.ApprovalStatus}}</b>

      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-6 col-sm-4 ">
        Company Name (Pinyin)* 公司名称（拼音）:
      </div>

      <div class="col-xs-6 col-sm-2 ">
        <b>{{obj?.CompanyName}}</b>
      </div>

    </div>
    <hr>
    <div class="row">
      <div class="col-xs-6 col-sm-4 ">
        Company Phone Number* 公司电话 :
      </div>
      <div class="col-xs-6 col-sm-2 ">
        <b>{{obj?.CompanyPhoneNumber}}</b>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-6 col-sm-4 ">
        Company Address (Pinyin)* 公司地址 （拼音）:
      </div>
      <div class="col-xs-6 col-sm-2 ">
        <b>{{obj?.CompanyAddress}} </b>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-6 col-sm-4 ">
        Upload Business license (jpg, pdf, png)* 上传营业执照（jpg, pdf, png）:
      </div>
      <div class="col-xs-6 col-sm-2 ">
        <i class="fa fa-download bgblue pointer" (click)="DownloadButtonClick(obj.BusinessLicense)"
          title="Download"></i>

      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-6 col-sm-4 ">
        Contact Person Name * 联系人（英文名/拼音）:
      </div>
      <div class="col-xs-6 col-sm-2 ">
        <b>{{obj?.ContactPersonName}} </b>
      </div>
    </div>
    <hr>
    <hr>
    <div class="row">
      <div class="col-xs-6 col-sm-4 ">
        Email Id* 邮箱 ID :
      </div>
      <div class="col-xs-6 col-sm-2 ">
        <b>{{obj?.Email}} </b>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-6 col-sm-4 ">
        Mobile number * 手机号码 :
      </div>
      <div class="col-xs-6 col-sm-2 ">
        <b>{{obj?.MobileNumber}} </b>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-6 col-sm-4 ">
        WeChat ID* 微信ID :
      </div>
      <div class="col-xs-6 col-sm-2 ">
        <b>{{obj?.WechatID}} </b>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-6 col-sm-4 ">
        Select IOR Partner* 选择进口商伙伴 :
      </div>
      <div class="col-xs-6 col-sm-2 ">
        <b>{{obj?.IORPartner}} </b>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-6 col-sm-4 ">
        Select PSP 选择支付服务提供商 :
      </div>
      <div class="col-xs-6 col-sm-2 ">
        <b>{{obj?.PSP}} </b>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-6 col-sm-4 ">
        PSP Account ID (if any) 支付服务提供商账号（如果有）:
      </div>
      <div class="col-xs-6 col-sm-2 ">
        <b>{{obj?.PSPAccountNumber}} </b>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-6 col-sm-4 ">
        Select EOR Partner*选择出口商伙伴 :
      </div>
      <div class="col-xs-6 col-sm-2 ">
        <b>{{obj?.VendorName}} </b>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-6 col-sm-4 ">
        Select Logistics Partner 选择物流公司 :
      </div>
      <div class="col-xs-6 col-sm-2 ">
        <b>{{obj?.LogisticsPartner}} </b>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-6 col-sm-4 ">
        Total number of Preferred SKUs you want to list* 您要列出的首选SKU总数 :
      </div>
      <div class="col-xs-6 col-sm-2 ">
        <b>{{obj?.NoofSKUs}} </b>
      </div>
    </div>
    <hr>

    <div class=" col-xs-12 col-sm-12">
      <div class="pull-right btn-toolbar">

      </div>
    </div>

  </div>