<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Profit Analysis
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
          <span> Management </span>
        </li>
        <li>
          <span> Profit Analysis </span>
        </li>
        <li class="active">
          Details
        </li>
      </ol>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-12">
        Product Main Categories

      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        Product Sub Categories
      </div>
      <div class="col-sm-4">
        Sort By Revenue :
        <b *ngIf="RevenueSort" class="pointer" (click)="doRevenueSort()">
          High to Low
        </b>
        <b *ngIf="!RevenueSort" class="pointer" (click)="doRevenueSort()">
          Low to High
        </b>
      </div>
      <div class="col-sm-2">
        <div class="pull-right">

          <i class="fa fa-list pointer" title="List" (click)="doshowdatalist()">
          </i>
          |
          <i class="fa fa-th-list pointer" title="Details" (click)="doshowdatadetail()">
          </i>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-body">


    <div class="col-md-12">
      <div class="row">

        <div class="col-md-4 text-center">

          <p> Revenue </p>
          <!-- [fixedTickWidth]="20" -->
          <kendo-slider [tickPlacement]="'none'" [min]="0" [max]="50" [smallStep]="RevenuesmallStep"
            [(ngModel)]="RevenueRange" (ngModelChange)="onchange_RevenuesmallStep($event)">
            <kendo-slider-messages increment="Right" decrement="Left"></kendo-slider-messages>
          </kendo-slider>
          <p>
            {{RevenueRange}} Lakhs
          </p>
        </div>
        <div class="col-md-4 text-center">
          <p> Net Profit % </p>
          <kendo-slider [tickPlacement]="'none'" [min]="1" [max]="100" [smallStep]="NetProfitsmallStep"
            [(ngModel)]="NetProfitRange">
            <kendo-slider-messages increment="Right" decrement="Left"></kendo-slider-messages>
          </kendo-slider>
          <p>
            {{NetProfitRange}} %
          </p>

        </div>
        <div class="col-md-4 text-center">
          <p> Stock Days </p>

          <kendo-slider [tickPlacement]="'none'" [min]="1" [max]="180" [smallStep]="StockDaysmallStep"
            [(ngModel)]="StockDaysRange">
            <kendo-slider-messages increment="Right" decrement="Left"></kendo-slider-messages>
          </kendo-slider>
          <p>
            {{StockDaysRange}} Days
          </p>

        </div>

      </div>
    </div>

    <div class="col-md-12">
      <br />
      <!-- [pageable]="pagerSettings" [pageSize]="pageSize"  -->
      <kendo-listview [kendoListViewBinding]="products" [containerClass]="''"
        [pageable]="{pageSizes: [10, 25, 50, 100, 250, 500]}" [pageSize]="pageSize">
        <ng-template kendoListViewHeaderTemplate>
          <div class="header">
            <div class="title">
              Inventory
            </div>
            <!-- <kendo-textbox placeholder="Filter items..." (valueChange)="handleFilterChange($event)">
              <ng-template kendoTextBoxSuffixTemplate>
                <span class="k-icon k-i-search"></span>
              </ng-template>
            </kendo-textbox> -->
            <!-- <input placeholder="Search in all columns..." style="float:right;" kendoTextBox
            (input)="onFilter($event.target.value)" /> -->
          </div>
        </ng-template>

        <ng-template kendoListViewItemTemplate let-dataItem="dataItem">
          <div [ngClass]="ItemPerRow==3?'col-md-3':'col-md-6' ">
            <div class="item">

              <div class="pull-left">
                <span class="badge badge-primary"> New </span>
              </div>
              <div class="pull-right">
                <i class="fa fa-heart fa-2x favorite pointer" (click)="markitasfavorite(dataItem.productID)"
                  title="Mark as Favorite"> </i>
              </div>
              <div class="text-center">
                <a class="pointer" href="{{ 'https://www.amazon.in/dp/' + dataItem.ItemCode}}" target="_blank">
                  <img [src]="dataItem.ImagePath" width="200" height="300" title="Click To View"
                    class="img-responsive img-thumbnail " />
                </a>
              </div>
              <h2>{{ dataItem.categoryName }} </h2>
              <p> {{ dataItem.productName }}</p>
              <p> {{ dataItem.unitPrice }}</p>
              <hr>
              <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more »</a>
              </p>
            </div>
          </div>
        </ng-template>

        <ng-template kendoListViewFooterTemplate>
          <div class="footer">
            <div class="meta">
              {{ products.length }} products in total
            </div>
            <!-- <div class="reload-section">
              <button class="k-button" (click)="reloadData(listView)">
                <span class="k-icon k-i-reload"></span>
                <span class="reload-text">Reload</span>
              </button>
            </div> -->
          </div>
        </ng-template>

      </kendo-listview>
    </div>

  </div>

  <div class="panel-footer">
    <div class="clearfix"></div>
  </div>

</div>