<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Purchase Invoices
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
          <span> Procurements</span>
        </li>
        <li>
          <span> Purchase Invoices </span>
        </li>
        <li class="active">

          View
        </li>
      </ol>
    </div>
  </div>
</div>
<form  >
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6 col-md-3 col-lg-3">
          <span class="groupspanheader">
            Purchase Invoice View
          </span>
        </div>
        <div class="col-md-5">

        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
          <div class="pull-right">
            <button type="button" class="btn btn-primary" routerLink="/Purchaselist" title="Back">
              Back
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">

        <div class="col-md-6 col-xs-12">
          <div class="groupspanheader"> Invoice Information </div>
          <div class="table-responsive">
            <table class="bgtable table table-bordered">
              <tr>
                <th width="180px">
                  Invoice Number <span class="mandantory">*</span> </th>
                <td> {{obj?.InvoiceNumber}}</td>
              </tr>
              <tr>
                <th width="180px">
                  Invoice Date<span class="mandantory">*</span> </th>
                <td> {{obj?.InvoiceDate | date :"MM-dd-yyyy HH:mm"}}</td>
              </tr>
              <tr>
                <th width="180px">
                  Vendor Warehouse <span class="mandantory">*</span></th>
                <td> {{obj?.WarehouseName}} </td>
              </tr>
              <tr>
                <th width="180px"> Remarks <span class="mandantory">*</span> </th>
                <td> {{obj?.Remarks}} </td>
              </tr>

            </table>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <span class="groupspanheader"> PO Information </span>
          <div class="table-responsive">
            <table class="bgtable table table-bordered"> 
              <tr>
                <th width="180px"> PO No. </th>
                <td> {{obj?.PONumber}} </td>
              </tr>
              <tr>
                <th width="180px">
                  Location </th>
                <td> {{obj?.LocationName}} </td>
              </tr>
              <tr>
                <th width="180px">
                  Vendor <span class="mandantory">*</span> </th>
                <td> {{obj?.VendorName}} </td>
              </tr> 
            </table>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-12 col-xs-12">
          <span class="groupspanheader"> Order Items</span>
          <div class="table-responsive">
            <table class="table table-bordered table-condensed">
              <thead>
                <tr>
                  <th class="text-center">ItemCode</th>
                  <th class="text-center">Vendor ItemCode </th>
                  <th class="text-center">Qty</th>
                  <th class="text-center">Rate</th>

                  <th class="text-center">MRP</th>
                  <th class="text-center">TaxRate</th>
                  <th class="text-center">TaxNature</th>
                  <th class="text-center">DirectCost</th>
                  <th class="text-center">TaxAmount</th>

                  <th class="text-center">TotalAmount</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let person of  obj?.lstItem; let id = index">
                  <td> {{person.ItemCode}} </td>
                  <td> {{person.VendorItemCode}} </td>
                  <td class="text-right"> {{person.Qty}} </td>
                  <td class="text-right"> {{person.Rate}} </td>

                  <td class="text-right"> {{person.MRP | currency: 'INR' }} </td>
                  <td class="text-right"> {{person.TaxRate}} </td>
                  <td> {{person.TaxNature}} </td>
                  <td class="text-right"> {{person.DirectCost | currency: 'INR' }} </td>
                  <td class="text-right"> {{person.TaxAmount | currency: 'INR' }} </td>

                  <td class="text-right"> {{person.TotalAmount | currency: 'INR' }} </td>
                </tr>

                <tr>
                  <th>Total</th>
                  <th> </th>
                  <th class="text-right"> {{ TotalQty}}</th>
                  <th class="text-right"> {{ TotalRate}}</th>


                  <th class="text-right"> {{ TotalMRP | currency: 'INR' }} </th>
                  <th class="text-right"> </th>
                  <th> </th>
                  <th class="text-right"> {{ TotalDirectCost | currency: 'INR'}} </th>
                  <th class="text-right"> {{ TotalTaxAmount | currency: 'INR'}} </th>

                  <th class="text-right"> {{ TotalTotalAmount | currency: 'INR'}} </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>

    </div>
  </div>


</form>