<section class="container">
  <h2>TERMS OF USE</h2>
  <h4>GENERAL</h4>
  <p>
    This document is an electronic record in terms of the Information Technology Act, 2000 and rules
    there under as applicable and the amended provisions pertaining to electronic records in various
    statutes as amended by the Information Technology Act, 2000. This electronic record is generated
    by a computer system and does not require any physical or digital signatures.
  </p>
  <p>
    This document is a legal agreement between you, the user (<strong>“User” or “You” or “Your”</strong>)
    and [•], (<strong>“Us”, “Our”, “We”, “Company”</strong>) with respect to Your use of our Company
    Application/s called ‘Jennifer’ through any Platform (defined later in the Schedule), stating the
    rms that govern your use of the Company Application/s. The Company and User are hereinafter
    collectively referred to as the “Parties” and individually as a “Party”. You may request a .pdf
    copy of this Terms of Use by emailing us at [●]. The use of Company Application/s is only
    authorised through the Platforms and is subject to your compliance with these Terms of Use.
    If you do not agree to these Terms of Use, you are not entitled to use the Company Application/s
    and any use thereafter shall be unauthorized. These Terms of Use shall apply whenever you access
    or use Company Application/s.
  </p>
  <p>
    Unless otherwise specified, the content on the Company Application/s is available for individuals
    aged 18 years or older. Your access to and use of this Application is, at all times, subject to
    these Terms of Use and all applicable laws, rules, and regulations.
  </p>
  <p>
    Please read the Terms of Use carefully. By downloading, installing, or otherwise accessing or
    using the Company Applications, you agree that you have read, understood, and agree to be bound
    by the Terms of Use. If the terms of this Terms of Use are not acceptable to you, please do not
    proceed to use the Company Application/s or any part thereof.
  </p>
  <p>
    Upon your consenting to the Terms of Use and any other policies of the Company
    (which are incorporated by reference into this Terms of Use), the Company hereby grants you a
    limited, revocable, non-assignable and non-exclusive license to access and use the Company
    Application. This license is for the sole purpose of enabling you to use the Company Application
    in the manner expressly permitted by these Terms of Use and for the duration and on payment terms
    agreed with the Company.
  </p>
  <p>
    Any new features, tools, products or services which are added to the Company Applications shall
    also be subject to the Terms of Use. You can review the most current version of the Terms of Use
    at any time on the Company Application. We reserve the right to update, change or replace any part
    of these Terms of Use by posting updates and/or changes, including but not limited to, charging
    or changing fees for access to Company Applications. It is your responsibility to check the
    Terms of Use periodically for changes. Your continued use of or access to the Company Application
    following the posting of any changes constitutes your acceptance of those changes.
  </p>
  <font>All the capitalised terms are defined in the Schedule below.</font>
  <h3>1. ACCEESS TO THE COMPANY APPLICATIONS</h3>
  <p>
    1.1. When you use the Company Application/s or send any data, information or communication to
    us, you agree and understand that you are communicating with us through electronic records,
    and you also consent to receiving communications via electronic records from us periodically
    and as and when required. We will communicate with you by email or any push or other message or
    electronic records on the email address and/or mobile number available with us.
  </p>
  <p>
    1.2. It is your responsibility to ensure your equipment (computer, laptop, netbook, tablet or
    other mobile device) meets all the necessary technical specifications and is compatible with our
    Services to enable your access and use of the Company Applications.
  </p>
  <p>
    1.3. You must ensure that the details provided by you are accurate and treat such information as
    confidential. Based on the information provided by you to us, you may be provided with a login
    identification (such as a username and password or any other identifier). You are solely
    responsible for all activities that occur under your login identification and must notify us
    immediately of any unauthorised use or other security breach relating to your login
    identification. We reserve the right to block, disable or delete any login identification,
    at any time, if in our opinion, you have failed to comply with any of the provisions of the
    Terms of Use or any other Policies, or if any details you provide for the purposes of
    registering as a user of the Company Applications prove to be false or a misrepresentation.
  </p>
  <p>
    1.4. You consent to any collection, use or disclosure of personal information or personally
    identifiable data required to provide you with access to the Company Applications, as per the
    Privacy Policy of the Company.
  </p>
  <p>
    1.5. You agree that we may collect and use technical data and related information, including
    but not limited to technical information about your device, system and application software,
    and peripherals, that is gathered periodically, to facilitate the provision of software updates,
    product support, and other services to you (if any). We may use this information as per the
    Privacy Policy of the Company, including to improve our products or services or technologies.
  </p>
  <h3>2. PRINCIPAL UNDERSTANDING</h3>
  <p>The Company has developed the Company Applications viz. <strong>“Jennifer”</strong> which You may
    subscribe to and access as per your business requirements in compliance with these Terms of Use.
    Only users approved by you (your enterprise) will be allowed to access and use the Company
    Applications.
  </p>
  <p>A. Jennifer: [<i>insert description of Jennifer</i>]</p>
  <p>
    In this regard, we thank you for subscrbing to the Company Application,<strong>Jennifer</strong>, and the Company
    hereby provides you access to the Company Application, <strong>Jennifer</strong>, during your subscription, subject
    to the following Terms of Use governing Your subscription and use of the Company Application,
    <strong>Jennifer</strong>.
  </p>
  <h3>3. RIGHTS</h3>
  <p>
    3.1.<strong> Ownership of Rights:</strong> You understand, agree and acknowledge that all the Company Applications
    Rights are solely and exclusively owned and controlled by the Company for the period of perpetuity
    throughout the world. Nothing in these Terms of Use shall be construed to mean that you or any
    third party have any right, title or interest whatsoever in any Company Application/s and/or in
    any Company Applications Rights. The Company Applications are protected by copyright, trademark
    and other Indian laws, and nothing in these Terms of Use or any policies gives you a right to use
    the name or any of the trademarks, logos, domain names, distinctive brand features or any other
    intellectual property rights of the Company. We hereby grant you a mere non–exclusive limited
    right to use the Company Application in the manner provided herein.
  </p>
  <p>
    3.2. You are solely responsible for any and all Content displayed on, or transmitted via the
    Company Application. Any Content provided by us is on an ‘as is’ basis and your access to and
    use of the Company Application and any of our Content is at your own risk. You understand that
    when using the Company Application, you may be exposed to content from a variety of sources, and
    that the Company is not responsible for the accuracy, usefulness, safety or intellectual property
    rights of, or relating to, such content on the Company Applications. The Company may, but is not
    obligated to, monitor or control the Content. Any use or reliance on any Content is at your own
    risk.
  </p>
  <h3>4. CONTENT REQUIREMENTS:</h3>
  <p>
    4.1. Users are not permitted to upload, transmit, distribute or otherwise publish through Company
    Application/s any Content or even comments which are defamatory, obscene, pornographic,
    threatening, invasive of privacy, infringing copyright, publicity rights or any other rights;
    abusive, illegal or otherwise objectionable that would constitute or encourage a criminal offence,
    violate the rights of any party, or that would otherwise give rise to liability or violate any
    law. In particular, Users are not permitted to upload/post any content on Company Application/s
    which is, and/or could be considered to:
  </p>
  <ul class="termslist">
    <li> (a) belong to another person and to which the User does not have any right;</li>
    <li> (b) be grossly harmful, harassing, blasphemous, paedophilic, libellous, hateful, or racially, ethnically
      objectionable, disparaging, relating to or encouraging money laundering or gambling, or otherwise unlawful in any
      manner whatever;</li>
    <li> (c) harm minors in any way;</li>
    <li> (d) infringe any patent, trademark, copyright or other proprietary rights;</li>
    <li> (e) violate any law for the time being in force;</li>
    <li> (f) deceive or mislead the addressee about the origin of such messages or communicates any information which is
      grossly offensive or menacing in nature;</li>
    <li> (g) impersonate another person;</li>
    <li> (h) contain software viruses or any other computer code, files or programs designed to interrupt, destroy or
      limit the functionality of any computer resource;</li>
    <li> (i) threaten the unity, integrity, defence, security or sovereignty of India, friendly relations with foreign
      states, or public order or causes incitement to the commission of any cognisable offence or prevents investigation
      of any offence or is insulting any other nation.</li>

  </ul>
  <p>
    4.2. You are responsible for the access and use of the Content through the Company Application
    and the Company does not guarantee the accuracy, adequacy for any purpose or completeness of any
    Content, whether in whole or in part, and disclaim all liability (whether direct or indirect, or
    pecuniary or otherwise) for any errors or omissions therein, and for any results which may be/are
    obtained/obtainable in relation to the use of any Content in any manner. Each User agrees to such
    disclaimer of liability, and agrees that it is reasonable.
  </p>
  <p>
    4.3. Users shall not exploit, sell, replicate, duplicate, distribute, broadcast or transfer any
    information, software and/or applications relating to the Company Application/s for any purpose,
    whether or not commercial, whether in whole or in part, and whether for their own use or for use
    by any third parties.
  </p>
  <h3>5. ACKNOWLEDGMENTS BY USER</h3>
  <font>By agreeing to these Terms of Use, You specifically agree to the following:</font>
  <p>
    5.1. You confirm and warrant that all the data and information including personal data and
    information supplied by you on the Company Applications is entirely true, current, complete and
    accurate in all respects. You agree to promptly and regularly update information provided by You,
    so that your information remains true, current, complete, and accurate at all times. You
    acknowledge and agree that your personal data collected by us is subject to Our Privacy Policy
    which can be accessed at [•]. For more information, please read the Privacy Policy.
  </p>
  <p>
    5.2. You further agree that you shall not, either directly or through the use of any device,
    software, internet site, web-based service, or other means copy, download, capture, reproduce,
    duplicate, archive, distribute, upload, publish, modify, translate, broadcast, perform, display,
    sell, transmit or retransmit the Company Application or the Company Application Rights or create
    any derivative work and/or content based on any content or rights which is not owned by you or
    interfere with, or circumvent any copyright, trademark, or other proprietary right associated with
    the Company Application or the Company Application Rights.
  </p>
  <p>
    5.3. You agree that your use of the Company Applications may give you the opportunity to view,
    publish, transmit, submit post/queries and/or comment in accordance with these Terms of Use. You
    undertake that you shall not misuse the Content that You access and view, including without
    limitation, download/store the Content by illegal/non-permitted means, or infringe any of
    Company’s/ its licensor’s or other User’s copyright, trademark design, patent, and other
    intellectual property.
  </p>
  <p>
    5.4. You understand and agree that in case the Company Application allows you to download or
    stream any of the Content not owned by you, you will not use, sell, transfer or transmit the
    Content to any person or upload the Content on any other website, webpage or software, which
    may violate/cause damages or injuries to any of our rights/ rights of our affiliates/ our
    licensors and/or other Users including privacy rights, publicity rights, and right in intellectual
    property.You agree not to use or launch any automated system, including without limitation,
    "robots," "spiders," "offline readers," etc. or "load testers" such as wget, apache bench,
    mswebstress, httpload, blitz, Xcode Automator, Android Monkey, etc., that accesses the Company
    Applications in a manner that sends more request messages to the Company Application/s servers in
    a given period of time than a human can reasonably produce in the same period by using the Company
    Applications.
  </p>
  <p>
    5.5. You must secure our permission before you measure, test, health check or otherwise monitor
    any network equipment, servers or assets hosted on our domain. You agree not to use the Company
    Applications for any commercial solicitation or spam purposes. You agree not to spam, or solicit
    for commercial purposes, any Users of the Company Application/s or the Company or developers or
    the technical/ customer support teams of the Company.
  </p>
  <p>
    5.6. You will not, nor allow third parties on your behalf: (i) to resell or charge others for
    use of or access to the Company Application/s or Content on the Company Application/s; (ii) to
    duplicate, disassemble, decompile, copy, distribute, transfer, exchange or translate the Company
    Application/s or any part thereof in any medium, create derivative works of the Company
    Application/s of any kind whatsoever or attempt to reverse engineer, alter or modify any part of
    the Company Application/s.
  </p>
  <p>
    5.7. You shall, at all times, comply with applicable laws at the time of using the Company
    Application/s. You will also ensure that all the employees, representatives and other users
    of the Company Applications accessing from your licenses with the Company also adhere to these
    Terms of Use and the obligations mentioned herein.
  </p>
  <p>
    5.8. You understand that if the Company Applications provide links to other websites or
    destinations, you should not infer or assume that we operate and/ or control it. In such cases,
    you should access such websites or destinations at your own prudence, and you will be deemed
    governed by the terms of use and privacy policy of that third party websites or destinations.
  </p>
  <p>
    5.9. You agree and understand that the Company assumes no responsibilities for content on such
    third party websites or Content by other Users. By using the Company Applications you acknowledge
    that we are not responsible or liable with respect to the such third party / User content directly
    or indirectly.
  </p>
  <h3>6. INDEMNIFICATION</h3>
  <p>
    6.1. Each User explicitly agrees to fully indemnify and hold harmless the Company and its
    employees, directors, owners, associates, licensors and affiliates from and against any and
    all actions, claims, charges, costs, demands, damages, losses, expenses, suits, proceedings,
    and liabilities of whatever nature and howsoever arising (including, but not limited to any
    legal or other professional fees and the costs of defending or prosecuting any claim and any
    loss of profit, goodwill, and any other direct or consequential loss, whether or not pecuniary),
    incurred or suffered by any or all of them, directly or indirectly, by reason of: (i) any act of
    commission or omission which the User commits directly or indirectly in relation Company
    Applications or any Content of the Company; (ii) any breach by you of your obligations under
    these Terms of Use; (iii) your violation of the rights of a third party, including but not
    limited to infringement of any intellectual property, proprietary rights or right to privacy;
    (iv) violation of any law. The provisions of this indemnification clause, along with the
    representations and warranties made by the User, shall survive the termination of this Terms
    of Use.
  </p>
  <p>
    6.2. You acknowledge that all the Company Application and any Company’s Content is made
    available on an AS-IS basis with no representations being made as to accuracy, impartiality or
    fitness for any use. Further, any reliance placed on any Content by any User is placed entirely
    at the exclusive risk of that User, and the User agrees to the same. The Company explicitly
    disclaims all warranties, express or implied, including, without limitation the implied
    warranties of merchantability and fitness for a particular purpose, or non-infringement
    with respect to any Content available at or through Company Applications, and each User
    agrees to such disclaimer by the Company.
  </p>
  <p>
    6.3. Each User explicitly agrees that under no circumstances shall the Company and/or its
    employees, directors, owners, associates, licensors and/or affiliates be liable for any claims,
    charges, demands, damages, liabilities, losses, and expenses of whatever nature and howsoever
    arising, including, without limitation any compensatory, incidental, direct, indirect, special,
    punitive, or consequential damages, loss of use, loss of data, loss caused by a computer or
    electronic virus, loss of income or profit, loss of or damage to property, claims of third
    parties, or other losses of any kind or character, even if any/all of them has/have been advised
    of the possibility of such damages or losses, arising out of or in connection with the use of
    Company Applications, its Content, any advertisement viewable at/through Company Applications,
    any product/service related to any advertisement viewable at/through Company Applications, or
    any third party site including any linked site or referred site.
  </p>
  <p>
    6.4. The Company and its employees, directors, owners, associates, licensors and/or affiliates
    do not warrant that Company Applications, all third party sites and/or the server(s) from which
    it/they is/are run is/are free of viruses or other potentially harmful codes or that the operation
    of Company Applications or any third party site will be uninterrupted or error-free or that
    defects will be corrected. The Company shall not bear any responsibility for any interruption
    of service or other problems or losses caused by or in relation to the running of Company
    Applications. No advice, course of conduct or information, whether oral or written, obtained
    by you from the Company or any party or through the Company Application/s shall create any
    warranty or liability onto the Company.
  </p>
  <p>
    6.5. You agree that we shall not be under any liability, whatsoever to you in the event of
    non-availability of the Company Application/s through any Platform or any portion thereof
    occasioned by any force majeure events, including Act of God, war, revolution, riot, civil
    commotion, strike, lockout, flood, fire, satellite failure, failure of any public utility,
    man-made disaster, or any other cause whatsoever beyond the reasonable control of Company.
  </p>
  <p>
    6.6. Subject to the aforementioned clauses, the indemnification obligations of the Company for
    any claims by the User on account of any losses, liabilities, damages or expenses shall be limited
    to the service fees paid by the User to the Company in the preceding 6 months and in any event
    will need be claimed by the User during the term of the arrangement with the Company.
  </p>
  <h3>7. REPRESENTATIONS AND WARRANTIES</h3>
  <p>Both the User and the Company represent and warrant to each other that:</p>
  <ul class="termslist">
    <li>(a) they are the exclusive owner of the respective Content, and that they have the right to enter into this
      Terms of Use;</li>
    <li>(b) Content attributable to them does not infringe any rights, including intellectual property or copyright of
      any third party;</li>
    <li>(c) Content attributable to them complies with the provisions of all applicable laws;</li>
    <li>(d) the User has not granted any rights to any third party whatsoever, or entered into any agreement, which
      could or would conflict with the Company’s rights under these Terms of Use;</li>
    <li>(e) there are no claims, actions or proceedings, pending or threatened, affecting the Content or which could
      impede them from enjoying any of the rights granted to it under these Terms of Use.</li>
  </ul>
  <h3>8. SUSPENSION AND TERMINATION</h3>
  <p>
    8.1. You hereby irrevocably understand that We reserve the right at our sole and exclusive discretion to deny/ cease
    Your access to the Company Application/s or services associated with Company Applications or Your accounts or any
    portion thereof, temporarily or permanently without liability or notice for any reason including, for reasons such
    as: (a) any unauthorised access or use of Company Applications/any Content by You; (b) commission of a breach by You
    of these Terms of Use including any attempt to assign or exploit any rights vesting in the Company or any third
    party.
  </p>
  <p>
    8.2. Any such termination or restriction in access to the Company Application shall be without prejudice to other
    rights of the Company herein or under applicable law. Upon such termination, the Company shall have no liability
    towards such User and no further obligations under these Terms of Use.
  </p>
  <p>
    8.3. Your obligations and liabilities incurred prior to the termination date shall survive the termination of this
    Terms of Use for all purposes. These Terms of Use are effective unless and until terminated by either you or us. You
    may terminate these Terms of Use at any time by notifying us that you no longer wish to use our Company Application,
    or upon any expiry of your access to the Company Application.
  </p>
  <h3>
    9. OTHER TERMS
  </h3>
  <p>
    9.1. All Users who choose to access Company Application/s acknowledge and agree that they do so exclusively at their
    own risk, of their own volition, and agree that they are responsible for compliance with any and all laws applicable
    to them in relation to their use of / access to Company Application/s. Any action and/ or legal proceedings etc. to
    safeguard the rights granted or subsisting or recognised under these Terms of Use may be initiated or taken by the
    Company exclusively at its own cost and discretion, and the User agrees to cooperate with the Company in this
    regard.
  </p>
  <p>
    9.2. Assignment: It is agreed that the Company is entitled to assign, licence or sub-licence to any party or person
    either wholly or partially its benefits/rights and/or obligations under these Terms of Use, and/or to assign these
    Terms of Use itself. The User is not entitled to transfer/assign his own obligations herein to any other party at
    any time, and/or to assign these Terms of Use itself without the consent of the Company. Subject to these
    limitations, these Terms of Use will enure to the benefit of and be binding upon the Parties, their successors,
    heirs, administrators and permitted assignees, as the case may be. The Company may sell or transfer in any manner
    all its rights to any third party without intimation to or consent of the User, and such third party may thereafter
    step into the shoes of the Company or exercise such rights as have been granted to it by the Company, as the case
    may be.
  </p>
  <p>
    9.3. Waiver: Failure by the Company to insist upon strict performance of any of the terms and conditions herein, or
    delay in exercising any of its remedies, shall not constitute a waiver of such terms and conditions, or a waiver of
    any default, or a waiver of the right to any remedy.
  </p>
  <P>
    9.4. Merger Clause: These Terms of Use terminate all prior versions of the Terms of Use, if any. Further, it is the
    entire agreement between the Company and the User with respect to its subject matter, along with the payment terms
    and other conditions agreed with the Company in writing.
  </P>
  <p>
    9.5. Severability: If any term, condition, or provision in the Terms of Use is found to be invalid, unlawful or
    unenforceable to any extent, it will be severed from the Terms of Use, and the remainder of the Terms of Use will
    then continue to be valid and enforceable to the fullest extent permitted by law, unaffected by the severance.
  </p>
  <p>
    9.6. Force Majeure: Neither Party shall be liable to the other Party or to any third party for any failure or delay
    on its part in performing any of its obligations under this Terms of Use where such failure or delay is caused by an
    event of Force Majeure. ‘Force Majeure’ means an act of God, war, insurrection, riot, strike or other labour
    dispute, fire, explosion, flood, interruption or delay in electrical power.
  </p>
  <P>
    9.7. Survival: The Parties hereto agree and confirm that the provisions relating to grant of rights to the Company,
    undertakings and obligations of the Users, representations, warranties, indemnification, disclaimer of liability,
    arbitration, governing law and dispute resolution, shall survive the early termination or expiration of these Terms
    of Use.
  </P>
  <P>
    9.8. Governing Law and Dispute Resolution: These Terms of Use shall be governed exclusively by the laws of India,
    notwithstanding the conflict of law principles. Subject to the provisions in relation to arbitration in these Terms
    of Use, all matters, claims and disputes arising under and in respect of these Terms of Use shall be subject to the
    exclusive jurisdiction of competent courts in Bangalore to which the Parties irrevocably submit themselves.
  </P>
  <P>
    9.9. Arbitration: In the event of any question, dispute or difference whatsoever arising between the Parties to
    these Terms of Use out of or relating to the construction, meaning, scope, operation or effect of these Terms of Use
    or the validity or the breach thereof, it shall be referred to a sole arbitrator to be appointed by by the Company.
    The provisions of the Arbitration and Conciliation Act, 1996, will be applicable and the award made and
    substantiated in writing thereunder shall be final and binding upon the Parties hereto, subject to legal remedies
    available under the law. The arbitration proceedings will be conducted in Bangalore in English, and governed
    exclusively in all respects by the law of India.
  </P>
  <h3>
    10. CONTACT US
  </h3>
  <p>
    If you have any questions, complaints or claims with respect to the Company Applications, please direct your
    correspondence to the address as given below.
  </p>
  <p>Address: </p>
  <p>Email:</p>
  <h3>SCHEDULE</h3>
  <h3>Definitions and Interpretation</h3>
  <ul class="termslist">
    <li>(a) <strong> “Company Applications”</strong> shall mean and include:
      <ul class="">
        <li>(i) a software application namely (i) “Jennifer” designed and wholely owned and controlled by the Company
          accessible through Platforms; any other software data, information and application of the Company; and</li>
        <li>(ii) all materials related to abovementioned software applications, including but not limited to all the
          source codes, printed materials, user documentation, training documentation and confidential activation code
          and all customisations, modifications, releases and updates of the foregoing as well as the manuals therefor;
        </li>
      </ul>
    </li>
    <li>(b) <strong> “Company Applications Rights” </strong>means all rights, title and interest, including rights in
      intellectual property such as trade mark rights, copyright, patents, trade secrets, design rights (wherever
      applicable) and any other rights whether recognised by law or business practice or otherwise, whether vested,
      contingent or future, and whether or not currently recognised in any jurisdiction in the world (expressly
      including any and all renewals, revivals, revisions and extensions rights thereof) which subsist in or arise in
      relation to Company Applications.</li>
    <li>
      (c) <strong> “Content” </strong>includes material in the form of text, video, graphics, audio-visual works, and
      any other work or material available through, contained in, displayed at, communicated through, reproduced at or
      by Company Application/s, and protectable by laws including intellectual property laws such as copyright.
    </li>
    <li>
      (d) <strong> “Platforms” </strong>shall mean and include websites, mobile applications, servers, cloud connect and
      any other modes and medium through which the Company Applications can be accessed by a User.
    </li>
  </ul>
  <p class="pull-right">
    <a routerLinkActive="active" routerLink="/Signin">Back to Sign In</a>
  </p>
</section>