<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Amazon Product Tax Codes
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
          <span> Upload </span>
        </li>
        <li>
          <span> Product Tax Codes</span>
        </li>
        <li class="active">
          <span *ngIf="action"> List </span>
          <span *ngIf="!action">Save </span>
        </li>
      </ol>
    </div>
  </div>
</div>

<div class="panel panel-default" *ngIf="action">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="input-group col-xs-12 col-sm-12" role="group" aria-label="Basic example">
          <div class="col-md-3 col-sm-3 col-xs-12 nopading_loct">
            <select [(ngModel)]="SearchBy" class="serchcurv form-control btn-group">
              <option value="" selected="select">Search By</option>
              <option value="StoreName">Store Name</option>
              <option value="SKU">SKU</option>
              <option value="DateRange">Date</option>
            </select>
          </div>
          <div class="col-md-3 col-sm-3 nopading_loct" *ngIf="(SearchBy!='DateRange')">
            <input [(ngModel)]="SearchKeyword" type="text" class="serchcurv form-control btn-group">
          </div>
          <div class="col-md-2 col-sm-3 nopading_loct" *ngIf="(SearchBy=='DateRange')">
            <input type="text" ngxDaterangepickerMd [(ngModel)]="selectedDateRange"
              class="serchcurv form-control btn-group col-xs-12 pointer"
              style="border:1px soloid #ccc !important; padding :3px;left:0px" [showCustomRangeLabel]="true"
              [ranges]="Searchranges" [showCancel]="true" placeholder="Select please..."
              (ngModelChange)="onChange($event)" />
          </div>
          <div class="col-md-2 col-sm-3 col-xs-6 nopading_loct nopading_loct">
            <button class="serchcurv btn btn-default btn-group" (click)="Search()" title="Search">
              <i class="fa fa-search " aria-hidden="true"></i>
            </button>
            <button class="serchcurv btn btn-default btn-group" (click)="Refresh()" title="Reset">
              <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="pull-right">
              <button class="btn btn-primary" (click)="newButtonClick()">
                Upload
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <kendo-grid [data]="gridView" resizable="true" columnMenu="true" [pageSize]="pageSize" [skip]="skip"
          [pageable]="{pageSizes: [10, 25, 50, 100, 250, 500]}" (pageChange)="pageChange($event)" [sortable]="{
          allowUnsort: allowUnsort,
          mode:  'single'
          }" [sort]="sort" (sortChange)="sortChange($event)" [filterable]="true"
          (dataStateChange)="dataStateChange($event)" [filter]="state.filter">
          <ng-template kendoGridToolbarTemplate>
            <input placeholder="Search in all columns..." style="float:right;" kendoTextBox
              (input)="onFilter($event.target.value)" />
            <button kendoGridExcelCommand type="button" icon="file-excel"> </button>
            <button kendoGridPDFCommand icon="file-pdf"> </button>
            <kendo-grid-pdf fileName="ProductTaxCodeList.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
            <kendo-grid-excel fileName="ProductTaxCodeList.xlsx"></kendo-grid-excel>
          </ng-template>
          <kendo-grid-column field="StoreName" title="Store Name">
          </kendo-grid-column>
          <kendo-grid-column field="SKU" title="SKU">
          </kendo-grid-column>
          <kendo-grid-column field="ProductTaxCode" title="Product TaxCode">
          </kendo-grid-column>
          <kendo-grid-column field="CreatedByName" title="Created By">
          </kendo-grid-column>
          <kendo-grid-column field="CreatedDate" title="Created Date" width="160">
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.CreatedDate | date :"MM-dd-yyyy HH:mm" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="APIStatus" title="API Status">
          </kendo-grid-column>
          <kendo-grid-column field="RecordUploadStatus" title="Record UploadStatus">
          </kendo-grid-column>
          <kendo-grid-column field="RecordUpload_StatusUpdated" title="RecordUpload StatusUpdated" width="260">
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.RecordUpload_StatusUpdated | date :"MM-dd-yyyy HH:mm" }}
            </ng-template>
          </kendo-grid-column>
        </kendo-grid>
      </table>
    </div>
  </div>
</div>

<form [formGroup]="Configurationform" (ngSubmit)="SaveData()" class="form-horizontal">
  <div class="panel panel-default" *ngIf="!action">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-5">
          <span class="groupspanheader">
            {{panelTitle}}
          </span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-5">
          <div class="pull-left">

          </div>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-2">
          <div class="pull-right">
            <button class="btn btn-xs btn-sm btn-primary" (click)="BackButtonClick()">Back</button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">


      <div class="form-group">
        <label class="col-sm-4 control-label" for="RTVType">
          Download Template </label>
        <div class="col-sm-4">

          <button type="button" (click)="onDownloadTemplate()" class="btn btn-default btn-block" title="Download">
            Product Tax Code Template </button>
          <div class="help-block-rk">
          </div>
          <br />
        </div>
      </div>

      <div class="form-group">
        <br />
        <label class="col-sm-4 control-label" for="RTVType">
          Upload Template
          <span class="mandantory">*</span>
        </label>
        <div class="col-sm-4">
          <input type="file" #takeInput name="filename" (change)="onFileChanged($event)"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
          <div class="help-block-rk">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <b> Instructions : </b>
        <br />
        <b>Step #1:</b> Download and save your Product Tax Code template individually to your local computer. Be sure
        your file names
        do not include any special characters and the file size does not exceed 5mb. <br />
        <b>Step #2:</b> Using the ‘Upload Template’ section below, choose the document you are uploading in the ‘Choose
        file’ drop down menu. <br />
        <b>Step #3:</b> Select browse, and locate the file on your local computer. <br />
        <b>Step #4:</b> Select attach. The document will be listed in the grid below as a confirmation that the document
        was
        added to the queue. If you made a mistake you may delete the file from this grid. <br />
        <b>Step #5:</b> Select Upload. All the documents you have chosen to attach will appear in the grid below the
        Upload
        Files section as a confirmation they were successfully uploaded.<br />
      </div>

      <div class="col-sm-6">
        
        <b> Amazon Tax Code  </b>
        <br />
        <div class="table-responsive">
          <table class="table table-bordered table-condensed table-striped">
            <thead>
              <tr>
                <th> # </th>
                <th>Product TaxCode</th>
                <th>TaxRate (%)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of lstTaxMaster; let i = index;">

                <td>{{i+ 1 }}</td>
                <td>{{item.ProductTaxCode}}</td>
                <td>{{item.TaxRate}}</td>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-sm-12">

        <div class="form-group" *ngIf="!flag">
          <div [innerHTML]="errorMsg | safeHtml"></div>
        </div>

      </div>

    </div>
    <div class="panel-footer">
      <div class="pull-right btn-toolbar">
        <button type="button" class="btn btn-primary" (click)="BackButtonClick()" title="Cancel">Cancel</button>
        <button class="btn btn-success" prevent-double-submit type="submit" title="save"
          [disabled]="Configurationform.invalid">Save</button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</form>