<alert>
</alert>
<div class="signinsection">
  <div class="centered">
    <div class="card col-md-12 mb-4">
      <div class="card-body">
        <form autocomplete="off" [formGroup]="forgotpasswordForm" (ngSubmit)="SendOTP()" class="form-horizontal">
          <div class='landscren'>
            <div class='text-center'>
              <img src="assets\images\logo.png" alt="Logo" height="90" />
            </div>
            <div>
              <h2>Forgot Password</h2>
            </div>
            <div>

              <div class="form-group" [ngClass]="{'has-error': formErrors.EmailId}" *ngIf="!isVerify">
                <div class="row">
                  <div class="col-sm-12">
                    <label class="control-label" for="EmailId">Email Id</label>
                    <input id="EmailId" type="text" class="form-control" formControlName="EmailId"
                      (blur)="logValidationErrors()" maxlength="50">
                    <div class="help-block-rk">
                      <span class="help-block" *ngIf="formErrors.Email  ">
                        {{formErrors.EmailId }}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 " *ngIf="!isVerify">
                    <div class="">
                      <button class="btn btn-success btn-block" type="submit" prevent-double-submit>Send OTP</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" *ngIf="isVerify">

                <div class="col-sm-12">
                  <label class="control-label" for="EmailId">OTP</label>
                  <input id="EmailOTP" type="text" class="form-control" formControlName="EmailOTP" maxlength="8">

                </div>
              </div>

            </div>

            <div *ngIf="isVerify">
              <div class="pull-right btn-toolbar">
                <button class="btn btn-success" type="submit" (click)="SendPassword()" prevent-double-submit> Reset
                  Password </button>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="form-group">
              <p class="pull-left">
                <a routerLinkActive="active" routerLink="/Signin">Signin</a>
              </p>
              <!-- <p class="pull-right">
            <a routerLinkActive="active" routerLink="/Register">Not a Member ? sign up now.</a>
          </p> -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>