<form   [formGroup]="changePasswordForm" class="form-horizontal">

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <span class="groupspanheader">
            Change Password
          </span>
        </div>
        <div class="col-sm-6">

        </div>
      </div>

    </div>

    <div class="panel-body">

      <div class="form-group" [ngClass]="{'has-error': formErrors.oldpwd}">
        <label for="oldpwd" class="col-sm-2 control-label">Old Password <span class="mandantory">*</span></label>
        <div class="col-sm-4">
          <input type="password" class="form-control md-textarea" formControlName="oldpwd" id="oldpwd"
            (blur)="logValidationErrors()" />

          <div class="help-block-rk">
            <span class="help-block" *ngIf="formErrors.oldpwd">
              {{formErrors.oldpwd }}
            </span>
          </div>
        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error': formErrors.newpwd     }">
        <label for="newpwd" class="col-sm-2 control-label">New Password <span class="mandantory">*</span></label>
        <div class="col-sm-4">
          <input type="password" class="form-control md-textarea" formControlName="newpwd" id="newpwd"
            (blur)="logValidationErrors()" />
          <div class="help-block-rk"> <span class="help-block" *ngIf="formErrors.newpwd   ">
              {{formErrors.newpwd }}
            </span>
          </div>
        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error': formErrors.confmpwd   }">
        <label for="confmpwd" class="col-sm-2 control-label">Confirm Password <span class="mandantory">*</span></label>
        <div class="col-sm-4">
          <input type="password" class="form-control md-textarea" formControlName="confmpwd" id="confmpwd"
            (blur)="logValidationErrors()" />
          <div class="help-block-rk">
            <span class="help-block" *ngIf="formErrors.confmpwd    ">
              {{formErrors.confmpwd }}
            </span>
          </div>
        </div>
      </div>

    </div>

    <div class="panel-footer">
      <div class="pull-right btn-toolbar">
        <button class="btn btn-success" prevent-double-submit type="submit" (click)="ChangePassword()"
          [disabled]="changePasswordForm.invalid"> Change </button>
      </div>
       <div class="clearfix"></div>  
    </div>
  </div>
</form>