<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Stores
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
          <span> Master</span>
        </li>
        <li>
          <span> Stores</span>
        </li>
        <li class="active">

          Save
        </li>
      </ol>
    </div>
  </div>
</div>
<form   [formGroup]="companyDetailsform" class="form-horizontal">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-5 col-sm-6 col-xs-5">
          <span class="groupspanheader">
            {{panelTitle}}
          </span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-5">
          <div class="pull-left">
            <div class="form-group" *ngIf="!action">
              <div class="col-sm-12 inputlevelswtch">
                <label class="col-sm-4 col-xs-4 nopading_loct" for=" IsActive">IsActive </label>
                <div class="pull-right">
                  <label class="switch">
                    <input type="checkbox" formControlName="IsActive" checked>
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <div class="pull-right">
            <button  type="button" class="btn btn-primary" routerLink="/Companydetaillist">Back</button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="form-group" [ngClass]="{'has-error': formErrors.MarketplaceID}">
        <label class="col-sm-4 control-label" for="MarketplaceID">Market Place <span class="mandantory">*</span></label>
        <div class="col-sm-2">
          <select id="MarketplaceID" class="form-control" formControlName="MarketplaceID"
            (blur)="logValidationErrors()">
            <option value="0" selected="selected">Select</option>
            <option *ngFor="let dis of marketplaces" value={{dis.MarketplaceID}}>
              {{dis.MarketPlace}}
            </option>
          </select>

          <div class="help-block-rk"> <span class="help-block" *ngIf="formErrors.MarketplaceID">
              {{formErrors.MarketplaceID}}
            </span>
          </div>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error': formErrors.StoreName}">
        <label class="col-sm-4 control-label" for="StoreName">Store Name <span class="mandantory">*</span></label>
        <div class="col-sm-4">
          <input id="StoreName" type="text" class="form-control" formControlName="StoreName"
            (blur)="logValidationErrors()" maxlength="50">
          <div class="help-block-rk">
            <span class="help-block" *ngIf="formErrors.StoreName">
              {{formErrors.StoreName}}
            </span>
          </div>
        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error': formErrors.BusinessLaunchDate}">
        <label class="col-sm-4 control-label" for="BusinessLaunchDate">Business Launch Date <span
            class="mandantory">*</span> </label>
        <div class="col-sm-2">
          <div class='input-group date'>
            <input id=calendar-input type="text" ngxDaterangepickerMd [autoApply]="true" [maxDate]="maxDate"
              [singleDatePicker]="true" class="form-control" id="BusinessLaunchDate"
              formControlName="BusinessLaunchDate" (change)="logValidationErrors()" [locale]="{format: 'MM-DD-YYYY'}"
              (datesUpdated)="logValidationErrors()" maxlength="10" />
            <label class="fa fa-calendar"></label>
          </div>
          <div class="help-block-rk">
            <span class="help-block" *ngIf="formErrors.BusinessLaunchDate">
              {{formErrors.BusinessLaunchDate}}
            </span>
          </div>
        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error': formErrors.MarketPlaceSellerID}">
        <label class="col-sm-4 control-label" for="MarketPlaceSellerID">Market Place Seller ID <span
            class="mandantory">*</span></label>
        <div class="col-sm-4">
          <input id="MarketPlaceSellerID" type="text" class="form-control" formControlName="MarketPlaceSellerID"
            (blur)="logValidationErrors()" maxlength="30">
          <div class="help-block-rk"> <span class="help-block" *ngIf="formErrors.MarketPlaceSellerID">
              {{formErrors.MarketPlaceSellerID}}
            </span>
          </div>
        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error': formErrors.MarketPlaceAPIToken}">
        <label class="col-sm-4 control-label" for="MarketPlaceAPIToken">Market Place API Token <span
            class="mandantory">*</span></label>
        <div class="col-sm-4">
          <input id="MarketPlaceAPIToken" type="text" class="form-control" formControlName="MarketPlaceAPIToken"
            (blur)="logValidationErrors()" maxlength="150" *ngIf="action">
          <div *ngIf="!action">
            ********************************
          </div>
          <div class="help-block-rk">
            <span class="help-block" *ngIf="formErrors.MarketPlaceAPIToken">
              {{formErrors.MarketPlaceAPIToken}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer  ">
      <div class="pull-right btn-toolbar">
        <button  type="button" class="btn btn-primary" routerLink="/Companydetaillist">Cancel</button>
        <input *ngIf="!validateflag" class="btn btn-success" type="submit" prevent-double-submit
          [disabled]="companyDetailsform.invalid" value="Validate" (click)="SaveData('Validate')" />

        <button *ngIf="validateflag" (click)="SaveData('Save')" class="btn btn-success" type="submit"
          prevent-double-submit [disabled]="companyDetailsform.invalid">
          Save </button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</form>