<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Sales Invoice
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
          <i class="fa fa-money"></i> <span> Revenue</span>
        </li>
        <li>
          <i class="fa fa-shopping-cart"></i> <span> Invoice</span>
        </li>
        <li class="active">
          <i class="fa fa-download"></i>
          Download
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="panel panel-default">

  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <button type="button" class="btn btn-success" (click)="pdf.saveAs('table.pdf')">
          Save As PDF
        </button>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
        <div class="pull-right">
          <button class="btn btn-primary" routerLink="/Picklistsearch" title="Back">
            Back
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">

    <!-- margin="2cm" [keepTogether]="keepTogether"-->
    <kendo-pdf-export #pdf paperSize="A4" margin="1cm" [repeatHeaders]="repeatHeaders">
      <table class="table table-bordered table-condensed table-striped" width="2480px" style=" font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size:9px;background-color: #fff;color:#000; border: 1px solid #000;">
        <tbody>
          <tr style=" border: 1px solid #000; font-size:9px;">
            <td colspan="9" class="text-center" style="font-size:9px;border: 1px solid #000;">
              <h2 style="font-size: 16px; text-transform:uppercase;">Tax Invoice</h2>
            </td>
          </tr>
          <tr style=" border: 1px solid #000;font-size:9px;">
            <td colspan="3" rowspan="3" style=" border: 1px solid #000;">
              <b>Seller </b><br>
              {{ objSalesInvoiceHeader?.Seller}}
            </td>
            <td colspan="3" style=" border: 1px solid #000;">
              <b>Invoice No. </b><br>
              {{ objSalesInvoiceHeader?.InvoiceNumber}}
            </td>
            <td colspan="3" style=" border: 1px solid #000;">
              <b>Dated </b><br>
              {{ objSalesInvoiceHeader?.Dated  | date :"MM-dd-yyyy HH:mm" }}
            </td>
          </tr>
          <tr style=" border: 1px solid #000;font-size:9px;">
            <td colspan="3" style=" border: 1px solid #000;">
              <b>Delivery Note </b><br>
              {{ objSalesInvoiceHeader?.DeliveryNote}}
            </td>
            <td colspan="3" style=" border: 1px solid #000;">
              <b>Mode/Terms of Payment </b><br>
              {{ objSalesInvoiceHeader?.DiscountAllowedinDays}}
            </td>
          </tr>
          <tr style=" border: 1px solid #000;font-size:9px;">
            <td colspan="3" style=" border: 1px solid #000;">
              <b>Supplier's Ref </b><br>
              {{ objSalesInvoiceHeader?.SupplierRef}}
            </td>
            <td colspan="3" style=" border: 1px solid #000;">
              <b> Other Reference(s) </b><br>
              {{ objSalesInvoiceHeader?.OtherRef}}
            </td>
          </tr>
          <tr style=" font-size:9px;">
            <td colspan="3" rowspan="4" style=" border: 1px solid #000;">
              <b>Buyer </b><br>
              {{ objSalesInvoiceHeader?.Buyer}}
            </td>
            <td colspan="3" style=" border: 1px solid #000;">
              <b>Buyer's Order No. </b> <br>
              {{ objSalesInvoiceHeader?.BuyerRef}}
            </td>
            <td colspan="3" style=" border: 1px solid #000;">
              <b>Dated </b><br>
              {{ objSalesInvoiceHeader?.Dated  | date :"MM-dd-yyyy HH:mm" }}
            </td>

          </tr>
          <tr style=" font-size:9px;">
            <td colspan="3" style=" border: 1px solid #000;">
              <b>Dispatch Document No. </b><br>
              {{ objSalesInvoiceHeader?.DispathDocument}}
            </td>
            <td colspan="3" style=" border: 1px solid #000;">
              <b>Delivery Note Date </b><br>
              {{ objSalesInvoiceHeader?.DeliveryNoteDate  | date :"MM-dd-yyyy HH:mm" }}

            </td>
          </tr>
          <tr style=" font-size:9px;">
            <td colspan="3" style=" border: 1px solid #000;">
              <b>Dispatch through </b><br>
              {{ objSalesInvoiceHeader?.CourierName}}
            </td>
            <td colspan="3" style=" border: 1px solid #000;">
              <b>Destination </b> <br>
              {{ objSalesInvoiceHeader?.City}}
            </td>
          </tr>
          <tr style=" font-size:9px;">
            <td colspan="6" style=" border: 1px solid #000;">
              <b>Terms of Delivery </b> <br>
              {{ objSalesInvoiceHeader?.TermOfDelovery}}
            </td>
          </tr>

        </tbody>
      </table>
      <table class="table table-bordered table-condensed table-striped" width="2480px" style="font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size:9px;background-color: #fff!important;color:#000!important; border: solid 1px #000 !important">
        <thead>
          <tr style="font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size:9px;background-color: #fff;color:#000;border:1px solid #000;">
            <th class=" text-center" width="30" style="border:1px solid #000;background-color: #FFF;"> SlNo </th>
            <th class="text-center" width="110" style="border:1px solid #000;background-color: #FFF;">Description of
              Goods</th>
            <th class="text-center" width="60" style="border:1px solid #000;background-color: #FFF;">HSN/SAC </th>
            <th class="text-center" width="50" style="border:1px solid #000;background-color: #FFF;">Qty </th>
            <th class="text-center" width="70" style="border:1px solid #000;background-color: #FFF;">Rate </th>

            <th class="text-center" width="40" style="border:1px solid #000;background-color: #FFF;">Per </th>
            <th class="text-center" width="70" style="border:1px solid #000;background-color: #FFF;">Amount </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of objSalesInvoiceHeader?.lstDetail" style=" border: 1px solid #000;">
            <td style=" border: 1px solid #000;">{{ row.SLno }}</td>
            <td style=" border: 1px solid #000;">{{ row.ItemName }}</td>
            <td style=" border: 1px solid #000;">{{ row.HSNCode }}</td>
            <td class="text-right" style=" border: 1px solid #000;">{{ row.Qty }}</td>
            <td class="text-right" style=" border: 1px solid #000;"> {{ row.Rate }}</td>

            <td class="text-center" style=" border: 1px solid #000;">{{ row.Per }}</td>
            <td class="text-right" style=" border: 1px solid #000;">{{ row.Amount }}</td>
          </tr>
          <tr *ngFor="let row1 of objSalesInvoiceHeader?.lsttax" style="font-size:9px;border: 1px solid #000;">
            <td style="font-size:9px;border: 1px solid #000;">
            </td>
            <td class="text-right" style="font-size:9px;border: 1px solid #000;">
              OUTPUT
              <span> {{row1?.TaxNature}}</span>
              @ {{row1?.TaxRate}} % - {{row1?.TaxState}}
            </td>
            <td style="font-size:9px;border: 1px solid #000;">
            </td>
            <td style="font-size:9px;border: 1px solid #000;">
            </td>
            <td style="font-size:9px;border: 1px solid #000;">
            </td>
            <td style="font-size:9px;border: 1px solid #000;">
            </td>
            <td class="text-right" style="font-size:9px;border: 1px solid #000;">
              {{ row1.TaxAmount }}
            </td>
          </tr>

          <tr style="font-size:9px;border: 1px solid #000;">
            <td style="font-size:9px;border: 1px solid #000;">
            </td>
            <td class="text-right" style="font-size:9px;border: 1px solid #000;">
              Rounded Off
            </td>
            <td style="font-size:9px;border: 1px solid #000;">
            </td>
            <td style=" border: 1px solid #000;font-size:9px;">

            </td>
            <td style="font-size:9px;border: 1px solid #000;">
            </td>
            <td style="font-size:9px;border: 1px solid #000;">
            </td>
            <td class="text-right" style=" border: 1px solid #000;font-size:9px;">
              <b>{{objSalesInvoiceHeader?.TaxableValueRoundOff  }} </b>
            </td>
          </tr>

          <tr style="font-size:9px;border: 1px solid #000;">
            <th style="font-size:9px;border: 1px solid #000;">
            </th>
            <th class="text-right" style="font-size:9px;border: 1px solid #000;">
              Total
            </th>
            <th style="font-size:9px;border: 1px solid #000;">
            </th>
            <th class="text-right" style=" border: 1px solid #000;font-size:9px;">
              <b>{{TotalQty  }} PCS </b>
            </th>
            <th style="font-size:9px;border: 1px solid #000;">
            </th>
            <th style="font-size:9px;border: 1px solid #000;">
            </th>
            <th class="text-right" style=" border: 1px solid #000;font-size:9px;">
              <b>{{objSalesInvoiceHeader?.TotalAmount | number:'.0'}} </b>
            </th>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-condensed table-striped" width="2480px" style="font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size:9px;background-color: #fff!important;color:#000!important; border: solid 1px #000 !important">

        <tbody>
          <tr>
            <td colspan="7" style=" border: 1px solid #000;font-size:9px;">
              <b> Amount Chargeable(In Words) </b> <br />
              {{ objSalesInvoiceHeader?.TotalAmuntWords}}
            </td>
          </tr>

          <tr *ngIf="objSalesInvoiceHeader?.TaxNature=='IGST'" style="font-size:9px;border: 1px solid #000;">
            <th colspan="3" class="text-center" style=" border: 1px solid #000;">HSNCode </th>
            <th class="text-center" style=" border: 1px solid #000;">Taxable Value </th>
            <th colspan="2" class="text-center" style=" border: 1px solid #000;">
              Integrated Tax
            </th>
            <th rowspan="2" class="text-center" style=" border: 1px solid #000;">
              Total <br /> Tax Amount
            </th>
          </tr>

          <tr *ngIf="objSalesInvoiceHeader?.TaxNature=='IGST'" style="font-size:9px;border: 1px solid #000;">
            <th colspan="3" class="text-center" style=" border: 1px solid #000;"> </th>
            <th style=" border: 1px solid #000;"> </th>
            <th class="text-center" style=" border: 1px solid #000;">
              Rate
            </th>
            <th class="text-center" style=" border: 1px solid #000;">
              Amount
            </th>

          </tr>

          <tr [hidden]="objSalesInvoiceHeader?.TaxNature!='IGST'" *ngFor="let row of objSalesInvoiceHeader?.lstHSNCode"
            style="font-size:9px;border: 1px solid #000;">
            <td colspan="3" style=" border: 1px solid #000;">{{ row.HSNCode }}</td>
            <td class="text-right" style=" border: 1px solid #000;">{{ row.TaxableValue }}</td>
            <td class="text-right" style=" border: 1px solid #000;">{{ row.TaxRate }} %</td>
            <td class="text-right" style=" border: 1px solid #000;"> {{ row.IGSTTaxAmount }}</td>
            <td class="text-right" style=" border: 1px solid #000;">
              {{ row.TaxAmount }}
            </td>
          </tr>
          <tr [hidden]="objSalesInvoiceHeader?.TaxNature!='IGST'" style="font-size:9px;border: 1px solid #000;">
            <td colspan="3" class="text-right" style=" border: 1px solid #000;"> Total </td>
            <td class="text-right" style=" border: 1px solid #000;">{{TotalTaxableValue}}</td>
            <td style=" border: 1px solid #000;"> </td>
            <td class="text-right" style=" border: 1px solid #000;"> {{ TotalIGSTTaxAmount }}</td>
            <td class="text-right" style=" border: 1px solid #000;">
              {{ TotalTaxAmount }}
            </td>
          </tr>

          <tr *ngIf="objSalesInvoiceHeader?.TaxNature!='IGST'" style="font-size:9px;border: 1px solid #000;">
            <th class="text-center" style=" border: 1px solid #000;">HSNCode </th>
            <th class="text-center" style=" border: 1px solid #000;">Taxable Value </th>
            <th colspan="2" class="text-center" style=" border: 1px solid #000;">
              Central Tax
            </th>
            <th colspan="2" class="text-center" style="font-size:9px;border: 1px solid #000;">
              State Tax
            </th>
            <th rowspan="2" class="text-center" style=" border: 1px solid #000;">
              Total <br /> Tax Amount
            </th>
          </tr>

          <tr *ngIf="objSalesInvoiceHeader?.TaxNature!='IGST'" style="font-size:9px;border: 1px solid #000;">
            <th class="text-center" style=" border: 1px solid #000;"> </th>
            <th style=" border: 1px solid #000;"> </th>
            <th class="text-center" style=" border: 1px solid #000;">
              Rate </th>
            <th class="text-center" style=" border: 1px solid #000;">
              Amount </th>
            <th class="text-center" style=" border: 1px solid #000;">
              Rate
            </th>
            <th class="text-center" style=" border: 1px solid #000;">
              Amount
            </th>
          </tr>

          <tr [hidden]="objSalesInvoiceHeader?.TaxNature=='IGST'" *ngFor="let row of objSalesInvoiceHeader?.lstHSNCode"
            style="font-size:9px;border: 1px solid #000;">
            <td style=" border: 1px solid #000;">{{ row.HSNCode }}</td>
            <td class="text-right" style=" border: 1px solid #000;">{{ row.TaxableValue }}</td>
            <td class="text-right" style=" border: 1px solid #000;">{{ row.TaxRate    }} %</td>
            <td class="text-right" style=" border: 1px solid #000;"> {{ row.CGSTTaxAmount }}</td>
            <td class="text-right" style=" border: 1px solid #000;">{{ row.TaxRate     }} %</td>
            <td class="text-right" style=" border: 1px solid #000;"> {{ row.SGSTTaxAmount }}</td>
            <td class="text-center" style=" border: 1px solid #000;">
              {{ row.TaxAmount }}
            </td>
          </tr>

          <tr [hidden]="objSalesInvoiceHeader?.TaxNature=='IGST'" style="font-size:9px;border: 1px solid #000;">
            <th style=" border: 1px solid #000;">Total</th>
            <th class="text-right" style=" border: 1px solid #000;">{{ TotalTaxableValue }}</th>
            <th class="text-right" style=" border: 1px solid #000;"> </th>
            <th class="text-right" style=" border: 1px solid #000;"> {{ TotalCGSTTaxAmount }}</th>
            <th class="text-right" style=" border: 1px solid #000;"> </th>
            <th class="text-right" style=" border: 1px solid #000;"> {{ TotalSGSTTaxAmount }}</th>
            <th class="text-right" style=" border: 1px solid #000;">
              {{ TotalTaxAmount}}
            </th>
          </tr>

          <tr style="font-size:9px;border: 1px solid #000;">
            <td colspan="7" style=" border: 1px solid #000;">
              <b> Tax Amount (In words):
              </b> <br />
              {{ objSalesInvoiceHeader?.TotalTaxWords}}
            </td>
          </tr>
          <tr style="font-size:9px;border: 1px solid #000;">
            <td colspan="4" style=" border: 1px solid #000;">
              <b>Remarks: </b><br />
              {{ objSalesInvoiceHeader?.Remarks}}
            </td>
            <td colspan="3" rowspan="2" class="text-center" style=" border: 1px solid #000;">
              For {{ objSalesInvoiceHeader?.CompanyName}} : <br>
              Signature <br>
              <br>
              <br>
              <b>Authorised Signatory </b>
            </td>
          </tr>
          <tr style="font-size:9px;border: 1px solid #000;">
            <td colspan="4" style="border:1px solid #000;">
              <b>Declaration : </b><br />
              We declare that this invoice shows the actual price of the goods described and that all particulars are
              true
              I and correct.
            </td>
          </tr>
        </tbody>
      </table>
    </kendo-pdf-export>

    <!-- <ssrs-reportviewer [reportserver]="reportServer" [reporturl]="reportUrl" [language]="language" [width]="width"
        [height]="height">
      </ssrs-reportviewer> -->

    <!-- [parameters]="parameters"  [showparameters]="showParameters"  [toolbar]="toolbar" -->
  </div>

</div>