<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Catalogue
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
          <span> Catalogue</span>
        </li>
        <li>
          <span>Catalogue</span>
        </li>
        <li class="active">

          Save
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <span class="groupspanheader">
          Add New Catalogue
        </span>
      </div>
      <div class="col-sm-4">
        <div class="pull-left">

        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
        <div class="pull-right">
          <button type="button" class="btn btn-primary" routerLink="/CrossBorder/Cataloguelist" title="Back">
            Back
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="container-fluid container-table">
        <form [formGroup]="catalogueform" class="form-group">
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="form-group" [ngClass]="{'has-error':formErrors.ProductName}">
                <label class="control-label" for="ProductName">Product Name
                  <span class="mandantory">*</span>
                </label>
                <div>
                  <input id="ProductName" type="text" class="form-control" formControlName="ProductName"
                    (blur)="logValidationErrors()" maxlength="100">
                  <div class="help-block-rk">
                    <span class="help-block" *ngIf="formErrors.ProductName">
                      {{formErrors.ProductName}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-12">
              <div class="form-group" [ngClass]="{'has-error': formErrors.MerchantSKU}">
                <label class="control-label" for="MerchantSKU">Merchant SKU
                  <span class="mandantory">*</span>
                </label>
                <div>
                  <input id="MerchantSKU" type="text" class="form-control" formControlName="MerchantSKU"
                    (blur)="logValidationErrors()" maxlength="100">
                  <div class="help-block-rk">
                    <span class="help-block" *ngIf="formErrors.MerchantSKU">
                      {{formErrors.MerchantSKU}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-12">
              <div class="form-group" [ngClass]="{'has-error': formErrors.ASIN}">
                <label class="control-label" for="ASIN">Amazon ASIN
                  <span class="mandantory">*</span>
                </label>
                <div>
                  <input id="ASIN" type="text" class="form-control" formControlName="ASIN"
                    (blur)="logValidationErrors()" maxlength="100">
                  <div class="help-block-rk">
                    <span class="help-block" *ngIf="formErrors.ASIN">
                      {{formErrors.ASIN}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9 col-xs-12">
              <div class="form-group" [ngClass]="{'has-error': formErrors.ProductDescription}">
                <label class="control-label" for="ProductDescription">Product Description
                  <span class="mandantory">*</span></label>
                <div>
                  <textarea id="ProductDescription" type="text" class="form-control"
                    formControlName="ProductDescription" (blur)="logValidationErrors()" rows="2" cols="5"
                    maxlength="500">
                  </textarea>
                  <div class="help-block-rk">
                    <span class="help-block" *ngIf="formErrors.ProductDescription">
                      {{formErrors.ProductDescription}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-12">
              <div class="form-group">
                <label class="control-label" for="HSNCode">HSN Code
                </label>
                <div>
                  <input id="HSNCode" type="text" class="form-control" formControlName="HSNCode"
                    (blur)="logValidationErrors()" maxlength="100">
                  <div class="help-block-rk">
                    <span class="help-block">

                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="form-group" [ngClass]="{'has-error':formErrors.DeclareValueInDollar}">
                <label class="control-label" for="DeclareValueInDollar">Declared Value (In Dollars)
                  <span class="mandantory">*</span>
                </label>
                <div>
                  <input id="DeclareValueInDollar" type="text" class="form-control"
                    formControlName="DeclareValueInDollar" (blur)="logValidationErrors()" maxlength="10"
                    onkeypress="return /[0-9.]/i.test(event.key)" appBlockPaste>
                  <div class="help-block-rk">
                    <span class="help-block" *ngIf="formErrors.DeclareValueInDollar">
                      {{formErrors.DeclareValueInDollar}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-12">
              <div class="form-group" [ngClass]="{'has-error': formErrors.MRPInINR}">
                <label class="control-label" for="MRPInINR">MRP (In INR)
                  <span class="mandantory">*</span>
                </label>
                <div>
                  <input id="MRPInINR" type="text" class="form-control" formControlName="MRPInINR" maxlength="10"
                    (blur)="logValidationErrors()" onkeypress="return /[0-9.]/i.test(event.key)" appBlockPaste>
                  <div class="help-block-rk">
                    <span class="help-block" *ngIf="formErrors.MRPInINR">
                      {{formErrors.MRPInINR}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-12">
              <div class="form-group">
                <label class="control-label" for="SellingPriceInINR">Selling Price (In INR)
                </label>
                <div>
                  <input id="SellingPriceInINR" type="text" class="form-control" formControlName="SellingPriceInINR"
                    maxlength="10" (blur)="logValidationErrors()" onkeypress="return /[0-9.]/i.test(event.key)"
                    appBlockPaste>
                  <div class="help-block-rk">
                    <span class="help-block">

                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 col-xs-12" *ngIf="gridIndex > 0">
              <div class="form-group">
                <div class=" col-sm-12 inputlevel">
                  <label class="control-label checkbox-inline" for="ImagePathFlag">
                    <input type="checkbox" id="ImagePathFlag" [(ngModel)]="ImagePathFlag"
                      formControlName="ImagePathFlag" (change)="onchangeImagePathFlag($event)">
                    Change image </label>
                </div>
                <div class=" col-sm-12 inputlevel" *ngIf="gridIndex > 0 && !ImagePathFlag">
                  <label>
                    <i class="fa fa-download bgblue pointer" (click)="DownloadButtonClick(ImagePath)"
                      title="Download"></i>
                    Download Product Image </label>
                </div>
                <div class=" col-sm-12 inputlevel" *ngIf="gridIndex > 0 && ImagePathFlag">
                  <label class="nopading_loct control-label" for="SelectSelect">Product Image</label>
                  <input type="file" id="file" accept="image/*" formControlName="FileData1"
                    (change)="onFileChangedImagePath($event)">
                  <div class="help-block-rk">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12" *ngIf="gridIndex == 0">
              <div class="form-group">
                <div class=" col-sm-12 inputlevel">
                  <label class="nopading_loct control-label" for="SelectSelect">Product Image
                    <span class="mandantory">*</span>
                  </label>
                  <input type="file" id="file" accept="image/*" formControlName="FileData1"
                    (change)="onFileChangedImagePath($event)">
                  <div class="help-block-rk">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class=" "><b>Additional Details - Certifications, Images, Etc. </b> </div>
          <div class="row">
            <div class="col-sm-3 col-xs-12" *ngIf="gridIndex > 0">
              <div class="form-group">
                <div class=" col-sm-12 inputlevel">
                  <label class="control-label checkbox-inline" for="DocumentPath1Flag">
                    <input type="checkbox" id="DocumentPath1Flag" [(ngModel)]="DocumentPath1Flag"
                      formControlName="DocumentPath1Flag" (change)="onchangeDocumentPath1Flag($event)">
                    Change image </label>
                </div>
                <div class=" col-sm-12 inputlevel" *ngIf="gridIndex > 0 && !DocumentPath1Flag">
                  <label *ngIf="DocumentPath1 !=''">
                    <i class="fa fa-download bgblue pointer" (click)="DownloadButtonClick(DocumentPath1)"
                      title="Download"></i>
                    Download File 1 </label>
                </div>
                <div class=" col-sm-12 inputlevel" *ngIf="gridIndex > 0 && DocumentPath1Flag">
                  <label class="nopading_loct control-label" for="SelectSelect">File 1</label>
                  <input type="file" id="file" accept="image/*" formControlName="FileData5"
                    (change)="onFileChangedDocumentPath1($event)">
                  <div class="help-block-rk">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12" *ngIf="gridIndex == 0">
              <div class="form-group">
                <div class=" col-sm-12 inputlevel">
                  <label class="nopading_loct control-label" for="SelectSelect">File 1</label>
                  <input type="file" id="file" accept="image/*" formControlName="FileData5"
                    (change)="onFileChangedDocumentPath1($event)">
                  <div class="help-block-rk">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-3 col-xs-12" *ngIf="gridIndex > 0">
              <div class="form-group">
                <div class=" col-sm-12 inputlevel">
                  <label class="control-label checkbox-inline" for="DocumentPath2Flag">
                    <input type="checkbox" id="DocumentPath2Flag" [(ngModel)]="DocumentPath2Flag"
                      formControlName="DocumentPath2Flag" (change)="onchangeDocumentPath2Flag($event)">
                    Change image </label>
                </div>
                <div class=" col-sm-12 inputlevel" *ngIf="gridIndex > 0 && !DocumentPath2Flag">
                  <label *ngIf="DocumentPath2 !=''">
                    <i class="fa fa-download bgblue pointer" (click)="DownloadButtonClick(DocumentPath2)"
                      title="Download"></i>
                    Download File 2 </label>
                </div>
                <div class=" col-sm-12 inputlevel" *ngIf="gridIndex > 0 && DocumentPath2Flag">
                  <label class="nopading_loct control-label" for="SelectSelect">File 2</label>
                  <input type="file" id="file" accept="image/*" formControlName="FileData6"
                    (change)="onFileChangedDocumentPath2($event)">
                  <div class="help-block-rk">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12" *ngIf="gridIndex == 0">
              <div class="form-group">
                <div class=" col-sm-12 inputlevel">
                  <label class="nopading_loct control-label" for="SelectSelect">File 2</label>
                  <input type="file" id="file" accept="image/*" formControlName="FileData6"
                    (change)="onFileChangedDocumentPath2($event)">
                  <div class="help-block-rk">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-3 col-xs-12" *ngIf="gridIndex > 0">
              <div class="form-group">
                <div class=" col-sm-12 inputlevel">
                  <label class="control-label checkbox-inline" for="DocumentPath3Flag">
                    <input type="checkbox" id="DocumentPath3Flag" [(ngModel)]="DocumentPath3Flag"
                      formControlName="DocumentPath3Flag" (change)="onchangeDocumentPath3Flag($event)">
                    Change image </label>
                </div>
                <div class=" col-sm-12 inputlevel" *ngIf="gridIndex > 0 && !DocumentPath3Flag">
                  <label *ngIf="DocumentPath3 !=''">
                    <i class="fa fa-download bgblue pointer" (click)="DownloadButtonClick(DocumentPath3)"
                      title="Download"></i>
                    Download File 3 </label>
                </div>
                <div class=" col-sm-12 inputlevel" *ngIf="gridIndex > 0 && DocumentPath3Flag">
                  <label class="nopading_loct control-label" for="SelectSelect">File 3</label>
                  <input type="file" id="file" accept="image/*" formControlName="FileData7"
                    (change)="onFileChangedDocumentPath3($event)">
                  <div class="help-block-rk">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12" *ngIf="gridIndex == 0">
              <div class="form-group">
                <div class=" col-sm-12 inputlevel">
                  <label class="nopading_loct control-label" for="SelectSelect">File 3</label>
                  <input type="file" id="file" accept="image/*" formControlName="FileData7"
                    (change)="onFileChangedDocumentPath3($event)">
                  <div class="help-block-rk">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-3 col-xs-12 pull-right">
              <button class="btn btn-success" type="button" (click)="onClickAddToList()"
                [disabled]="catalogueform.invalid">
                Save list
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <span class="groupspanheader"> Product Details </span>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="table-responsive">
          <table class="table table-bordered table-condensed table-striped"
            *ngIf="lstCatalogueDetail!=null && lstCatalogueDetail.length > 0">
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Merchant SKU</th>
                <th>Amazon ASIN</th>
                <th>Product Desciption</th>
                <th>HSN Code</th>
                <th>Declared Value (In Dollars)</th>
                <th>MRP (In INR)</th>
                <th>Selling Price (In INR)</th>
                <th>Product Image</th>
                <th>File 1</th>
                <th>File 2</th>
                <th>File 3</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of lstCatalogueDetail; let i = index;">
                <td>{{item.ProductName}}</td>
                <td>{{item.MerchantSKU}}</td>
                <td>{{item.ASIN}}</td>
                <td>{{item.ProductDescription}}</td>
                <td>{{item.HSNCode}}</td>
                <td>{{item.DeclareValueInDollar}}</td>
                <td>{{item.MRPInINR}}</td>
                <td>{{item.SellingPriceInINR}}</td>
                <td *ngIf="item.ImagePath != ''"> <i class="fa fa-download bgblue pointer"
                    (click)="DownloadButtonClick(item.ImagePath)" title="Download"></i></td>
                <td *ngIf="item.DocumentPath1 != ''"> <i class="fa fa-download bgblue pointer"
                    (click)="DownloadButtonClick(item.DocumentPath1)" title="Download"></i></td>
                <td *ngIf="item.DocumentPath1 == ''"> </td>
                <td *ngIf="item.DocumentPath2 != ''"> <i class="fa fa-download bgblue pointer"
                    (click)="DownloadButtonClick(item.DocumentPath2)" title="Download"></i></td>
                <td *ngIf="item.DocumentPath2 == ''"> </td>
                <td *ngIf="item.DocumentPath3 != ''"> <i class="fa fa-download bgblue pointer"
                    (click)="DownloadButtonClick(item.DocumentPath3)" title="Download"></i></td>
                <td *ngIf="item.DocumentPath3 == ''"> </td>
                <td class="text-center">
                  <i class="fa fa-edit bgblue pointer" (click)="editButtonClick(i)" title="Edit"></i> &nbsp;
                  <i *ngIf="action" class="fa fa-trash bgred pointer" title="Remove" (click)="removeRow(i)"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="table table-bordered table-condensed table-striped" *ngIf="lstCatalogueDetail.length == 0">
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Merchant SKU</th>
                <th>Amazon ASIN</th>
                <th>Product Desciption</th>
                <th>HSN Code</th>
                <th>Declared Value (In Dollars)</th>
                <th>MRP (In INR)</th>
                <th>Selling Price (In INR)</th>
                <th>Product Image</th>
                <th>File 1</th>
                <th>File 2</th>
                <th>File 3</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="13" class="text-center">No records available.!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <form (ngSubmit)="SaveData()" class="form-horizontal">
    <div class="panel-footer">
      <div class="pull-right btn-toolbar">
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" routerLink="/CrossBorder/Cataloguelist" title="Cancel">
            Cancel
          </button>
          <button class="btn btn-success" type="submit" prevent-double-submit
            *ngIf="identity == 0 || (identity > 0 && objHeader.IOR_CatalogueStatus == 'Resend')"
            [disabled]="lstCatalogueDetail==null || lstCatalogueDetail.length == 0">
            Save
          </button>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </form>
</div>