<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Downloads
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
          <span> Downloads</span>
        </li>
        <li>
          <span> Inventory</span>
        </li>
        <li class="active">

          Download
        </li>
      </ol>
    </div>
  </div>
</div>

<div class="panel panel-default">

  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <form   (ngSubmit)="Downloadexcel()" class="form-horizontal">

          <div class="col-md-3">

            <label class="control-label" for="ScreenName">Report Name <span class="mandantory">*</span></label>
            <div>
              <select [(ngModel)]="Download_Master_ID" name="Download_Master_ID" id="Download_Master_ID"
                class="form-control" (change)="onScreenNameChange($event.target.value)">
                <option value="0" selected="selected">Select</option>
                <option *ngFor="let dis of lstDownloadMaster" value={{dis.Download_Master_ID}}>
                  {{dis.Screen_Name}}
                </option>
              </select>
            </div>
          </div>

          <div id="dv1" class="col-md-2 dvhide" style="display:none">
            <label class="control-label">
              {{  Column1  }}
            </label>
            <input [(ngModel)]="txtColumn1" name="txtColumn1" id="txtColumn1" type="text" class="form-control"
              maxlength="500">
          </div>

          <div id="dv2" class="col-md-2 dvhide" style="display:none">
            <label class="control-label">
              {{  Column2 }}
            </label>
            <input [(ngModel)]="txtColumn2" name="txtColumn2" id="txtColumn2" type="text" class="form-control"
              maxlength="500">
          </div>

          <div id="dv3" class="col-md-2 dvhide" style="display:none">
            <label class="control-label">
              {{ Column3 }}
            </label>
            <input [(ngModel)]="txtColumn3" name="txtColumn3" id="txtColumn3" type="text" class="form-control"
              maxlength="500">
          </div>

          <div id="dv4" class="col-md-2 dvhide" style="display:none">
            <label class="control-label">
              {{ Column4 }}
            </label>
            <input [(ngModel)]="txtColumn4" name="txtColumn4" id="txtColumn4" type="text" class="form-control"
              maxlength="500">
          </div>

          <div id="dv5" class="col-md-2 dvhide" style="display:none">
            <label class="control-label">
              {{ Column5 }}
            </label>
            <input [(ngModel)]="txtColumn5" name="txtColumn5" id="txtColumn5" type="text" class="form-control"
              maxlength="500">
          </div>

          <div class="col-md-1 paddingtop25">

            <button class="btn btn-success" *ngIf="Download_Master_ID!=0" title="Download" prevent-double-submit
              type="submit">
              Download
            </button>
          </div>

        </form>
        <div class="col-md-1 paddingtop25">
          <button class="btn btn-default" *ngIf="Download_Master_ID!=0" (click)="Refresh()" title="Reset">
            Reset
          </button>
        </div>

      </div>
      <div class="col-xs-12" *ngIf="Download_Master_ID!=0">
        <br />
        <br />
        <span class="groupspanheader">Report Description</span>
        <div [innerHTML]="(Description | safeHtml)"></div>
      </div>
      <div class="col-xs-12" *ngIf="Download_Master_ID!=0">
        <span class="groupspanheader">Log Details</span>
        <div class="table-responsive">
          <table class="table table-bordered table-condensed " *ngIf="lstDownloadLog && lstDownloadLog.length">
            <thead>
              <tr>
                <th class="text-center ">Screen Name</th>
                <th class="text-center ">Start Date </th>
                <th class="text-center ">End Date </th>
                <th class="text-center ">Requested By </th>
                <th class="text-center ">Requested Date </th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ms of lstDownloadLog">

                <td>{{ ms.Screen_Name }}</td>
                <td>{{ ms.Startdate | date :"MM-dd-yyyy" }}</td>
                <td>{{ ms.EndDate  | date :"MM-dd-yyyy" }}</td>
                <td>{{ ms.RequestedBy }}</td>
                <td>{{ ms.RequestedDate | date :"MM-dd-yyyy HH:mm" }}</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered table-condensed" *ngIf="lstDownloadLog==null ||lstDownloadLog.length==0">
            <thead>
              <tr>
                <th class="text-center ">Screen Name</th>
                <th class="text-center ">Start Date </th>
                <th class="text-center ">End Date </th>
                <th class="text-center ">Requested By </th>
                <th class="text-center ">Requested Date </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="5">
                  No Records Found.!
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>