<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Shipments
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
           <span> Procurements</span>
        </li>
        <li>
           <span> Shipments</span>
        </li>
        <li class="active">
          
          List
        </li>
      </ol>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">

    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <div class="input-group col-sm-12" role="group" aria-label="Basic example">
          <div class="col-md-3 nopading_loct">
            <select [(ngModel)]="SearchBy" class="serchcurv form-control btn-group">
              <option value="" selected="select">Search By</option>
              <option value="ByPONumber"> PO Number</option>
              <option value="ByShipmentNumber"> Shipment Number</option>
              <option value="ByDate">PO Date</option>
            </select>
          </div>
          <div class="col-md-4 nopading_loct" *ngIf="(SearchBy!='ByDate')">
            <input (keyup.enter)="Search()" [(ngModel)]="SearchKeyword" type="text" class="serchcurv form-control btn-group">
          </div>
          <div class="col-md-4 nopading_loct" *ngIf="(SearchBy=='ByDate')">
            <input type="text" ngxDaterangepickerMd [(ngModel)]="selectedDateRange"
              class="serchcurv form-control btn-group col-xs-12 pointer"
              style="border:1px soloid #ccc !important; padding :3px;left:0px" [showCustomRangeLabel]="true"
              [ranges]="Searchranges" [showCancel]="true" placeholder="Select please..."
              (ngModelChange)="onChange($event)" />
          </div>
          <div class="col-md-2 nopading_loct">
            <button class="serchcurv btn btn-default btn-group" (click)="Search()" title="Search">
              <i class="fa fa-search " aria-hidden="true"></i>
            </button>
            <button class="serchcurv btn btn-default btn-group" (click)="Refresh()" title="Reset">
              <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>

          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
        <a class="btn btn-primary" (click)="AddNewLink()" title="Add New">
          Add New
        </a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <kendo-grid [data]="gridView" resizable="true" columnMenu="true" [pageSize]="pageSize" [skip]="skip"
      [pageable]="true" (pageChange)="pageChange($event)" [sortable]="{
          allowUnsort: allowUnsort,
          mode:  'single'
          }" [sort]="sort" (sortChange)="sortChange($event)" [filterable]="true"
      (dataStateChange)="dataStateChange($event)" [filter]="state.filter">

      <kendo-grid-column field="PONumber" title="PO No.">
      </kendo-grid-column>
      <kendo-grid-column field="LocationName" title="Location">
      </kendo-grid-column>
      <kendo-grid-column field="PODate" title="PO Date" filter="date" format="{0:d}" [filterable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.PODate | date :"MM-dd-yyyy HH:mm" }}
        </ng-template>
      </kendo-grid-column> 
      <kendo-grid-column field="ShipmentType" title="Shipment Type">
      </kendo-grid-column>
      <kendo-grid-column field="ShipmentNumber" title="Shipment No.">
      </kendo-grid-column>
      <kendo-grid-column field="ShipmentName" title="Shipment Name">
      </kendo-grid-column>
      <kendo-grid-column field="IsMailSent" title="Mail" width="120">
        <ng-template kendoGridCellTemplate let-obj>
          <span *ngIf="(obj.IsMailSent)">Yes</span>
          <span *ngIf="(!obj.IsMailSent)">No</span>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="ShipmentStatus" title="Shipment Status">
      </kendo-grid-column>

      <kendo-grid-column field="ShipmentID" title="Action" [class]="{'text-center': true}" [filterable]="false"
        [sortable]="false" width="80">
        <ng-template kendoGridCellTemplate let-obj>
          <i class="fa fa-edit bgblue pointer" [routerLink]="['/Poshipment', obj.ShipmentID, obj.POID]"
            title="Edit"></i>
          &nbsp;
          <i class="fa fa-trash bgred pointer" title="Delete"
            (click)="confirmDeleteid(obj.ShipmentID,obj.POID,obj.ShipmentNumber)"></i>
          &nbsp;
          <i class="fa fa-eye bgblue pointer" [routerLink]="['/Poshipmentview', obj.ShipmentID, obj.POID]"
            title="View"></i>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid> 

  </div>

  <div id="modaldeleteconfimation" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="modaldeleteconfimation" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modaldeleteconfimation">Confirmation</h4>
        </div>
        <div class="modal-body alert-warning">
          <div class="row">
            <div class="col-xs-2">
              <i class="fa fa-warning fa-3x "></i>
            </div>
            <div class="col-xs-10">
              <div>
                <h5>
                  Are you sure you want to delete this value <span> {{deleteColumn}}</span>?
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger btn-sm" (click)="delete()">Yes</button>
          &nbsp;
          <button class="btn btn-default btn-sm" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>