<section class="container">

  <h2>PRIVACY POLICY</h2>
  <h3>1. Scope and Application</h3>
  <p>
    1.1 This privacy policy is an electronic record in the form of an electronic contract drafted
    under the (Indian) Information Technology Act, 2000, the Information Technology
    (Reasonable security practices and procedures and sensitive personal data of information) Rules,
    2011, as amended from time to time (<strong> “Privacy Policy” </strong>).
  </p>
  <p>
    1.2 This Privacy Policy is a legally binding document between you and us which governs the usage,
    collection, protection and sharing of any Information that you provide us, when you access, use,
    purchase any of the Company Applications through any Platform (as understood in the Terms of Use).
    This Privacy Policy shall be read together with the other policies published by us on the
    Platform, including without limitation the Terms of Use (together the <strong> “Policies” </strong>).
  </p>
  <p>
    1.3 By accessing or using the Platform, you indicate that you understand, agree and consent to the
    terms and conditions contained in the Privacy Policy. If you do not agree with the terms and
    conditions of this Privacy Policy, please do not use this Platform.
  </p>
  <p>
    1.4 We are committed to ensure that your privacy is protected to all possible, reasonable and
    commercial extent, as your privacy and data protection is of the utmost importance to us.
  </p>
  <p>
    1.5 We gather certain types of Information about you in order to provide, maintain and improve the Company
    Applications, and hence, we strongly urge you to fully understand the terms and conditions of the Privacy Policy
    surrounding the capture and use of such Information.
  </p>
  <p>
    1.6 Please note that we are based in the Republic of India, and we use Amazon Web Services for providing the
    services through the Company Applications. Please be aware that we are governed by the (Indian) Information
    Technology Act, 2000; however, even though it may or may not accord the same degree of data protection as your home
    jurisdiction, our collection, storage and usage of Information will continue to be governed by this Privacy Policy.
  </p>
  <h3> 2. Types of Information collected by the Us (“Information”) </h3>
  <p>2.1 Personally Identifiable Information (PII)</p>
  <ul class="termslist">
    <li>
      (a) PII, as used in information security and privacy laws, is information that can be used on its own or with
      other information to identify, contact, or locate a single person, or to identify an individual in context.
    </li>
    <li>
      (b) We may collect and retain certain PII including without limitation your name, age, gender, telephone number,
      mailing address, including but not limited to permanent and current residential addresses, email address, history
      of your transactions with us (booking and payment history), etc. These PII are essential for your access and use
      of the Company Applications.
    </li>
    <li>
      (c) We also collect any information exchanged by you with us in the form of written communication, responses to
      emails, feedback provided, participation in discussions, etc. is handled with confidentiality and will be
      available for our exclusive use.
    </li>
  </ul>
  <p>2.2 Non-Personal Information (NPI)</p>
  <ul class="termslist">
    <li>(a) We also collect information in a form that does not permit direct association with any specific individual
      including without limitation the information of the browser you use, usage details and identifying technologies
      (“NPI”). NPI includes without limitation referring/ exit pages, anonymous usage data, and URLs, platform types,
      number of clicks, etc.). We request you to note that when you access the Platform or receive emails or any
      communication from us, we along with its affiliated companies and permitted agents, may use cookies and/or pixel
      tags to collect information and store your online preferences.</li>
    <li>(b) We may also collect other non-specific information to provide you better access to the Company Applications
      each time such as preferences and interests and other non-personal details names shared via the Platforms, any
      application form or email or any other medium. We may also store and publish such information to assist us in
      making the Company Applications better and easier to use.</li>
  </ul>
  <h3>3. Information Usage and Sharing</h3>
  <p>
    3.1 Our primary goal in collecting the Information is for us to render the Services to you, and to ensure quality
    and efficiency in the Services provided to you. Additionally, we will also be using the Information for our internal
    operational purposes, such as providing, maintaining, evaluating, and improving the Platform and the Services, and
    also for providing customer support. We would also be sharing the information with others in the manner provided in
    this Privacy Policy.
  </p>
  <p>
    3.2 Please note that we do not and will not trade or sell your PII in any manner. Further, we will not trade or sell
    any PII of any of your customers or clients for any purpose.
  </p>
  <p>
    3.3 We may share any PII with third parties only in the following limited circumstances:
  </p>
  <ul class="termslist">
    <li>
      (a) To provide other businesses or persons for the purpose of processing PII on our behalf in connection with the
      Company Applications. We require that these parties agree to process such information based on our instructions
      and in compliance with this Privacy Policy and all other appropriate confidentiality and security measures;
    </li>
    <li>
      (b) We have a good faith belief that access, use, preservation or disclosure of such PII is reasonably necessary
      to: (i) satisfy any applicable law, regulation, legal process or enforceable governmental request including to law
      enforcement and in response to a court order, (ii) detect, prevent, or otherwise address fraud, technical or
      security issues, (iii) enforce applicable Policies of the Platform, which may be further extended to investigation
      of potential violations thereof, or (iv) protect against harm to our rights, safety or property, our users or the
      public as required or permitted by law;
    </li>
    <li>
      (c) To protect ourselves against third-party claims;
    </li>
    <li>
      (d) We may disclose/ share information to those third-parties who support our business, such as providing
      technical infrastructure services, analysing how our services are used, measuring the effectiveness of
      advertisements, providing customer support and business support services, facilitating payments, etc., and such
      information will be used for the limited purposes of such services received by us.
    </li>
  </ul>
  <p>
    3.4 We may share NPI with interested third parties to help them understand the usage patterns and analyses for
    certain Services. Any NPI and data and analyses arising therefrom may be shared by us to its existing and potential
    partners, advertisers, investors, and others.
  </p>
  <h3>
    4. Links to/ from Third-Party Websites
  </h3>
  <p>
    4.1 The Company Applications may contain links to third-party websites, products, and services. Information
    collected by third parties, which may include without limitation information such as location data or contact
    details, is governed by the privacy practices undertaken by such third parties. We encourage you to learn about the
    privacy practices of those third parties. We expressly assert that we cannot be responsible for these practices.
  </p>
  <p>
    4.2 We may have presence on social networking websites including but not limited to LinkedIn, Facebook, Twitter,
    YouTube and blogs which are promotional and business initiatives to attract, engage and connect to a larger group of
    people. The domain links contained therein may either direct you to our Company Applications or request your
    participation by way of feedback, suggestions, etc. We, in this regard, fully disclaims any liability(ies) or
    claim(s), which may arise by use/misuse of your feedback, suggestions, views, etc. on any of the aforementioned
    networking websites or blogs, by any third party whether or not known to us.
  </p>
  <h3>5. Information Security & Retention</h3>
  <p>
    5.1 We take precautions including without limitation administrative, technical and physical measures to safeguard
    your personal information against loss, misuse or theft, as well as against destruction, alteration, disclosure and
    unauthorized access.
  </p>
  <p>
    5.2 For this purpose, we adopt internal reviews of the data collection, storage and processing practices and
    security measures, including appropriate encryption and physical security measures to guard against unauthorized
    access to systems, where we store your PII. Specifically, while we will ensure our best efforts to protect your
    Information in line with commercially reasonable efforts and general industry standards; however, we do not
    represent, warrant, or guarantee that your Information will be protected against unauthorized access, loss, misuse,
    or alterations beyond our reasonable control.
  </p>
  <p>
    5.3 You are responsible for maintaining the confidentiality of your account and password and for restricting access
    to your computer/ mobile systems, and you agree to accept responsibility for all activities that occur under your
    account or password.
  </p>
  <p>
    5.4 We may share your Information with third parties for the purposes mentioned in Section 3 under confidentiality
    arrangements in connection with our Services, which inter alia provides for that such third parties to not further
    disclose the Information.
  </p>
  <p>
    5.5 Notwithstanding anything contained in this Privacy Policy or elsewhere, we shall not be held responsible for any
    loss, damage or misuse of your PII, if such loss, damage or misuse is attributable to a Force Majeure Event, being
    any event that is beyond our reasonable control and shall include, without limitation, sabotage, fire, flood,
    explosion, acts of God, civil commotion, strikes or industrial action of any kind, riots, insurrection, war, acts of
    government, computer hacking, unauthorised access to computer, computer system or computer network, computer
    crashes, breach of security and encryption (beyond our reasonable commercial control), power or electricity failure
    or unavailability of adequate power or electricity.
  </p>
  <p>
    5.6 While we will endeavour to take all reasonable and appropriate steps to keep secure any PII which we hold about
    you and prevent unauthorized access, you acknowledge that the internet or computer networks are not fully secure and
    that we cannot provide any absolute assurance regarding the security of your PII.
  </p>
  <p>
    5.7 You understand and agree that the we may continue to store your Information after you cease use of the Company
    Applications or disable your use of, access to, or otherwise of the Services or the Platform. Please note that we
    shall not use, share or/ and disclose your PII with its affiliates, vendors, third parties etc., after you cease use
    of the Company Applications or disable your use of, access to, or otherwise of the Company Applications, unless
    required by law to do so. NPI will be retained indefinitely, and we may however continue to use, share and/ or
    disclose your NPI in furtherance of our policies.
  </p>
  <h3>6. Grievances</h3>
  <p>
    6.1 In case of breach of security leading to the accidental or unlawful destruction, loss, alteration, unauthorized
    disclosure of, or access to, personal data transmitted, stored or otherwise processed, we have the mechanisms and
    policies in place in order to identify it and assess it promptly. Depending on the outcome of our assessment, we
    will make the requisite notifications to the supervisory authorities and communications to the affected data
    subjects, which might include you.
  </p>
  <p>
    6.2 In accordance with the legal requirements, the name and contact details of the Grievance Officer who can be
    contacted with respect to any complaints or concerns including those pertaining to breach of this Privacy Policy and
    other Polices are published as under: <br>
    Grievance Officer Name: [●]<br>
    Email address: [●] <br>
    Phone number: [●] <br>
    Address: [•]

  </p>
  <p>
    6.3 The Grievance Officer can be contacted between 10am to 5pm from Monday to Friday except on public holidays.
  </p>
  <h3>7. Governing Law</h3>
  <p>
    7.1 We are incorporated in, and based out of the Republic of India, and we are duty bound to abide by Indian laws.
    We may not have complied with some privacy laws of other countries and further represent to be unaware of such other
    legal requirements.
  </p>
  <p>
    7.2 Further, any disputes regarding this Privacy Policy shall be subject to the exclusive jurisdiction of the courts
    of Bengaluru, India.
  </p>
  <h3>8. Other terms</h3>
  <p>
    8.1 We reserve the right to modify, amend, suspend, terminate or replace this Privacy Policy from time to time
    within our sole discretion. We will post any changes made to the Privacy Policy on the Platform without prior notice
    to you. Such changes will take effect immediately upon their posting on the Platform. If we make material changes to
    this Privacy Policy, we may notify you that it has been updated to enable you to review the materially-changed
    Privacy Policy.
  </p>
  <p>
    8.2 We encourage you to review the Privacy Policy frequently. By your continued use of the Platform, you consent to
    the terms of the revised/ updated Privacy Policy.
  </p>
  <p class="pull-right">
    <a routerLinkActive="active" routerLink="/Signin">Back to Sign In</a>
  </p>

</section>