<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Goods Receipts
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
           <span> GRN</span>
        </li>
        <li>
           <span> Goods Receipts</span>
        </li>
        <li class="active">
          
          List
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <div class="input-group col-sm-12" role="group" aria-label="Basic example">
          <div class="col-md-3 nopading_loct">
            <select [(ngModel)]="SearchBy" class="serchcurv form-control btn-group">
              <option value="" selected="select">Search By</option>
              <option value="GRNNumber">GRN Number</option>
              <option value="PONumber">PO Number</option>
              <option value="PurchaseInvoiceNum">Invoice Number</option>
              <option value="Location">Location</option>
              <option value="Vendor">Vendor</option>
              <option value="InventoryType">Inventory Type</option>
              <option value="GRNStatus">GRN Status</option>
              <option value="GRNDate">GRN Date</option>
            </select>
          </div>
          <div class="col-md-4 nopading_loct" *ngIf="(SearchBy!='GRNDate')">
            <input (keyup.enter)="Search()" [(ngModel)]="SearchKeyword" type="text" class="serchcurv form-control btn-group">
          </div>
          <div class="col-md-4 nopading_loct" *ngIf="(SearchBy=='GRNDate')">
            <input type="text" ngxDaterangepickerMd [(ngModel)]="selectedDateRange"
              class="serchcurv form-control col-xs-12 pointer"
              style="border:1px soloid #ccc !important; padding :3px;left:0px" [showCustomRangeLabel]="true"
              [ranges]="Searchranges" [showCancel]="true" placeholder="Select please..."
              (ngModelChange)="onChange($event)" />
          </div>

          <div class="col-md-2 nopading_loct">
            <button class="serchcurv btn btn-default btn-group" (click)="Search()" title="Search">
              <i class="fa fa-search " aria-hidden="true"></i>
            </button>
            <button class="serchcurv btn btn-default btn-group" (click)="Refresh()" title="Reset">
              <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
          </div>


        </div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-right">
        <button class="btn btn-primary" (click)="AddNewLink()" title="Add New">
          Add New
        </button>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <kendo-grid [data]="gridView" resizable="true" columnMenu="true" resizable="true" [pageSize]="pageSize" [skip]="skip"
      [pageable]="true" (pageChange)="pageChange($event)" [sortable]="{
            allowUnsort: allowUnsort,
            mode:  'single'
            }" [sort]="sort" (sortChange)="sortChange($event)" [filterable]="true"
      (dataStateChange)="dataStateChange($event)" [filter]="state.filter">

      <kendo-grid-column field="PONumber" title="PO No." width="160">
        </kendo-grid-column>
      <kendo-grid-column field="GRNNumber" title="GRN No." width="150">
      </kendo-grid-column>
      <kendo-grid-column field="GRNDate" title="GRN Date" filter="date" format="{0:d}" [filterable]="false" width="160">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.GRNDate | date :"MM-dd-yyyy HH:mm" }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="InvoiceNumber" title="Invoice No.">
      </kendo-grid-column> 
      <kendo-grid-column field="LocationName" title="Location">
      </kendo-grid-column>
      <kendo-grid-column field="VendorName" title="Vendor Name">
      </kendo-grid-column>
      <kendo-grid-column field="InventoryType" title="Inventory Type">
      </kendo-grid-column>
      <kendo-grid-column field="GRNStatus" title="GRN Status">
      </kendo-grid-column>
      <!-- <kendo-grid-column field="TotalReceivedQty" title="Total Qty">
      </kendo-grid-column> -->

      <kendo-grid-column field="GRNNumber" title="Action" [class]="{'text-center': true}" [filterable]="false"
        [sortable]="false" width="70">
        <ng-template kendoGridCellTemplate let-obj>
          <i class="fa fa-download bgblue pointer" (click)="DownloadButtonClick(obj.GRNNumber)" title="Download"></i>
          &nbsp;
          <i class="fa fa-eye bgblue pointer" [routerLink]="['/Goodsreceiptview', obj.GRNID]" title="View"></i>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>