<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Sales Order
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
          <i class="fa fa-money"></i> <span> Revenue</span>
        </li>
        <li>
          <i class="fa fa-shopping-cart"></i> <span> Sales Order</span>
        </li>
        <li class="active">
          <i class="fa fa-save"></i>
          Save
        </li>
      </ol>
    </div>
  </div>
</div>
<form autocomplete="off" (ngSubmit)="saveData()" [formGroup]="salesForm">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <span class="groupspanheader">
            {{panelTitle}} <span *ngIf="!action">
              - {{objSalesOrder?.ApprovalStatus}}
            </span>
          </span>
        </div>
        <div class="col-sm-4">
          <span class=" spanheader" *ngIf="!action">
            Action By : {{objSalesOrder?.ActionBy}}
          </span>
        </div>
        <div class="col-sm-4">
          <span class=" spanheader" *ngIf="!action">
            Action Date : {{objSalesOrder?.ActionDate | date:'MM-dd-yyyy HH:mm'}}
          </span>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
          <div class="pull-right">
            <button class="btn btn-primary" routerLink="/Salesorderlist" title="Back">

              Back
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-body">
      
      <div class="row">

        <div class="col-md-3 col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': formErrors.CustomerID}">
            <label class="control-label" for="CustomerID">Customer <span class="mandantory">*</span></label>
            <div *ngIf="action">
              <select id="CustomerID" class="form-control" formControlName="CustomerID" (blur)="logValidationErrors()"
                (change)="onCustomerChange($event.target.value)" [disabled]="!IsDisableMasterControls">
                <option value="0" selected="selected">Select</option>
                <option *ngFor="let dis of customerList" value={{dis.CustomerID}}>
                  {{dis.CustomerName}}
                </option>
              </select>
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.CustomerID">
                  {{formErrors.CustomerID}}
                </span>
              </div>
            </div>
            <div *ngIf="!action">
              {{objSalesOrder?.CustomerName}}
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="form-group">
            <label class="control-label" for="OrderID">Order ID </label>
            <div>
              {{OrderID}}
              <div class="help-block-rk">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="  form-group" [ngClass]="{'has-error': formErrors.OrderDate}">
            <label class="control-label" for="OrderDate">Order Date <span class="mandantory">*</span>
            </label>
            <div *ngIf="action">
              <div class='input-group date'>
                <input type="text" ngxDaterangepickerMd [timePicker]="true" [singleDatePicker]="true"
                  class="form-control" formControlName="OrderDate" id="OrderDate" (change)="logValidationErrors()"
                  [locale]="{format: 'MM-DD-YYYY HH:mm'}" [autoApply]="true" (datesUpdated)="OrderDateUpdated($event)"
                  *ngIf="!hideOrderDate" [minDate]="orderMinDate" [maxDate]="OrderMaxDate" />
                <label class="fa fa-calendar" *ngIf="!hideOrderDate"></label>
                <div *ngIf="hideOrderDate">
                  {{
                      OrderDate | date:'MM-dd-yyyy HH:mm'
                    }}
                </div>
              </div>
              <div class="help-block-rk">
              </div><span class="help-block" *ngIf="formErrors.OrderDate">
                {{formErrors.OrderDate}}
              </span>
            </div>
            <div *ngIf="!action">
              {{objSalesOrder?.OrderDate | date:'MM-dd-yyyy HH:mm' }}
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': formErrors.CustomerWarehouseID}">
            <label class="control-label" for="CustomerWarehouseID">Customer Warehouse <span
                class="mandantory">*</span></label>
            <div *ngIf="action">
              <select id="CustomerWarehouseID" class="form-control" formControlName="CustomerWarehouseID"
                (blur)="logValidationErrors()" (change)="onCustomerWarehouseIDChange($event.target.value)">
                <option value="0" selected="selected">Select</option>
                <option *ngFor="let dis of customerWarehouseList" value={{dis.CustomerWarehouseID}}>
                  {{dis.WarehouseName}}
                </option>
              </select>
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.CustomerWarehouseID">
                  {{formErrors.CustomerWarehouseID}}
                </span>
              </div>
            </div>
            <div *ngIf="!action">
              {{objSalesOrder?.WarehouseName}}
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="form-group">
            <label class="control-label" for="ShipTo"> Ship To
              <span class="mandantory"> *</span>
            </label>
            <div>
              {{ShipTo}}
              <div class="help-block-rk">

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="form-group">
            <label class="control-label" for="BilledTo"> Billed To
              <span class="mandantory">*</span>
            </label>
            <div>
              {{BilledTo}}
              <div class="help-block-rk">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label"> Bill To Is same as Ship To </label> <br />
            <input *ngIf="action" type="checkbox" checked="checked" [(ngModel)]="IsBillTo_SameAs_ShipTo"
              formControlName="IsBillTo_SameAs_ShipTo" (change)="onchangeIsBillTo_SameAs_ShipTo($event)">
            <div *ngIf="!action">
              <div *ngIf="IsBillTo_SameAs_ShipTo">
                Yes
              </div>
              <div *ngIf="!IsBillTo_SameAs_ShipTo">
                No
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label"> Is discount applicable </label> <br />
            <input *ngIf="action" type="checkbox" formControlName="IsDiscountApplicable"
              [(ngModel)]="IsDiscountApplicable" (change)="onchangeIsDiscountApplicable($event)">
            <div *ngIf="!action">
              <div *ngIf="IsDiscountApplicable">
                Yes
              </div>
              <div *ngIf="!IsDiscountApplicable">
                No
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': formErrors.InventoryType}">
            <label class="control-label" for="InventoryType">Inventory Type <span class="mandantory">*</span></label>
            <div *ngIf="action">
              <input type="text" id="InventoryType" class="form-control" formControlName="InventoryType"
                disabled="disabled">
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.InventoryType">
                  {{formErrors.InventoryType}}
                </span>
              </div>
            </div>
            <div *ngIf="!action">
              {{objSalesOrder?.InventoryType}}
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': formErrors.PaymentTermsID}">
            <label class="control-label" for="PaymentTermsID">Payment Terms <span class="mandantory">*</span></label>
            <div *ngIf="action">
              <select id="PaymentTermsID" class="form-control" formControlName="PaymentTermsID"
                (blur)="logValidationErrors()">
                <option value="0" selected="selected">Select</option>
                <option *ngFor="let dis of lstPaymentTermsID" value={{dis.PaymentTermsID}}>
                  {{dis.DiscountAllowedinDaysDesc}}
                </option>
              </select>
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.PaymentTermsID">
                  {{formErrors.PaymentTermsID}}
                </span>
              </div>
            </div>
            <div *ngIf="!action">
              {{objSalesOrder?.DiscountAllowedinDaysDesc}}
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': formErrors.DispatchThrough}">
            <label class="control-label" for="DispatchThrough">Dispatch Through <span
                class="mandantory">*</span></label>
            <div *ngIf="action">
              <select id="DispatchThrough" class="form-control" formControlName="DispatchThrough" type="select"
                (blur)="logValidationErrors()">
                <option value="" selected="selected">Select</option>
                <option *ngFor="let dis of lstDispatchThrough" value={{dis.DropdownValue}}>
                  {{dis.DropdownValue}}
                </option>
              </select>
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.DispatchThrough">
                  {{formErrors.DispatchThrough}}
                </span>
              </div>
            </div>
            <div *ngIf="!action">
              {{objSalesOrder?.DispatchThrough}}
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="form-group" [ngClass]="{'has-error':formErrors.BuyerOrderNo}">
            <label class="control-label" for="BuyerOrderNo"> Buyer Order No <span class="mandantory">*</span></label>
            <div *ngIf="action">
              <input id="BuyerOrderNo" type="text" class="form-control" formControlName="BuyerOrderNo"
                (blur)="logValidationErrors()" maxlength="20">
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.BuyerOrderNo">
                  {{formErrors.BuyerOrderNo}}
                </span>
              </div>
            </div>
            <div *ngIf="!action">
              {{objSalesOrder?.BuyerOrderNo}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <div class="form-group" [ngClass]="{'has-error':formErrors.DeliveryNote}">
            <label class="control-label" for="DeliveryNote"> Delivery Note <span class="mandantory">*</span></label>
            <div *ngIf="action">
              <input id="DeliveryNote" type="text" class="form-control" formControlName="DeliveryNote"
                (blur)="logValidationErrors()" maxlength="50">
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.DeliveryNote">
                  {{formErrors.DeliveryNote}}
                </span>
              </div>
            </div>
            <div *ngIf="!action">
              {{objSalesOrder?.DeliveryNote}}
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="form-group" [ngClass]="{'has-error':formErrors.TermsOfDelivery}">
            <label class="control-label" for="TermsOfDelivery"> Terms Of Delivery <span
                class="mandantory">*</span></label>
            <div *ngIf="action">
              <input id="TermsOfDelivery" type="text" class="form-control" formControlName="TermsOfDelivery"
                (blur)="logValidationErrors()" maxlength="50">
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.TermsOfDelivery">
                  {{formErrors.TermsOfDelivery}}
                </span>
              </div>
            </div>
            <div *ngIf="!action">
              {{objSalesOrder?.TermsOfDelivery}}
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="form-group" [ngClass]="{'has-error':formErrors.Remarks}">
            <label class="control-label" for="Remarks"> Remarks
              <span class="mandantory"> *</span>
            </label>
            <div *ngIf="action">
              <textarea rows="4" cols="50" id="Remarks" type="text" class="form-control" formControlName="Remarks"
                (blur)="logValidationErrors()" maxlength="250">
                  </textarea>
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.Remarks">
                  {{formErrors.Remarks}}
                </span>
              </div>
            </div>
            <div *ngIf="!action">
              {{objSalesOrder?.Remarks}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <span class="groupspanheader">Order Items</span>
    </div>
    <div *ngIf="action">
      <kendo-grid [data]="gridData" (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
        (save)="saveHandler($event)" (remove)="removeHandler($event)" (add)="addHandler($event)" [height]="410">
        <ng-template kendoGridToolbarTemplate>
          <button kendoGridAddCommand>Add Item</button>
        </ng-template>

        <kendo-grid-column field="ItemCode" title="ItemCode" width="150">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{item(dataItem.ItemID)?.ItemCode}}
          </ng-template>
          <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-column="column" let-formGroup="itemFormGroup">
            <kendo-dropdownlist #ddl="popupAnchor" popupAnchor [data]="itemList" textField="ItemCode"
              valueField="ItemID" [valuePrimitive]="true" [formControl]="itemFormGroup.get(column.field)"
              (valueChange)="onItemCodeChange($event)" [kendoDropDownFilter]="filterSettings">
            </kendo-dropdownlist>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="ItemName" title="Item Description" width="200">
          <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
            <input #input [readonly]="true" class="k-textbox" [formControl]="itemFormGroup.get(column.field)">
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="CustomerItemCode" title="CustomerItemCode" width="200">
          <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
            <input #input [readonly]="true" class="k-textbox" [formControl]="itemFormGroup.get(column.field)">
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="Units" title="Units" width="100">
          <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
            <kendo-numerictextbox #ntb="popupAnchor" popupAnchor [formControl]="itemFormGroup.get(column.field)"
              (valueChange)="onUnitsChanged($event)" format="##">
            </kendo-numerictextbox>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="UOM" title="UOM" width="150">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{uomDetail(dataItem.UOMID)?.UOM}}
          </ng-template>
          <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-column="column" let-formGroup="itemFormGroup">
            <kendo-dropdownlist #ddl="popupAnchor" popupAnchor [data]="uomList" textField="UOM" valueField="UOMID"
              [valuePrimitive]="true" (valueChange)="onUOMChanged($event)" [formControl]="itemFormGroup.get('UOM')"
              [kendoDropDownFilter]="filterSettings" >
            </kendo-dropdownlist>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="ItemRate" title="Selling Price" width="120" format="0.##" >
          <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
            <kendo-numerictextbox #ntb="popupAnchor" popupAnchor [readonly]="true"
              [formControl]="itemFormGroup.get(column.field)" format="0.##"></kendo-numerictextbox>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="MRP" title="MRP" width="100" format="0.##">
          <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
            <kendo-numerictextbox #ntb="popupAnchor" popupAnchor [readonly]="true"
              [formControl]="itemFormGroup.get(column.field)" format="0.##">
            </kendo-numerictextbox>
          </ng-template>
        </kendo-grid-column>


        <kendo-grid-column field="TaxRate" title="Tax Rate" width="75" format="0.##">
          <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
            <kendo-numerictextbox #ntb="popupAnchor" popupAnchor [formControl]="itemFormGroup.get(column.field)"
              [formControl]="itemFormGroup.get(column.field)" [readonly]="true" format="0.##">
            </kendo-numerictextbox>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="TaxAmount" title="Tax Amount" width="150" format="0.##">
          <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
            <kendo-numerictextbox #ntb="popupAnchor" popupAnchor [formControl]="itemFormGroup.get(column.field)"
              [formControl]="itemFormGroup.get(column.field)" [readonly]="true" format="0.##">
            </kendo-numerictextbox>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="Discountamt" title="Discount Amount" width="150" format="0.##">
          <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
            <kendo-numerictextbox #ntb="popupAnchor" popupAnchor [formControl]="itemFormGroup.get(column.field)"
              [formControl]="itemFormGroup.get(column.field)" [readonly]="true" format="0.##">
            </kendo-numerictextbox>
          </ng-template>
        </kendo-grid-column>


        <kendo-grid-column field="ShippingCharges" title="Shipping Charges" width="150" format="0.##">
          <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
            <kendo-numerictextbox #ntb="popupAnchor" popupAnchor [formControl]="itemFormGroup.get(column.field)"
              (valueChange)="onShippingChargesChanged($event)" format="0.##">
            </kendo-numerictextbox>
          </ng-template>
        </kendo-grid-column>


        <kendo-grid-column field="TotalValue" title="Total Value" width="150" format="0.##">
          <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
            <kendo-numerictextbox #ntb="popupAnchor" popupAnchor [readonly]="true"
              [formControl]="itemFormGroup.get(column.field)" format="0.##"></kendo-numerictextbox>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-command-column title="Action" [class]="{'text-center': true}"  width="150">
          <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridEditCommand [primary]="true">Edit</button>
            <button kendoGridRemoveCommand>Remove</button>
            <button kendoGridSaveCommand [disabled]="itemFormGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
            <button kendoGridCancelCommand>{{ isNew ? 'Discard' : 'Cancel' }}</button>
          </ng-template>
        </kendo-grid-command-column>
      </kendo-grid>
    </div>


    <div *ngIf="!action">
      <table class="table table-bordered table-condensed table-striped"
        *ngIf="objSalesOrder.lstItem && objSalesOrder.lstItem.length">
        <thead>
          <tr>
            <th>ItemCode</th>
            <th>Item Name</th>
            <th>Customer ItemCode</th>
            <th *ngIf="(objSalesOrder?.InventoryType=='Sellable')">Units</th>
            <th *ngIf="(objSalesOrder?.InventoryType=='Sellable')">UOM </th>
            <th>Qty </th>


            <th>Selling Price</th>
            <th>TaxRate</th>
            <th>Tax Amt</th>
            <th>Discount Amt</th>
            <th>Shipping Charges</th>
            <th>Total value</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of objSalesOrder.lstItem">
            <td>{{data.ItemCode}}</td>
            <td>{{data.ItemName  }}</td>
            <td>{{data.CustomerItemCode}}</td>
            <td *ngIf="(objSalesOrder?.InventoryType=='Sellable')" class="text-right">{{data.Units}}</td>
            <td *ngIf="(objSalesOrder?.InventoryType=='Sellable')" class="text-right">
              {{data.MultiplierValue}}</td>
            <td class="text-right">{{data.Qty}}</td>


            <td class="text-right">{{data.ItemRate | currency: 'INR'}}</td>
            <td class="text-right">{{data.TaxRate  }}</td>
            <td class="text-right">{{data.TaxAmount | currency: 'INR'}}</td>
            <td class="text-right">{{data.Discountamt | currency: 'INR'}}</td>
            <td class="text-right">{{data.ShippingCharges | currency: 'INR'}}</td>
            <td class="text-right">{{data.TotalValue | currency: 'INR'}}</td>
          </tr>

          <tr>
            <th>Total</th>
            <th> </th>
            <th> </th>
            <th *ngIf="(objSalesOrder?.InventoryType=='Sellable')" class="text-right"> {{ TotalCaseSize}}</th>
            <th *ngIf="(objSalesOrder?.InventoryType=='Sellable')" class="text-right"> {{ TotalMultiplierValue}}</th>
            <th class="text-right"> {{ TotalQty}}</th>


            <th class="text-right">
              {{ TotalItemRate | currency: 'INR'}}
            </th>
            <th class="text-right">
            </th>
            <th class="text-right">
              {{ TotalTaxAmount | currency: 'INR'}}
            </th>
            <th class="text-right">
              {{ TotalDiscountamt | currency: 'INR'}}
            </th>

            <th class="text-right">
              {{ TotalShippingCharges | currency: 'INR'}}
            </th>
            <th class="text-right">
              {{ TotalTotalAmount | currency: 'INR'}}
            </th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel-footer" *ngIf="action">
      <div class="btn-toolbar pull-right">
        <button type="button" id="cancel" class="btn btn-primary" routerLink="/Salesorderlist">Cancel</button>
        <button prevent-double-submit type="submit" id="save" class="btn btn-success"
          [disabled]="!salesForm.valid">Save</button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</form>