<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      In-Transit
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
          <span>Amazon Auto RTV</span>
        </li>
        <li>
          <span> In-Transit</span>
        </li>
        <li class="active">
          List
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <kendo-grid [data]="gridView" resizable="true" columnMenu="true" [pageSize]="pageSize" [skip]="skip"
        [pageable]="true" (pageChange)="pageChange($event)" [sortable]="{
            allowUnsort: allowUnsort,
            mode:  'single'
            }" [sort]="sort" (sortChange)="sortChange($event)" [filterable]="true"
        (dataStateChange)="dataStateChange($event)" [filter]="state.filter">

        <kendo-grid-column field="RemovalOrderID" title="Removal OrderID">
        </kendo-grid-column>
        <kendo-grid-column field="RemovalDate" title="Removal Date" filter="date" format="{0:d}" [filterable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.RemovalDate | date :"MM-dd-yyyy" }}
          </ng-template>
        </kendo-grid-column> 
        <kendo-grid-column field="TrackingNumber" title="Tracking Number">
        </kendo-grid-column>
        <kendo-grid-column field="ShipmentDate" title="Shipment Date" filter="date" format="{0:d}" [filterable]="false">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.ShipmentDate | date :"MM-dd-yyyy HH:mm" }}
          </ng-template>
        </kendo-grid-column> 
        <kendo-grid-column field="Carrier" title="Carrier">
        </kendo-grid-column>
        <kendo-grid-column field="ItemCode" title="Item Code">
        </kendo-grid-column>
        <kendo-grid-column field="ItemCode2" title="Item Code2">
        </kendo-grid-column>
        <kendo-grid-column field="InventoryType" title="Inventory Type">
        </kendo-grid-column>
        <kendo-grid-column field="Qty" title="Qty">
        </kendo-grid-column>
        <kendo-grid-column field="InTransitValue" title="InTransit Value">
        </kendo-grid-column>
        <kendo-grid-column field="ShipmentStatus" title="Shipment Status">
        </kendo-grid-column>
        <kendo-grid-column field="Ageing_on_Shipment" title="Ageing on Shipment">
        </kendo-grid-column>  
      </kendo-grid>
    </div>
  </div>
</div>
