<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <span class="groupspanheader">
          {{FormName}}
        </span>
      </div>
      <div class="col-sm-4">
        <div class="pull-left">
          FormID - <b> {{FormID}}</b>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
        <div class="pull-right btn-toolbar">
          <button type="button" class="btn btn-default" (click)="add()">
            Add
          </button>

          <a class="btn btn-primary" routerLink="/Dataentryformlist" title="Back">
            Back to List
          </a>
          <a class="btn btn-primary" [routerLink]="['/Dataentryreport',RequestFormID]" title="Back">
            Back to Report
          </a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="Action=='View'">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="pull-right">
            <div id="myDIV">
              <span (click)="ChangeDesign('Grid1')" class="gridtype active">Grid 1</span>
              <span (click)="ChangeDesign('Grid2')" class="gridtype ">Grid 2</span>
              <span (click)="ChangeDesign('Grid3')" class="gridtype">Grid 3</span>
            </div>
          </div>
        </div>
        <div *ngIf="FormDesignType=='Grid1'">

          <div *ngFor="let form_elem of formTemplate">
            <div [ngSwitch]="form_elem.ControlType">
              <div class="col-xs-12">
                <div class="form-group">
                  <label class="col-xs-4 control-label" for="{{form_elem.ControlId}}">
                    {{form_elem.Caption}}
                    <span class="mandantory" *ngIf="form_elem.IsMandantory">*</span>
                  </label>
                  <div class="col-xs-8">
                    <div *ngSwitchCase="'TextBox'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>
                    <div *ngSwitchCase="'Number'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>
                    <div *ngSwitchCase="'TextArea'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>

                    <div *ngSwitchCase="'DropDown'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>

                    <div *ngSwitchCase="'CheckBox'">
                      <div *ngIf="getDataByCaption(form_elem.ControlId)==true">
                        Yes
                      </div>
                      <div *ngIf="getDataByCaption(form_elem.ControlId)==false">
                        No
                      </div>
                    </div>

                    <div class="help-block-rk1">
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div *ngIf="FormDesignType=='Grid2'">
          <div *ngFor="let form_elem of formTemplate">
            <div [ngSwitch]="form_elem.ControlType">
              <div class="col-xs-3">
                <div class="form-group">
                  <label class="control-label" for="{{form_elem.ControlId}}">
                    {{form_elem.Caption}}
                    <span class="mandantory" *ngIf="form_elem.IsMandantory">*</span>
                  </label>
                  <div class="">

                    <div *ngSwitchCase="'TextBox'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>

                    <div *ngSwitchCase="'Number'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>

                    <div *ngSwitchCase="'TextArea'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>

                    <div *ngSwitchCase="'DropDown'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>

                    <div *ngSwitchCase="'CheckBox'">
                      <div *ngIf="getDataByCaption(form_elem.ControlId)==true">
                        Yes
                      </div>
                      <div *ngIf="getDataByCaption(form_elem.ControlId)==false">
                        No
                      </div>
                    </div>

                    <div class="help-block-rk1">
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="FormDesignType=='Grid3'">
          <div *ngFor="let form_elem of formTemplate">
            <div [ngSwitch]="form_elem.ControlType">
              <div class="col-xs-4">
                <div class="form-group">
                  <label class="control-label" for="{{form_elem.ControlId}}">
                    {{form_elem.Caption}}
                    <span class="mandantory" *ngIf="form_elem.IsMandantory">*</span>
                  </label>
                  <div class="">

                    <div *ngSwitchCase="'TextBox'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>

                    <div *ngSwitchCase="'Number'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>

                    <div *ngSwitchCase="'TextArea'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>

                    <div *ngSwitchCase="'DropDown'">
                      {{ getDataByCaption(form_elem.ControlId)}}
                    </div>

                    <div *ngSwitchCase="'CheckBox'">
                      <div *ngIf="getDataByCaption(form_elem.ControlId)==true">
                        Yes
                      </div>
                      <div *ngIf="getDataByCaption(form_elem.ControlId)==false">
                        No
                      </div>
                    </div>

                    <div class="help-block-rk1">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>

    <div class="panel-footer">
      <div class="pull-right btn-toolbar">
        <button type="button" class="btn btn-primary" routerLink="/Dataentryformlist" title="Cancel">
          Cancel
        </button>
      </div>
      <div class="clearfix"></div>
    </div>


  </div>
  <div *ngIf="Action=='Create'">
    <form [formGroup]="myFormGroup" (ngSubmit)="onSubmit()">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-right">
              <div id="myDIV">
                <span (click)="ChangeDesign('Grid1')" class="gridtype active">Grid 1</span>
                <span (click)="ChangeDesign('Grid2')" class="gridtype ">Grid 2</span>
                <span (click)="ChangeDesign('Grid3')" class="gridtype">Grid 3</span>
              </div>
            </div>
          </div>

          <div *ngIf="FormDesignType=='Grid1'">

            <div *ngFor="let form_elem of formTemplate">
              <div [ngSwitch]="form_elem.ControlType">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label class="col-xs-4 control-label" for="{{form_elem.ControlId}}">
                      {{form_elem.Caption}}
                      <span class="mandantory" *ngIf="form_elem.IsMandantory">*</span>
                    </label>
                    <div class="col-xs-8">
                      <div *ngSwitchCase="'TextBox'">
                        <!-- <input type="text" [placeholder]="form_elem.ExampleValue" [ngClass]="form_elem.ControlSize"
                          formControlName="{{form_elem.ControlId}}" class="form-control" (blur)="logValidationErrors()"
                          maxlength="{{form_elem.MaxLengthValue}}"  onkeypress="return /[a-z0-9 ]/i.test(event.key)" />  -->
                        <!-- {{form_elem.AllowedChars}} -->
                        <div [ngSwitch]="form_elem.TypeName">

                          <div *ngSwitchCase="'Alphabets Format'">
                            <input type="text" [placeholder]="form_elem.ExampleValue" [ngClass]="form_elem.ControlSize"
                              formControlName="{{form_elem.ControlId}}" class="form-control"
                              (blur)="logValidationErrors()" maxlength="{{form_elem.MaxLengthValue}}"
                              onkeypress="return /[a-z0-9 ]/i.test(event.key)" />
                          </div>
                          <div *ngSwitchCase="'Email Format'">
                            <input type="email" [placeholder]="form_elem.ExampleValue" [ngClass]="form_elem.ControlSize"
                              formControlName="{{form_elem.ControlId}}" class="form-control"
                              (blur)="logValidationErrors()" maxlength="{{form_elem.MaxLengthValue}}" />
                          </div>
                          <div *ngSwitchCase="'Number Format'">
                            <input type="text" [placeholder]="form_elem.ExampleValue" [ngClass]="form_elem.ControlSize"
                              formControlName="{{form_elem.ControlId}}" class="form-control"
                              (blur)="logValidationErrors()" maxlength="{{form_elem.MaxLengthValue}}"
                              onkeypress="return /[0-9]/i.test(event.key)" />
                          </div>
                          <div *ngSwitchCase="'Decimal Format'">
                            <input type="text" [placeholder]="form_elem.ExampleValue" [ngClass]="form_elem.ControlSize"
                              formControlName="{{form_elem.ControlId}}" class="form-control"
                              (blur)="logValidationErrors()" maxlength="{{form_elem.MaxLengthValue}}"
                              onkeypress="return /[0-9.]/i.test(event.key)" />
                          </div>
                          <div *ngSwitchCase="'Date Format'">
                            <input type="date" [placeholder]="form_elem.ExampleValue" [ngClass]="form_elem.ControlSize"
                              formControlName="{{form_elem.ControlId}}" class="form-control"
                              (blur)="logValidationErrors()" maxlength="{{form_elem.MaxLengthValue}}" />
                          </div>
                          <div *ngSwitchCase="'Date With Time Format'">
                            <input type="datetime-local" [placeholder]="form_elem.ExampleValue"
                              [ngClass]="form_elem.ControlSize" formControlName="{{form_elem.ControlId}}"
                              class="form-control" (blur)="logValidationErrors()"
                              maxlength="{{form_elem.MaxLengthValue}}" />
                          </div>
                        </div>
                      </div>
                      <div *ngSwitchCase="'Number'">
                        <input type="number" [placeholder]="form_elem.ExampleValue" [ngClass]="form_elem.ControlSize"
                          formControlName="{{form_elem.ControlId}}" class="form-control" min="{{form_elem.MinValue}}"
                          max="{{form_elem.MaxValue}}" (blur)="logValidationErrors()" />
                      </div>
                      <div *ngSwitchCase="'TextArea'">
                        <textarea [placeholder]="form_elem.ExampleValue" [ngClass]="form_elem.ControlSize"
                          formControlName="{{form_elem.ControlId}}" class="form-control" (blur)="logValidationErrors()"
                          maxlength="{{form_elem.MaxLengthValue}}">
                            </textarea>
                      </div>

                      <div *ngSwitchCase="'DropDown'">
                        <div *ngIf="form_elem.DropDownType=='Static'">
                          <select [ngClass]="form_elem.ControlSize" formControlName="{{form_elem.ControlId}}"
                            class="form-control" (blur)="logValidationErrors()">
                            <option value="" selected="selected">---Select---</option>
                            <option *ngFor="let opt of form_elem.Options">
                              {{opt.name}}
                            </option>
                          </select>
                        </div>
                        <div *ngIf="form_elem.DropDownType=='Dynamic'">

                          <div *ngIf="form_elem.HasChild==true">
                            <select [ngClass]="form_elem.ControlSize" formControlName="{{form_elem.ControlId}}"
                              class="form-control" (blur)="logValidationErrors()"
                              (change)="onchangeDependent(form_elem.ChildControlId,$event.target.value)">
                              <option value="0" selected="selected">---Select---</option>
                              <option *ngFor="let opt of form_elem.Options" value={{opt.value}}>
                                {{opt.name}}
                              </option>
                            </select>
                          </div>

                          <div *ngIf="form_elem.HasChild==false">
                            <select [ngClass]="form_elem.ControlSize" formControlName="{{form_elem.ControlId}}"
                              class="form-control" (blur)="logValidationErrors()">
                              <option value="0" selected="selected">---Select---</option>
                              <option *ngFor="let opt of form_elem.Options" value={{opt.value}}>
                                {{opt.name}}
                              </option>
                            </select>
                          </div>

                        </div>
                      </div>

                      <div *ngSwitchCase="'CheckBox'">
                        <input type="checkbox" formControlName="{{form_elem.ControlId}}" (blur)="logValidationErrors()">
                      </div>

                      <!-- <div *ngSwitchCase="'chechboxlist'">
                      <label *ngFor="let opt of form_elem.options;  let i = index">
                        <input (change)="getCheckboxlistSelected(form_elem.ControlId,opt)" type="checkbox"
                          formControlName="{{form_elem.ControlId}}">
                        {{opt }}
                      </label>
                    </div> -->

                      <div class="help-block-rk">
                        <span class="help-block" *ngIf="getErrorMessage(form_elem.ControlId)">
                          {{getErrorMessage(form_elem.ControlId)}}
                        </span>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div *ngIf="FormDesignType=='Grid2'">
            <div *ngFor="let form_elem of formTemplate">
              <div [ngSwitch]="form_elem.ControlType">
                <div class="col-xs-3">
                  <div class="form-group">
                    <label class="control-label" for="{{form_elem.ControlId}}">
                      {{form_elem.Caption}}
                      <span class="mandantory" *ngIf="form_elem.IsMandantory">*</span>
                    </label>
                    <div class="">

                      <div *ngSwitchCase="'TextBox'">
                        <input type="text" [placeholder]="form_elem.ExampleValue"
                          formControlName="{{form_elem.ControlId}}" class="form-control" (blur)="logValidationErrors()"
                          maxlength="{{form_elem.MaxLengthValue}}" />
                      </div>

                      <div *ngSwitchCase="'Number'">
                        <input type="number" [placeholder]="form_elem.ExampleValue"
                          formControlName="{{form_elem.ControlId}}" class="form-control" min="{{form_elem.MinValue}}"
                          max="{{form_elem.MaxValue}}" (blur)="logValidationErrors()" />
                      </div>

                      <div *ngSwitchCase="'TextArea'">
                        <textarea [placeholder]="form_elem.ExampleValue" formControlName="{{form_elem.ControlId}}"
                          class="form-control" (blur)="logValidationErrors()" maxlength="{{form_elem.MaxLengthValue}}">
                                </textarea>
                      </div>

                      <div *ngSwitchCase="'DropDown'">
                        <div *ngIf="form_elem.DropDownType=='Static'">
                          <select formControlName="{{form_elem.ControlId}}" class="form-control"
                            (blur)="logValidationErrors()">
                            <option value="" selected="selected">---Select---</option>
                            <option *ngFor="let opt of form_elem.Options">
                              {{opt}}
                            </option>
                          </select>
                        </div>
                        <div *ngIf="form_elem.DropDownType=='Dynamic'">
                          <div *ngIf="form_elem.HasChild==true">
                            <select formControlName="{{form_elem.ControlId}}" class="form-control"
                              (blur)="logValidationErrors()"
                              (change)="onchangeDependent(form_elem.ChildControlId,$event.target.value)">
                              <option value="0" selected="selected">---Select---</option>
                              <option *ngFor="let opt of form_elem.Options" value={{opt.value}}>
                                {{opt.name}}
                              </option>
                            </select>
                          </div>

                          <div *ngIf="form_elem.HasChild==false">
                            <select formControlName="{{form_elem.ControlId}}" class="form-control"
                              (blur)="logValidationErrors()">
                              <option value="0" selected="selected">---Select---</option>
                              <option *ngFor="let opt of form_elem.Options" value={{opt.value}}>
                                {{opt.name}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div *ngSwitchCase="'CheckBox'">
                        <input type="checkbox" formControlName="{{form_elem.ControlId}}" (blur)="logValidationErrors()">
                      </div>

                      <div class="help-block-rk">
                        <span class="help-block" *ngIf="getErrorMessage(form_elem.ControlId)">
                          {{getErrorMessage(form_elem.ControlId)}}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="FormDesignType=='Grid3'">
            <div *ngFor="let form_elem of formTemplate">
              <div [ngSwitch]="form_elem.ControlType">
                <div class="col-xs-4">
                  <div class="form-group">
                    <label class="control-label" for="{{form_elem.ControlId}}">
                      {{form_elem.Caption}}
                      <span class="mandantory" *ngIf="form_elem.IsMandantory">*</span>
                    </label>
                    <div class="">

                      <div *ngSwitchCase="'TextBox'">
                        <input type="text" [placeholder]="form_elem.ExampleValue"
                          formControlName="{{form_elem.ControlId}}" class="form-control" (blur)="logValidationErrors()"
                          maxlength="{{form_elem.MaxLengthValue}}" />
                      </div>

                      <div *ngSwitchCase="'Number'">
                        <input type="number" [placeholder]="form_elem.ExampleValue"
                          formControlName="{{form_elem.ControlId}}" class="form-control" min="{{form_elem.MinValue}}"
                          max="{{form_elem.MaxValue}}" (blur)="logValidationErrors()" />
                      </div>

                      <div *ngSwitchCase="'TextArea'">
                        <textarea [placeholder]="form_elem.ExampleValue" formControlName="{{form_elem.ControlId}}"
                          class="form-control" (blur)="logValidationErrors()" maxlength="{{form_elem.MaxLengthValue}}">
                                    </textarea>
                      </div>

                      <div *ngSwitchCase="'DropDown'">
                        <div *ngIf="form_elem.DropDownType=='Static'">
                          <select formControlName="{{form_elem.ControlId}}" class="form-control"
                            (blur)="logValidationErrors()">
                            <option value="" selected="selected">---Select---</option>
                            <option *ngFor="let opt of form_elem.Options">
                              {{opt}}
                            </option>
                          </select>
                        </div>
                        <div *ngIf="form_elem.DropDownType=='Dynamic'">
                          <div *ngIf="form_elem.HasChild==true">
                            <select formControlName="{{form_elem.ControlId}}" class="form-control"
                              (blur)="logValidationErrors()"
                              (change)="onchangeDependent(form_elem.ChildControlId,$event.target.value)">
                              <option value="0" selected="selected">---Select---</option>
                              <option *ngFor="let opt of form_elem.Options" value={{opt.value}}>
                                {{opt.name}}
                              </option>
                            </select>
                          </div>

                          <div *ngIf="form_elem.HasChild==false">
                            <select formControlName="{{form_elem.ControlId}}" class="form-control"
                              (blur)="logValidationErrors()">
                              <option value="0" selected="selected">---Select---</option>
                              <option *ngFor="let opt of form_elem.Options" value={{opt.value}}>
                                {{opt.name}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div *ngSwitchCase="'CheckBox'">
                        <input type="checkbox" formControlName="{{form_elem.ControlId}}" (blur)="logValidationErrors()">
                      </div>

                      <div class="help-block-rk">
                        <span class="help-block" *ngIf="getErrorMessage(form_elem.ControlId)">
                          {{getErrorMessage(form_elem.ControlId)}}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="clearfix"> </div>

      </div>
      <div class="panel-footer">
        <div class="pull-right btn-toolbar">
          <button type="button" class="btn btn-primary" routerLink="/Dataentryformlist" title="Cancel">
            Cancel
          </button>
          <input type="submit" value="Save" class="btn btn-success" prevent-double-submit
            [disabled]="myFormGroup.invalid" />
        </div>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>
</div>