.xsmall
{
    width:15%
}
.small
{
    width:25%
}
.medium
{
    width:50%
}
.large
{
    width:75%
}
.nosize
{
    width:100%
}
.pointer
{
    cursor: pointer;
}
.panel-title > a:before {
    content: "\f078";
    float: right !important;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  }
  .panel-title > a.collapsed:before {
    content: "\f077";
  }
  .panel-title > a {
    text-decoration: none;
  }

  /* Style the buttons */
.gridtype {
  border: none;
  outline: none;
  padding: 2px 5px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 12px;
  cursor: pointer;
  }
  
  /* Style the active class, and buttons on mouse-over */
  .active, .btn:hover {
    background-color: #666;
    color: white;
  }