<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Email Configuration
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
          <span> Utilities</span>
        </li>
        <li>
          <span> Email</span>
        </li>
        <li class="active">

          List
        </li>
      </ol>
    </div>
  </div>
</div>

<form autocomplete="off" [formGroup]="emailtemplateform" class="form-horizontal">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
          <h3>
            Email Configuration
          </h3>
        </div>
      </div>
    </div>
    <div class="panel-body">

      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': formErrors.EmailTemplateID}">
            <div class=" col-sm-12 inputlevel" for="EmailTemplateID">
              <div class="col-md-3">
                <label for="EmailTemplateID" class="nopading_loct control-label">Email Template
                  <span class="mandantory">*</span></label>
              </div>
              <div class="col-md-6">
                <select formControlName="EmailTemplateID" id='EmailTemplateID' type="select" class="form-control"
                  (blur)="logValidationErrors()" (change)="onchangeEmailTemplateID($event.target.value)">
                  <option value="0" selected="selected">Select</option>
                  <option *ngFor="let dis of lstemailtemplates" value={{dis.EmailTemplateID}}>
                    {{dis.TemplateName}}
                  </option>
                </select>
                <div class="help-block-rk">
                  <span class="help-block" *ngIf="formErrors.EmailTemplateID">
                    {{formErrors.EmailTemplateID}}
                  </span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="pull-right">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div>
        <a data-toggle="collapse" href="#collapse1">
          <span class="groupspanheader"> Internal </span> </a>
      </div>
      <div id="collapse1" class="panel-collapse in">
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions1" class="table table-bordered table-condensed "
            *ngIf="lstContact && lstContact.length>0 && Internalflag==true">
            <thead>
              <tr>
                <th class="text-center ">Check</th>
                <th class="text-center ">Contact Name</th>
                <th class="text-center ">Mobile Number </th>
                <th class="text-center ">Email </th>
                <th class="text-center ">Designation </th>

                <th class="text-center ">Department </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ms of filterInternal('INTERNAL')">

                <td class="text-center ">
                  <div *ngIf="(ms.IsActive ==true)">
                    <input type="checkbox" name="{{ms.ContactID}}" id="{{ms.ContactID }}" checked="checked"
                      (change)="ContactIDFieldsChange($event)">
                  </div>
                  <div *ngIf="(ms.IsActive != true)">
                    <input type="checkbox" name="{{ms.ContactID}}" id="{{ms.ContactID }}"
                      (change)="ContactIDFieldsChange($event)">
                  </div>
                </td>
                <td>{{ ms.ContactName }}</td>
                <td>{{ ms.MobileNumber }}</td>
                <td>{{ ms.Email }}</td>
                <td>{{ ms.Designation }}</td>

                <td>{{ ms.Department }}</td>

              </tr>
            </tbody>
          </table>

          <table class="table table-bordered table-condensed " *ngIf="Internalflag==false">
            <thead>
              <tr>
                <th class=" text-center ">Check</th>
                <th class=" text-center ">Contact Name</th>
                <th class=" text-center ">Mobile Number </th>
                <th class=" text-center ">Email </th>
                <th class=" text-center ">Designation </th>

                <th class=" text-center ">Department </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="6">
                  No Records Found
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div>
        <a data-toggle="collapse" href="#collapse2">
          <span class="groupspanheader"> External </span> </a>
      </div>
      <div id="collapse2" class="panel-collapse in">
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions2" class="table table-bordered table-condensed "
            *ngIf="lstContact && lstContact.length >0 && Externalflag==true">
            <thead>
              <tr>
                <th class=" text-center ">Check</th>
                <th class=" text-center ">Contact Name</th>
                <th class=" text-center ">Mobile Number </th>
                <th class=" text-center ">Email </th>
                <th class=" text-center ">Designation </th>

                <th class=" text-center ">Department </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor=" let ms of filterExternal('EXTERNAL')">
                <td class="text-center ">
                  <div *ngIf="(ms.IsActive ==true)">
                    <input type="checkbox" name="{{ms.ContactID}}" id="{{ms.ContactID }}" checked="checked"
                      (change)="ContactIDFieldsChange($event)">
                  </div>
                  <div *ngIf="(ms.IsActive != true)">
                    <input type="checkbox" name="{{ms.ContactID}}" id="{{ms.ContactID }}"
                      (change)="ContactIDFieldsChange($event)">
                  </div>
                </td>
                <td>{{ ms.ContactName }}</td>
                <td>{{ ms.MobileNumber }}</td>
                <td>{{ ms.Email }}</td>
                <td>{{ ms.Designation }}</td>

                <td>{{ ms.Department }}</td>

              </tr>
            </tbody>
          </table>
          <table class="table table-bordered table-condensed " *ngIf="Externalflag==false">
            <thead>
              <tr>
                <th class=" text-center ">Check</th>
                <th class=" text-center ">Contact Name</th>
                <th class=" text-center ">Mobile Number </th>
                <th class=" text-center ">Email </th>
                <th class=" text-center ">Designation </th>

                <th class=" text-center ">Department </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="6">
                  No Records Found
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div>
        <a data-toggle="collapse" href="#collapse3">
          <span class="groupspanheader"> Market Place </span> </a>
      </div>
      <div id="collapse3" class="panel-collapse in">
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions3" class="table table-bordered table-condensed "
            *ngIf="lstContact && lstContact.length >0 && MarketPlaceflag==true">
            <thead>
              <tr>
                <th class=" text-center ">Check</th>
                <th class=" text-center ">Contact Name</th>
                <th class=" text-center ">Mobile Number </th>
                <th class=" text-center ">Email </th>
                <th class=" text-center ">Designation </th>

                <th class=" text-center ">Department </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor=" let ms of filterMarketPlace('MARKETPLACE')">
                <td class="text-center ">
                  <div *ngIf="(ms.IsActive ==true)">
                    <input type="checkbox" name="{{ms.ContactID}}" id="{{ms.ContactID }}" checked="checked"
                      (change)="ContactIDFieldsChange($event)">
                  </div>
                  <div *ngIf="(ms.IsActive != true)">
                    <input type="checkbox" name="{{ms.ContactID}}" id="{{ms.ContactID }}"
                      (change)="ContactIDFieldsChange($event)">
                  </div>
                </td>
                <td>{{ ms.ContactName }}</td>
                <td>{{ ms.MobileNumber }}</td>
                <td>{{ ms.Email }}</td>
                <td>{{ ms.Designation }}</td>

                <td>{{ ms.Department }}</td>

              </tr>
            </tbody>
          </table>

          <table class="table table-bordered table-condensed " *ngIf="MarketPlaceflag==false">
            <thead>
              <tr>
                <th class=" text-center ">Check</th>
                <th class=" text-center ">Contact Name</th>
                <th class=" text-center ">Mobile Number </th>
                <th class=" text-center ">Email </th>
                <th class=" text-center ">Designation </th>

                <th class=" text-center ">Department </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="6">
                  No Records Found
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>


    </div>
    <div class=" panel-footer">
      <div class="pull-right btn-toolbar">
        <button class="btn btn-warning" prevent-double-submit type="submit" title="Preview" data-toggle="modal"
          data-target="#modalemailpreview" [disabled]="emailtemplateform.invalid"
          (click)="Save('Preview')">Preview</button>
        &nbsp;
        <button class="btn btn-success" prevent-double-submit type="submit" title="Save" (click)="Save('Save')"
          [disabled]="emailtemplateform.invalid">Save</button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</form>

<div id="modalemailpreview" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalemailpreview"
  aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalemailpreview">Preview</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <b>To : </b> {{MailTo}}
          </div>
          <div class="col-md-12">
            <div>
              <div [innerHTML]="HtmlContent| safeHtml"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-sm" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>