.bgtable tr th {
    background-color: #5E60CE!important;
    color:#fff;
}

.profitloss1 { 
    
    background: #000 !important ;
    color:#fff !important ;
}
.profitloss11
{
    
    background: #CCc !important;
    font-weight: 700!important;
}