<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Masters Upload
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
           <span>Upload</span>
        </li>
        <li>
           <span> Masters</span>
        </li>
        <li class="active">
          
          List
        </li>
      </ol>
    </div>
  </div>
</div>


<div class="panel panel-default">

  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <div class="input-group col-sm-12" role="group" aria-label="Basic example">
          <div class="col-md-3 nopading_loct">
            <select [(ngModel)]="SearchBy" class="serchcurv form-control btn-group">
              <option value="" selected="select">Search By</option>
              <option value="ByFileType">FileType</option>
              <option value="ByFileName">FileName</option>
            </select>
          </div>
          <div class="col-md-4 nopading_loct">
            <input [(ngModel)]="SearchKeyword" type="text" class="serchcurv form-control btn-group">
          </div>
          <div class="col-md-2 nopading_loct">
            <button class="serchcurv btn btn-default btn-group" (click)="Search()" title="Search">
              <i class="fa fa-search " aria-hidden="true"></i>
            </button>
            <button class="serchcurv btn btn-default btn-group" (click)="Refresh()" title="Reset">
              <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-right">
        <button class="btn btn-primary" (click)="AddNewLink()" title="Upload New">
          Upload New
        </button>
      </div>
    </div>
  </div>

  <div class="panel-body">

    <kendo-grid [data]="gridView" resizable="true" columnMenu="true" [pageSize]="pageSize" [skip]="skip" [pageable]="true"
      (pageChange)="pageChange($event)" [sortable]="{
      allowUnsort: allowUnsort,
      mode:  'single'
      }" [sort]="sort" (sortChange)="sortChange($event)" [filterable]="true"
      (dataStateChange)="dataStateChange($event)" [filter]="state.filter">

      <kendo-grid-column field="FileType" title="File Type">
      </kendo-grid-column>
      <kendo-grid-column field="FileName" title="File Name">
      </kendo-grid-column>
      <kendo-grid-column field="UploadedByName" title="Uploaded By">
      </kendo-grid-column>
      <kendo-grid-column field="UploadedDate" title="Uploaded Date" filter="date" format="{0:d}" [filterable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.UploadedDate | date :"MM-dd-yyyy HH:mm" }}
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="FileUploadStatus" title="Status">
      </kendo-grid-column>
      <kendo-grid-column field="Remarks" title="Remarks">
      </kendo-grid-column>
      <kendo-grid-column field="BrandID" title="Action" [class]="{'text-center': true}" [filterable]="false"
        [sortable]="false" width="70">
        <ng-template kendoGridCellTemplate let-obj>
          <i class="fa fa-download bgblue" (click)="downloadFile(obj.FileId,obj.FileName)"></i>
          &nbsp;
          <i class="fa fa-download bgred" *ngIf="obj.FileUploadStatus =='REJECTED'"
            (click)="downloadError(obj.FileId)"></i>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>



  </div>
</div>