
/* Scroll bar css */

body::-webkit-scrollbar {
    width:15px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 0px;
    border:2px solid var(--scrollbarBG);
    width:25px;
    height:50px;
  }

/* top nav css */

.main_header {
	height: 62px !important;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

.nav {
	display: inline-block !important;
}

.navbar-inverse {
	transition: 0.2s ease-in;
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	background-color: #fff !important;
	box-shadow: 0 0 7px 0 rgba(18, 16, 16, .2);
	z-index: 999;
	border-color: #fff !important;
	color: #333;
}

.navbar-inverse .navbar-nav>.active>a {
	color: #333 !important;
	background-color: #fff !important;
}

.navbar-inverse .navbar-nav>li {
	color: #333 !important;
	font-size: 14px;
	padding: 0px 0px;
	margin: 6px 5px 0;
	font-weight: 400;
	text-transform: uppercase;
	transition: 0.2s ease-in !important;
	-webkit-transition: 0.2s ease-in !important;
	-moz-transition: 0.2s ease-in !important;
}

.navbar-inverse .navbar-nav>li>a {
	color: #333 !important;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #333 !important;
	border-bottom: 3px solid #d02560 !important;
	transition: width 0.2s ease-in-out;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px;
	border-bottom: 3px solid transparent;
}

.navbar-toggle {
	color: #fff;
	background-color: #d02560!important;
	padding: 6px;
	margin-top: 14px;
}

.navbar-inverse .navbar-toggle {
	border-color: #d02560;
}

.navbar {
	border-radius: 0px !important;
	border: 0px !important;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
	border-color: #fff !important;
}

.logo_img img {
	width: 95px;
	height: 47px;
}

.cc1 {
	background: #ffc115 !important
}

.cc2 {
	background: #A9BFD6 !important
}

.cc3 {
	background: #d02560 !important
}


/* Client css start*/

.client_part h2 {
	text-align: center !important;
	margin-bottom: 36px;
	font-size: 30px;
	font-weight: 300;
	line-height: 26px;
	padding-bottom: 38px;
	position: relative;
	text-transform: uppercase;
	padding: 20px;
}


/* Slider */

.slick-slide {
	margin: 0px 20px;
}

.slick-slide img {
	width: 100%;
	height: auto;
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	display: table;
	content: '';
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}

[dir='rtl'] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}


/* Client css End*/


/*Top Nav Css end*/

.main_body {
	background-image: url(/assets/jimages/pageback.jpg);
	overflow: auto !important;
	padding: 5rem 0;
	position: relative;
	background-size: 100% 100%;
	margin-top: 50px;
	min-height: 450px;
}

.main_body h1 {
	color: #fff;
}

.main_body h5 {
	color: #fff;
}

.btn-danger {
	color: #fff !important;
	background-color: #d02560 !important;
	border-color: #d02560 !important;
}

.btn-danger:hover {
	color: #fff !important;
	background-color: #d02560 !important;
	border-color: #d02560 !important;
}


/* information part*/

.information_part {
	margin-top: 60px;
	/* padding-bottom: 27px; */
	/* margin-bottom: 31px; */
	padding-top: 0px;
}

.homeHeading1 {
	height: 300px;
	overflow: hidden;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(/assets/jimages/eCommerce.jpg);
}

.homeHeading2 h2 {
	text-align: center;
	padding: 10px;
	margin-bottom: 13px;
	font-size: 30px;
	font-weight: 300;
	line-height: 0px;
	padding-bottom: 38px;
	position: relative;
	text-transform: uppercase;
}

.homeHeading2 h2::before {
	width: 31%;
	height: 1.5px;
	bottom: 0;
	left: 42%;
	margin-left: -40px;
}

.homeHeading2 h2::before,
.homeHeading2 h2::after {
	position: absolute;
	content: "";
	background-color: #333;
}

.homeHeading2 {
	box-shadow: 0 0 30px -3px rgba(0, 0, 0, .25);
	padding: 8px;
	border-radius: 9px;
}

.text-block {
	padding: 0 30px 0px;
	color: #d02560;
	font-size: 17px;
	line-height: 1.6em;
	/* background-color: #616161; */
	font-style: italic;
	font-weight: 600;
}

.text-seller {
	padding: 0 30px 0px;
	color: #000;
	font-size: 14px;
	line-height: 1.8em;
}

.patner_part {
	/* padding: 12px;
    box-shadow: 0 0 30px -3px rgba(0,0,0,.25); */
	background-color: #fff;
	text-align: center;
	/* border-radius: 10px; */
}

.btn-warning {
	color: #fff !important;
	background-color: #d02560 !important;
	border-color: #d02560 !important;
}

.btn-warning:hover {
	color: #fff !important;
	background-color: #d02560 !important;
	border-color: #d02560 !important;
}

.fixed_color {
	color: #333
}

.middle_content {
	width: 87% !important;
}


/* Feature part*/

.feature_part {
	margin-top: 0px;
	padding-top: 0px;
}

.heading_port {
	text-align: center;
	padding: 36px 0px;
	font-size: 31px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	color: #000;
	text-transform: uppercase;
}

.fixed_col h2 {
	text-align: center !important;
	margin-bottom: 40px;
	font-size: 30px;
	font-weight: 300;
	line-height: 26px;
	padding-bottom: 38px;
	position: relative;
	text-transform: uppercase;
	padding: 7px;
}

.featureheading1 .wrk_perform {
	text-align: center;
	font-size: 2.2em;
	font-weight: 700;
	line-height: 26px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.6em;
	color: #d02560;
}

.featureheading1 {
	padding: 12px;
	/* box-shadow: 0 0 30px -3px rgba(0,0,0,.25);
    background-color: #f8f8f8 */
}


/* .featureheading1:hover{ 
	background-color: #ece7ee;
	transition: width 0.2s ease-in-out;
} */

.featureheading1 .wrk_descrip {
	text-align: center;
	width: 95%;
	line-height: 23px;
	font-size: 18px;
	line-height: 1.9em;
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.featureheading2 .wrk_perform {
	text-align: center;
	font-size: 2.2em;
	font-weight: 700;
	line-height: 26px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.6em;
	color: #d02560;
}

.featureheading2 {
	padding: 12px;
	margin-top: 20px;
}

.feature_heading1 {
	margin-bottom: 90px;
}

.featureheading2 .wrk_descrip {
	text-align: center;
	width: 95%;
	line-height: 23px;
	font-size: 18px;
	line-height: 1.9em;
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.featureheading3 .wrk_perform {
	text-align: center;
	font-size: 2.2em;
	font-weight: 700;
	line-height: 26px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.6em;
	color: #d02560;
}

.featureheading3 {
	padding: 12px;
	margin-top: 20px;
}

.featureheading3 .wrk_descrip {
	text-align: center;
	width: 95%;
	line-height: 23px;
	font-size: 18px;
	line-height: 1.9em;
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.featureheading_image {
	height: 245px;
	overflow: hidden;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(/assets/jimages/feature3.jpeg);
	width: 85%;
}

.featureheading_image1 {
	height: 245px;
	overflow: hidden;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(/assets/jimages/Inventory.jpeg);
	width: 85%;
}

.featureheading_image2 {
	height: 245px;
	overflow: hidden;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(/assets/jimages/customer.jpeg);
	width: 85%;
}

.text-bloc {
	padding: 0 45px 0px;
	color: #000;
	font-size: 21px;
	line-height: 28px;
}

.btn-warning {
	color: #fff !important;
	background-color: #d02560 !important;
	border-color: #d02560 !important;
}

.btn-warning:hover {
	color: #fff !important;
	background-color: #d02560 !important;
	border-color: #d02560 !important;
}

.fixed_col {
	color: #333
}

.middle_part {
	width: 90% !important;
}


/* ******* Service ******* */

.service_paddng {
	padding-top: 27px;
	padding-bottom: 0px;
	background-color: #fff;
	/* padding-bottom: 50px; */
	margin-top: 35px;
}

.import_part h1 {
	text-align: center;
	padding: 36px 0px;
	font-size: 26px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	color: #000;
	text-transform: uppercase;
	line-height: 1.6em;
}

.section_margin {
	margin-bottom: 50px;
}

p {
	font-weight: 300;
	font-size: 14px;
}

.section-title p {
	font-size: 24px;
	font-family: Oleo Script;
	margin-bottom: 0px;
}

.section-title h2 {
	font-size: 30px;
	text-transform: uppercase;
	color: #000;
	position: relative;
	display: inline-block;
	padding-bottom: 25px;
}

.section-title h2::before {
	width: 123px;
	height: 1.5px;
	bottom: 0;
	left: 42%;
	margin-left: -40px;
}

.section-title h2::before,
.section-title h2::after {
	position: absolute;
	content: "";
	background-color: #000;
}


/* .single_service.service_right {   
	 
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in; 
  transition:color .2s ease-out, background 1s ease-in;
	
}

.single_service.service_right:hover {  
	color:#fff; 
	background:#d02560;
} */

.single_service:nth-child(1),
.single_service:nth-child(2) {
	/* border-bottom: 1px dashed #333; */
	/* padding-bottom: 35px;
	margin-bottom: 10px; */
}

.single_service img {
	max-width: 45px;
	/* position: absolute; */
	left: 0;
	top: 0;
}

.single_service {
	/* position: relative;  */
	margin-bottom: 35px;
	/* background: #fff; */
	border-radius: 10px;
	padding: 16px 5px;
	position: relative;
	padding-left: 20px;
	/* height: 200px; */
	/* background-color: #fff; */
}

.single_service p {
	line-height: 24px;
	;
}

@media only screen and (max-width: 600px) {
	.mobile_view {
		position: absolute;
		display: contents;
	}
	.single_service {
		min-height: 195px
	}
	.single_service h4::after {
		left: 3px !important;
		/* top: 1px; */
	}
	.crossborderBase .nav {
		display: inline-block !important;
	}
}

.single_service h4::after {
	content: '';
	width: 14px;
	height: 14px;
	background: #ffff96;
	border: 4px solid #ffdd00;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 72px;
	/* top: 1px; */
}

.readmore {
	color: #337ab7;
	cursor: pointer;
}


/* .readmore:hover{
	color: #fff;
 } */

.single_service a:hover {
	/* color: #ffca4f; */
	text-decoration: underline;
}

.margin_botom {
	/* margin-bottom: 25px; */
}

.modal {
	text-align: center;
	padding: 0!important;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.modal-content {
	position: relative;
	background-color: #d02560;
	background-clip: padding-box;
	/* border: 1px solid #999; */
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	/* box-shadow: 0 3px 9px rgba(0,0,0,.5); */
	outline: 0;
	color: #fff
}

.model_part {
	position: relative;
	background-color: #fff;
	background-clip: padding-box;
	/* border: 1px solid #999; */
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	/* box-shadow: 0 3px 9px rgba(0,0,0,.5); */
	outline: 0;
	color: #000
}

.modal-body p {
	font-size: 13px;
	text-align: justify;
}

ol li {
	font-size: 13px;
}

ul li {
	font-size: 13px;
}

.close {
	float: right;
	font-size: 21px;
	font-weight: 500;
	line-height: 1;
	color: #f5a02d;
	/* text-shadow: 0 1px 0 #fff; */
	filter: alpha(opacity=20);
	opacity: .2;
	height: 5px;
}

.close:hover {
	color: #f5a02d;
}


/* service end*/


/* cross border */

.tab-content {
	background: #fdfdfd;
	line-height: 25px;
	border: 1px solid #ddd;
	border-top: 5px solid #ffc107;
	border-bottom: 5px solid #ffc107;
	padding: 30px 25px;
}

.crossborderBase {
	/* z-index: 9999; */
	position: relative;
	/* margin-top:70px; */
	margin-bottom: 0px;
	/* padding:50px 0px;  */
	background-color: #fff;
}

.crossborderBase h1 {
	text-align: center;
	padding: 36px 0px;
	font-size: 31px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	color: #000;
	text-transform: uppercase;
}

.crossborderBase h3 {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	margin: 25px 0px;
}

ul.crossborderlist {
	list-style: none;
	/* list-style-image: url(/assets/jimages/list.png); */
}

.crossborderlist li {
	background-color: #FFFFFF;
	padding: 5px 5px;
	height: 40px;
	list-style-position: inside;
	transition: all .5s ease-in-out;
	list-style: none;
}

ul.crossborderlist li:hover {
	background-color: #FBF7F7;
	transform: scale(1.1);
}

ul.crossborderTablist {
	list-style-image: url(/assets/jimages/jlist.png);
}

.crossborderTablist li {
	background-color: #FFFFFF;
	padding: 5px 5px;
	margin-bottom: 1px;
	list-style-position: inside;
	transition: all .2s ease-in-out;
	list-style: none;
	list-style-image: url(/assets/jimages/jlist.png);
}

ul.crossborderTablist li:hover {
	background-color: #FBF7F7;
	transform: scale(1.0);
	padding-left: 10px;
}

.crossvg {
	width: 25px;
	margin: 0px 3px 0px 0px;
}

.nav>li>a>img {
	max-width: 100px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	color: #fff!important;
	cursor: default;
	background-color: #fff!important;
	/* border: 1px solid #b1e5fd; */
	border-bottom-color: transparent;
}


/* contact*/

#contact {
	background-color: #ffffff;
}

.Contact_part {
	height: 365px;
	overflow: hidden;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(/assets/jimages/contactimg.jpg);
}

.contct_part h2 {
	text-align: center !important;
	padding: 10px;
	margin-bottom: 8px;
	font-size: 30px;
	font-weight: 300;
	line-height: 26px;
	padding-bottom: 38px;
	position: relative;
	text-transform: uppercase;
}

#contact {
	margin-top: 30px;
	border-radius: 0;
}

#contact .form-control {
	border-radius: 0;
}

#contact button {
	border-radius: 0;
}

#contact .row {
	margin-bottom: 30px;
}

.contactForm .form-control {
	border-radius: 0px;
	border: none;
	border: 1px solid #222222;
	background-color: transparent !important;
	color: #222222;
	/* margin-bottom: 2rem; */
	outline: none;
}

.contactForm .text_area {
	border-radius: 0px;
	border: none;
	border: 1px solid #222222;
	background-color: transparent !important;
	color: #222222;
	/* margin-bottom: 2rem; */
	outline: none;
}

.contactForm .btn-danger {
	display: block;
	background-color: #d02560;
	border: 1px solid #d02560;
	border-radius: 3px;
	font-size: 14px;
	color: #ffffff;
	cursor: pointer;
	text-transform: uppercase;
	outline: none;
	box-shadow: 0px 0px 10px 0px #00000059;
}

.contactForm .btn-warning {
	display: block;
	background-color: #373c42 !important;
	border: 1px solid #373c42 !important;
	border-radius: 3px;
	font-size: 14px;
	color: #ffffff;
	cursor: pointer;
	text-transform: uppercase;
	outline: none;
	box-shadow: 0px 0px 10px 0px #00000059;
}

.btn_custom {
	margin-top: 10px;
}

.touch_part {
	margin-bottom: 15px;
	font-size: 20px;
}

.conatct_us {
	margin-bottom: 40px;
	margin-top: 45px;
}


/* Footer */

.footr_color {
	color: #FFF;
}

.main_footer {
	width: 100%;
	background-color: #263238;
	min-height: 250px;
	padding: 10px 0px 25px 0px;
}

.footer_head {
	padding-top: 40px;
	margin-bottom: 20px;
}

.footer_content p {
	font-size: 13px;
	color: #CCC;
	padding-bottom: 0px;
	margin-bottom: 8px;
}

.footer_content h3 {
	font-size: 13px;
	color: #CCC;
	;
	margin-top: 10px;
	margin-left: 19px;
}

.footer_lst p {
	font-size: 13px;
	color: #CCC;
	padding-bottom: 0px;
	margin-bottom: 8px;
}

.mb10 {
	padding-bottom: 15px;
}

.footer_lst {
	margin: 0px;
	list-style-type: none;
	font-size: 14px;
	padding: 0px 0px 10px 0px;
}

.footer_lst li {
	padding: 0px 0px 5px 0px;
}

.footer_lst li a {
	color: #CCC;
	cursor: pointer;
}

.footer_lst li a:hover {
	color: #fff;
	text-decoration: none;
}

.fleft {
	float: left;
}

.padding-right {
	padding-right: 10px;
}

.footer_lst {
	margin: 0px;
	list-style-type: none;
	padding: 0px;
}

.footer_postion {
	display: flex !important;
}

.footer_lst li p {
	display: table;
}

.footer_lst li a:hover {
	text-decoration: none;
}

.footer_lst li i {
	margin-top: 5px;
	font-size: 16px;
}

.bottom_border {
	border-bottom: 1px solid #323f45;
	padding-bottom: 20px;
}

.copy_footer p {
	font-size: 13px;
	color: #CCC;
	padding-bottom: 0px;
	margin-bottom: 8px;
	padding: 8px;
}

.social_footer_ul {
	display: table;
	margin: 15px auto 0 auto;
	list-style-type: none;
}

.social_footer_ul li {
	padding-left: 10px;
	/* padding-top: 10px; */
	float: left;
}

.social_footer_ul li a {
	color: #CCC;
	border: 1px solid #CCC;
	padding: 5px;
	border-radius: 50%;
}

.social_footer_ul li i {
	width: 20px;
	height: 20px;
	text-align: center;
}

.wechat {
	height: 50px;
	overflow: hidden;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(/assets/jimages/wechat.jpg);
	width: 60px;
	margin-left: 14px;
}

.rk_jennifer {
	margin-left: 0px !important;
}