<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Purchase Orders
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
          <i class="fa fa-shopping-cart"></i> <span> Procurements</span>
        </li>
        <li>
          <i class="fa fa-list-ul"></i> <span> Purchase Order</span>
        </li>
        <li class="active">
          <i class="fa fa-save"></i>
          Save
        </li>
      </ol>
    </div>
  </div>
</div>
<form autocomplete="off">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <span class="spanheader">
            PO View
          </span>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
          <div class="pull-right">
            <button class="btn btn-primary" routerLinkActive="active" routerLink="/Polist">Back</button>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <div>
            <label>PO Number<span class="mandantory"> *</span></label>
            <br />
            {{obj?.PONumber  }}
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <label>PO Date<span class="mandantory"> *</span></label>
            <div class="">
              {{obj?.PODate | date:'MM-dd-yyyy HH:mm'}}
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <label>PO DeliveryDate<span class="mandantory"> *</span></label>
            <div class="">
              {{obj?.PODeliveryDate | date:'MM-dd-yyyy HH:mm'}}
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <label>Location<span class="mandantory"> *</span></label>
            <div class="">
              {{obj?.LocationName  }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div>
            <label>Vendor<span class="mandantory"> *</span></label>
            <div>
              {{obj?.VendorName}}
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <label> Event Purchase</label>
            <br />
            <div *ngIf="(obj?.IsEventPurchase)"><i class="fa fa-check"></i></div>
            <div *ngIf="(!obj?.IsEventPurchase)"><i class="fa fa-times"></i></div>
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <label>Is Shipment Required</label>
            <br />
            <div *ngIf="(obj?.IsShipmentRequired)"><i class="fa fa-check"></i></div>
            <div *ngIf="(!obj?.IsShipmentRequired)"><i class="fa fa-times"></i></div>
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <label>Other Reference<span class="mandantory"> *</span></label>
            <div class="">
              {{obj?.OtherReference}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div>
            <label>Against Reference</label>
            {{obj?.AgainstReference}}
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <label>Payment Reference</label>
            {{obj?.PaymentReference}}
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <label>Remarks</label>
            {{obj?.Remarks}}
          </div>
        </div>
      </div>
    </div>
    <div>
      <span class="spanheader">Order Items</span>
    </div>
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th class="text-center">ItemCode</th>
          <th class="text-center">Item Description</th>
          <th class="text-center">Vendor ItemCode</th>
          <th class="text-center">Units</th>
          <th class="text-center">UOM</th>

          <th class="text-center">Rate</th>
          <th class="text-center">Tax Rate</th>
          <th class="text-center">Tax Amount</th>
          <th class="text-center">Direct Cost</th>
          <th class="text-center">Total Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dis of lstItem; let id = index">
          <td> {{ dis.ItemCode }} </td>
          <td> {{ dis.ItemName }} </td>
          <td> {{ dis.VendorItemCode }} </td>
          <td class="text-right"> {{ dis.CaseSize }} </td>
          <td class="text-right"> {{ dis.MultiplierValue }} </td>

          <td class="text-right"> {{ dis.Rate }} </td>
          <td class="text-right"> {{ dis.TaxRate }} </td>
          <td class="text-right"> {{ dis.TaxAmount | currency: 'INR'}} </td>
          <td class="text-right"> {{ dis.DirectCost | currency: 'INR'}} </td>
          <td class="text-right"> {{ dis.TotalAmount | currency: 'INR'}} </td>
        </tr>
        <tr>
          <th>Total</th>
          <th> </th>
          <th> </th>
          <th class="text-right">{{TotalUnits}}</th>
          <th>{{TotalMultiplierValue}} </th>

          <th class="text-right">{{TotalRate}}</th>
          <th class="text-right"> </th>
          <th class="text-right">{{TotalTaxAmount | currency: 'INR'}}</th>
          <th class="text-right">{{TotalDirectCost | currency: 'INR'}}</th>
          <th class="text-right">{{TotalTotalAmount | currency: 'INR'}}</th>
        </tr>
      </tbody>
    </table>
  </div>
</form>