<div class="container">
  <div class="card col-md-12">
    <div class="card-body">

      <form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="RegisterCompany()" >
        <div class='landscren'>
          <div class='text-left'>
            <img src="assets\images\logo.png" alt="Logo" height="50" style="margin-top:10px;margin-bottom:10px;" />
          </div>

          <div class="row">
            <div class='text-left'>
              <h2 class="pagheadng">Registration</h2>
            </div>
            <div class="form-group col-md-6 col-sm-6"
              [ngClass]="{'has-error': formErrors.CompanyName ||formErrors.CompanyNameInUse}">
              <label class="control-label" for="CompanyName">Company Name<span class="mandantory">*</span></label>
              <div >
                <input id="CompanyName" type="text" class="form-control" formControlName="CompanyName"
                  (blur)="logValidationErrors()" maxlength="150">
                <div class="help-block-rk">
                  <span class="help-block" *ngIf="formErrors.CompanyName || formErrors.CompanyNameInUse">
                    {{formErrors.CompanyName || formErrors.CompanyNameInUse}}
                  </span> </div>
              </div>
            </div>
            <div class="form-group col-md-6 col-sm-6" [ngClass]="{'has-error': formErrors.CompnayAliasName}">
              <label class="control-label" for="CompnayAliasName">Company Alias Name</label>
              <div >
                <input id="CompnayAliasName" type="text" class="form-control" formControlName="CompnayAliasName"
                  (blur)="logValidationErrors()" maxlength="10">
                <div class="help-block-rk"><span class="help-block" *ngIf="formErrors.CompnayAliasName">
                    {{formErrors.CompnayAliasName}}
                  </span> </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6 col-sm-6" [ngClass]="{'has-error': formErrors.EMail}">
              <label class="control-label" for="EMail">Email<span class="mandantory">*</span></label>
              <div >
                <input id="EMail" type="text" class="form-control" formControlName="EMail"
                  (blur)="logValidationErrors()" maxlength="50">
                <div class="help-block-rk"><span class="help-block" *ngIf="formErrors.EMail">
                    {{formErrors.EMail}}
                  </span> </div>
              </div>
            </div>
            <div class="form-group col-md-6 col-sm-6" [ngClass]="{'has-error': formErrors.MobileNumber}">
              <label class="control-label" for="MobileNumber">Mobile Number<span class="mandantory">*</span></label>
              <div >
                <input id="MobileNumber" type="text" class="form-control" formControlName="MobileNumber" maxlength="10"
                  (blur)="logValidationErrors()" maxlength="10" mask="0000000000">
                <div class="help-block-rk"><span class="help-block" *ngIf="formErrors.MobileNumber">
                    {{formErrors.MobileNumber}}
                  </span> </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6 col-sm-6" [ngClass]="{'has-error': formErrors.ContactPerson}">
              <label class="control-label" for="ContactPerson">Contact Person<span class="mandantory">*</span></label>
              <div >
                <input id="ContactPerson" type="text" class="form-control" formControlName="ContactPerson"
                  (blur)="logValidationErrors()" maxlength="50">
                <div class="help-block-rk"><span class="help-block" *ngIf="formErrors.ContactPerson">
                    {{formErrors.ContactPerson}}
                  </span> </div>
              </div>
            </div>

            <div class="form-group col-md-6 col-sm-6">
              <label class="control-label" for="ContactNumber">Contact Number</label>
              <div >
                <input id="ContactNumber" type="text" class="form-control" formControlName="ContactNumber"
                  (blur)="logValidationErrors()" maxlength="10" mask="0000000000">
              
              </div>
            </div>
          </div>

          <div class="row">
            <div class='text-left'>
              <h2 class="pagheadng">Primary Details</h2>
            </div>
            <div class="form-group col-sm-3" [ngClass]="{'has-error': formErrors.PrimaryCountryID}">
              <label class="control-label" for="PrimaryCountryID">Country<span class="mandantory">*</span></label>
              <div >
                <select id="PrimaryCountryID" class="form-control" formControlName="PrimaryCountryID"
                  (blur)="logValidationErrors()" (change)="onchangePrimaryCountryID($event.target.value)">
                  <option value="0" selected="selected">Select</option>
                  <option *ngFor="let c1 of countries" value={{c1.CountryID}}>
                    {{c1.CountryName}}
                  </option>
                </select>
                <div class="help-block-rk"><span class="help-block" *ngIf="formErrors.PrimaryCountryID">
                    {{formErrors.PrimaryCountryID}}
                  </span> </div>
              </div>
            </div>

            <div class="form-group col-sm-3" [ngClass]="{'has-error': formErrors.PrimaryStateID}">
              <label class="control-label" for="PrimaryStateID">State<span class="mandantory">*</span></label>
              <div >
                <select id="PrimaryStateID" class="form-control" formControlName="PrimaryStateID"
                  (blur)="logValidationErrors()">
                  <option value="0" selected="selected">Select</option>
                  <option *ngFor="let dis of states" value={{dis.StateID}}>
                    {{dis.State}}
                  </option>
                </select>
                <div class="help-block-rk"><span class="help-block" *ngIf="formErrors.PrimaryStateID">
                    {{formErrors.PrimaryStateID}}
                  </span> </div>
              </div>
            </div>

            <div class="form-group col-sm-3" [ngClass]="{'has-error': formErrors.PrimaryDistrict}">
              <label class="control-label" for="PrimaryDistrict">District<span class="mandantory">*</span></label>
              <div >
                <input id="PrimaryDistrict" type="text" class="form-control" formControlName="PrimaryDistrict"
                  (blur)="logValidationErrors()" maxlength="50">
                <div class="help-block-rk"><span class="help-block" *ngIf="formErrors.PrimaryDistrict">
                    {{formErrors.PrimaryDistrict}}
                  </span> </div>
              </div>
            </div>

            <div class="form-group col-sm-3" [ngClass]="{'has-error': formErrors.PrimaryCity}">
              <label class="control-label" for="PrimaryCity">City<span class="mandantory">*</span></label>
              <div >
                <input id="PrimaryCity" type="text" class="form-control" formControlName="PrimaryCity"
                  (blur)="logValidationErrors()" maxlength="50">
                <div class="help-block-rk"><span class="help-block" *ngIf="formErrors.PrimaryCity">
                    {{formErrors.PrimaryCity}}
                  </span> </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3" [ngClass]="{'has-error': formErrors.PrimaryPostalCode}">
              <label class="control-label" for="PrimaryPostalCode">Postal Code<span class="mandantory">*</span></label>
              <div >
                <input id="PrimaryPostalCode" type="text" class="form-control" formControlName="PrimaryPostalCode"
                  (blur)="logValidationErrors()" maxlength="6" mask="000000">
                <div class="help-block-rk"><span class="help-block" *ngIf="formErrors.PrimaryPostalCode">
                    {{formErrors.PrimaryPostalCode}}
                  </span> </div>
              </div>
            </div>
            <div class="form-group col-sm-3" [ngClass]="{'has-error': formErrors.PrimaryAddress1}">
              <label class="control-label" for="PrimaryAddress1">Address line 1<span class="mandantory">*</span></label>
              <div >
                <input id="PrimaryAddress1" type="text" class="form-control" formControlName="PrimaryAddress1"
                  (blur)="logValidationErrors()" maxlength="150">
                <div class="help-block-rk"><span class="help-block" *ngIf="formErrors.PrimaryAddress1">
                    {{formErrors.PrimaryAddress1}}
                  </span> </div>
              </div>
            </div>

            <div class="form-group col-sm-3" [ngClass]="{'has-error': formErrors.PrimaryAddress2}">
              <label class="control-label" for="PrimaryAddress2">Address line 2</label>
              <div >
                <input id="PrimaryAddress2" type="text" class="form-control" formControlName="PrimaryAddress2"
                  (blur)="logValidationErrors()" maxlength="100">
                <div class="help-block-rk"><span class="help-block" *ngIf="formErrors.PrimaryAddress2">
                    {{formErrors.PrimaryAddress2}}
                  </span> </div>
              </div>
            </div>

            <div class="form-group col-sm-3" [ngClass]="{'has-error': formErrors.PrimaryGST}">
              <label class="control-label" for="PrimaryGST">GST<span class="mandantory">*</span></label>
              <div >
                <input id="PrimaryGST" type="text" class="form-control" formControlName="PrimaryGST"
                  (blur)="logValidationErrors()" maxlength="30">
                <div class="help-block-rk"><span class="help-block" *ngIf="formErrors.PrimaryGST">
                    {{formErrors.PrimaryGST}}
                  </span> </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="text-left">
              <h2 class="pagheadng">Secondary Details</h2>
            </div>
            <div class="form-group col-sm-12">
              <div class="pull-left">
                <input type="checkbox" id="issameaddress" (change)="onchangeissameaddress($event)"
                  formControlName="issameaddress" />
                <label class="control-label" for="issameaddress"> Same As Primary Details </label>
              </div>
            </div>
            <div class="form-group col-sm-3" [ngClass]="{'has-error': formErrors.SecondaryCountryID}">
              <label class="control-label" for="SecondaryCountryID">Country<span class="mandantory">*</span></label>
              <div >
                <select id="SecondaryCountryID" class="form-control" formControlName="SecondaryCountryID"
                  (blur)="logValidationErrors()" (change)="onchangeSecondaryCountryID($event.target.value)">
                  <option value="0" selected="selected">Select</option>
                  <option *ngFor="let dis of countries" value={{dis.CountryID}}>
                    {{dis.CountryName}}
                  </option>
                </select>
                <div class="help-block-rk"><span class="help-block" *ngIf="formErrors.SecondaryCountryID">
                    {{formErrors.SecondaryCountryID}}
                  </span> </div>
              </div>
            </div>

            <div class="form-group col-sm-3" [ngClass]="{'has-error': formErrors.SecondaryStateID}">
              <label class="control-label" for="SecondaryStateID">State<span class="mandantory">*</span></label>
              <div >
                <select id="SecondaryStateID" class="form-control" formControlName="SecondaryStateID"
                  (blur)="logValidationErrors()">
                  <option value="0" selected="selected">Select</option>
                  <option *ngFor="let dis of secondarystates" value={{dis.StateID}}>
                    {{dis.State}}
                  </option>
                </select>
                <div class="help-block-rk"><span class="help-block" *ngIf="formErrors.SecondaryStateID">
                    {{formErrors.SecondaryStateID}}
                  </span> </div>
              </div>
            </div>

            <div class="form-group col-sm-3" [ngClass]="{'has-error': formErrors.SecondaryDistrict}">
              <label class="control-label" for="SecondaryDistrict">District<span class="mandantory">*</span></label>
              <div >
                <input id="SecondaryDistrict" type="text" class="form-control" formControlName="SecondaryDistrict"
                  (blur)="logValidationErrors()" maxlength="50">
                <div class="help-block-rk"><span class="help-block" *ngIf="formErrors.SecondaryDistrict">
                    {{formErrors.SecondaryDistrict}}
                  </span> </div>
              </div>
            </div>

            <div class="form-group col-sm-3" [ngClass]="{'has-error': formErrors.SecondaryCity}">
              <label class="control-label" for="SecondaryCity">City<span class="mandantory">*</span></label>
              <div >
                <input id="SecondaryCity" type="text" class="form-control" formControlName="SecondaryCity"
                  (blur)="logValidationErrors()" maxlength="50">
                <div class="help-block-rk"><span class="help-block" *ngIf="formErrors.SecondaryCity">
                    {{formErrors.SecondaryCity}}
                  </span> </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3" [ngClass]="{'has-error': formErrors.SecondaryPostalCode}">
              <label class="control-label" for="SecondaryPostalCode">Postal Code<span
                  class="mandantory">*</span></label>
              <div >
                <input id="SecondaryPostalCode" type="text" class="form-control" formControlName="SecondaryPostalCode"
                  (blur)="logValidationErrors()" maxlength="6" mask="000000">
                <div class="help-block-rk"><span class="help-block" *ngIf="formErrors.SecondaryPostalCode">
                    {{formErrors.SecondaryPostalCode}}
                  </span> </div>
              </div>
            </div>
            <div class="form-group col-sm-3" [ngClass]="{'has-error': formErrors.SecondaryAddress1}">
              <label class="control-label" for="SecondaryAddress1">Address line 1<span
                  class="mandantory">*</span></label>
              <div >
                <input id="SecondaryAddress1" type="text" class="form-control" formControlName="SecondaryAddress1"
                  (blur)="logValidationErrors()" maxlength="150">
                <div class="help-block-rk"><span class="help-block" *ngIf="formErrors.SecondaryAddress1">
                    {{formErrors.SecondaryAddress1}}
                  </span> </div>
              </div>
            </div>

            <div class="form-group col-sm-3" [ngClass]="{'has-error': formErrors.SecondaryAddress2}">
              <label class="control-label" for="SecondaryAddress2">Address line 2</label>
              <div >
                <input id="SecondaryAddress2" type="text" class="form-control" formControlName="SecondaryAddress2"
                  (blur)="logValidationErrors()" maxlength="100">
                <div class="help-block-rk"><span class="help-block" *ngIf="formErrors.SecondaryAddress2">
                    {{formErrors.SecondaryAddress2}}
                  </span> </div>
              </div>
            </div>

            <div class="form-group col-sm-3" [ngClass]="{'has-error': formErrors.SecondaryGST}">
              <label class="control-label" for="SecondaryGST">GST<span class="mandantory">*</span></label>
              <div >
                <input id="SecondaryGST" type="text" class="form-control" formControlName="SecondaryGST"
                  (blur)="logValidationErrors()" maxlength="30">
                <div class="help-block-rk">
                  <span class="help-block" *ngIf="formErrors.SecondaryGST">
                    {{formErrors.SecondaryGST}}
                  </span> </div>
              </div>
            </div>
          </div> 


          <div class="form-group">

            <div class="pull-right btn-toolbar">
               <button class="btn btn-success" type="submit" prevent-double-submit [disabled]="registerForm.invalid">
                Register</button> 
              <div class="clearfix"></div>

            </div>
            <div class="pull-left">

              <p >
                <a routerLinkActive="active" routerLink="/Signin">Already a Member ? Signin.</a>
              </p>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
<alert></alert>