<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Goods Dispute
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
           <span> GRN</span>
        </li>
        <li>
           <span> Goods dispute</span>
        </li>
        <li class="active">
          
          Save
        </li>
      </ol>
    </div>
  </div>
</div>
<form   [formGroup]="Goodsdisputeform" (ngSubmit)="SaveData()" class="form-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <span class="groupspanheader">
            {{panelTitle}}
          </span>
        </div>
        <div class="col-sm-6">
          <div class="pull-left">

          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
          <div class="pull-right">
            <button  type="button" class="btn btn-primary" routerLink="/Goodsdisputelist" title="Back">

              Back
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <span class="groupspanheader"> General Information </span>
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <div class="form-group" [ngClass]="{'has-error':formErrors.JenniferItemSerial}">
            <label class="control-label" for="JenniferItemSerial">Jennifer Item Serial Number
              <span class="mandantory">*</span>

            </label>
            <div >
              <input id="JenniferItemSerial" type="text" class="form-control" formControlName="JenniferItemSerial"
                (blur)="logValidationErrors(); " (change)="getGoodsInwardDisplay()" maxlength="20">
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.JenniferItemSerial">
                  {{formErrors.JenniferItemSerial}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-xs-12">
          <div class="form-group">
            <label class="control-label" for="GRNInwardID">GRN Number <span class="mandantory">*</span>

            </label>
            <div >
              {{ GRNNumber}}
            </div>
          </div>
        </div>
        <div class="col-md-2 col-xs-12">
          <div class="form-group">
            <label class="control-label" for="InventoryType">Inventory Type <span class="mandantory">*</span>

            </label>
            <div >
              {{ InventoryType}}
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="form-group">
            <label class="control-label" for="ItemName">Item Code-Description <span class="mandantory">*</span>

            </label>
            <div >
              {{ ItemName}}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': formErrors.DisputeType}">
            <label class="control-label" for="DisputeType">Dispute Type<span class="mandantory">*</span></label>
            <div >
              <select id="DisputeType" class="form-control" formControlName="DisputeType"
                (blur)="logValidationErrors()">
                <option value="0" selected="selected">Select</option>
                <option *ngFor="let dis of lstDisputeType" value="{{dis.DropdownValue}}">
                  {{dis.DropdownValue}}
                </option>
              </select>
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.DisputeType">
                  {{formErrors.DisputeType}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="form-group" [ngClass]="{'has-error':formErrors.OtherItemID}">
            <label class="control-label" for="OtherItemID">Other Item Code
              <span class="mandantory"></span>

            </label>
            <div >
              <input id="OtherItemID" type="text" class="form-control" formControlName="OtherItemID"
                (blur)="logValidationErrors()" maxlength="40">
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.OtherItemID">
                  {{formErrors.OtherItemID}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': formErrors.VideoLink}">
            <label class="control-label" for="VideoLink">Video link
              <span class="mandantory">*</span>
            </label>

            <input id="VideoLink" type="text" class="form-control" formControlName="VideoLink"
              (blur)="logValidationErrors()" max="250">
            <div class="help-block-rk">
              <span class="help-block" *ngIf="formErrors.VideoLink">
                {{formErrors.VideoLink}}
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': formErrors.Remarks}">
            <label class="control-label" for="Remarks">Remarks</label>
            <div >
              <textarea id="Remarks" type="text" class="form-control" formControlName="Remarks"
                (blur)="logValidationErrors()" rows="2" cols="5" maxlength="250" placeholder="Remarks">
              </textarea>
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.Remarks">
                  {{formErrors.Remarks}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <div class="panel">
    <div class="panel-body">
      <span class="groupspanheader">Upload Images</span>
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': formErrors.FileData1}">
            <div class=" col-sm-12 inputlevel">
              <label class="nopading_loct control-label" for="SelectSelect">Browse Image 1
                <span class="mandantory">*</span>
              </label>
              <input  type="file" id="file" accept="image/*" formControlName="FileData1"
                (change)="onFileChanged1($event)">
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.FileData1">
                  {{formErrors.FileData1}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': formErrors.FileData1}">
            <div class=" col-sm-12 inputlevel">
              <label class="nopading_loct control-label" for="SelectSelect">Browse Image 2
                <span class="mandantory">*</span>
              </label>
              <input  type="file" id="file" accept="image/*" formControlName="FileData2"
                (change)="onFileChanged2($event)">
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.FileData2">
                  {{formErrors.FileData2}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': formErrors.FileData1}">
            <div class=" col-sm-12 inputlevel">
              <label class="nopading_loct control-label" for="SelectSelect">Browse Image 3
                <span class="mandantory">*</span>
              </label>
              <input  type="file" id="file" accept="image/*" formControlName="FileData3"
                (change)="onFileChanged3($event)">
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.FileData3">
                  {{formErrors.FileData3}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': formErrors.FileData1}">
            <div class=" col-sm-12 inputlevel">
              <label class="nopading_loct control-label" for="SelectSelect">Browse Image 4
                <span class="mandantory">*</span>
              </label>
              <input  type="file" id="file" accept="image/*" formControlName="FileData4"
                (change)="onFileChanged4($event)">
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.FileData4">
                  {{formErrors.FileData4}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <div class="form-group">
            <div class=" col-sm-12 inputlevel">
              <label class="nopading_loct control-label" for="SelectSelect">Browse Image 5</label>
              <input  type="file" id="file" accept="image/*" formControlName="FileData5"
                (change)="onFileChanged5($event)">
              <div class="help-block-rk">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="form-group">
            <div class=" col-sm-12 inputlevel">
              <label class="nopading_loct control-label" for="SelectSelect">Browse Image 6</label>
              <input  type="file" id="file" accept="image/*" formControlName="FileData6"
                (change)="onFileChanged6($event)">
              <div class="help-block-rk">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="form-group">
            <div class=" col-sm-12 inputlevel">
              <label class="nopading_loct control-label" for="SelectSelect">Browse Image 7</label>
              <input  type="file" id="file" accept="image/*" formControlName="FileData7"
                (change)="onFileChanged7($event)">
              <div class="help-block-rk">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="form-group">
            <div class=" col-sm-12 inputlevel">
              <label class="nopading_loct control-label" for="SelectSelect">Browse Image 8</label>
              <input  type="file" id="file" accept="image/*" formControlName="FileData8"
                (change)="onFileChanged8($event)">
              <div class="help-block-rk">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <div class="form-group">
            <div class=" col-sm-12 inputlevel">
              <label class="nopading_loct control-label" for="SelectSelect">Browse Image 9</label>
              <input  type="file" id="file" accept="image/*" formControlName="FileData9"
                (change)="onFileChanged9($event)">
              <div class="help-block-rk">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="form-group">
            <div class=" col-sm-12 inputlevel">
              <label class="nopading_loct control-label" for="SelectSelect">Browse Image 10</label>
              <input  type="file" id="file" accept="image/*" formControlName="FileData10"
                (change)="onFileChanged10($event)">
              <div class="help-block-rk">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <div class="panel-footer">
      <div class="pull-right btn-toolbar">
        <button  type="button" class="btn btn-primary" routerLink="/Goodsdisputelist" title="Cancel">
          Cancel
        </button>
        <button class="btn btn-success" prevent-double-submit type="submit">
          Save
        </button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</form>