<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Purchase Orders
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
          <span> Procurements</span>
        </li>
        <li>
          <span> Purchase Order</span>
        </li>
        <li class="active">

          Save
        </li>
      </ol>
    </div>
  </div>
</div>
<form (ngSubmit)="saveData()" [formGroup]="poForm">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <span class="groupspanheader">
            {{panelTitle}} - {{poOrder.PONumber  }}
          </span>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
          <div class="pull-right">
            <button class="btn btn-primary" routerLinkActive="active" routerLink="/Polist">Back</button>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="panel-body">
      <div class="row">
        <!-- <div class="col-md-3">
          <div class="form-group">
            <label class="control-label" for="poOrder.PONumber">PO Number<span class="mandantory"> *</span></label>
            <br />
            {{poOrder.PONumber  }}
          </div>
        </div> -->

        <div class="col-md-3" *ngIf="poOrder.POID == 0" [ngClass]="{'has-error': formErrors.LocationID}">
          <div class="form-group">
            <label class="control-label" for="Location">Location<span class="mandantory"> *</span></label>
            <select class="form-control" name="poOrder.LocationID" id="Location" [disabled]="poOrder.POID > 0"
              (change)="onLocationChange($event.target.value)" (blur)="logValidationErrors()"
              formControlName="LocationID">
              <option value="0" selected="selected">Select</option>
              <option *ngFor="let location of locationList" value={{location.LocationID}}>
                {{location.LocationName}}
              </option>
            </select>
            <div class="help-block-rk">
              <span class="help-block" *ngIf="formErrors.LocationID">
                {{formErrors.LocationID}}
              </span>
            </div>
          </div>
        </div>

        <div class="col-md-3" *ngIf="poOrder.POID > 0">
          <div class="form-group">
            <label class="control-label" for="Location">Location<span class="mandantory"> *</span></label>
            <div>
              {{poOrder.LocationName}}
            </div>
          </div>
        </div>

        <div class="col-md-3" *ngIf="poOrder.POID == 0" [ngClass]="{'has-error': formErrors.VendorID}">
          <div class="form-group">
            <label class="control-label" for="Vendor">Vendor<span class="mandantory"> *</span></label>
            <select class="form-control" name="poOrder.VendorID" id="Vendor"
              [disabled]="poOrder.POID > 0 || gridData.length> 0" (change)="onVendorChanged($event.target.value); 
              onVendorChangedforwarehouse($event.target.value);" (blur)="logValidationErrors()"
              formControlName="VendorID">
              <option value="0" selected="selected">Select</option>
              <option *ngFor="let vendor of vendorList" value={{vendor.VendorID}}>
                {{vendor.VendorName}}
              </option>
            </select>
            <div class="help-block-rk">
              <span class="help-block" *ngIf="formErrors.VendorID">
                {{formErrors.VendorID}}
              </span>
            </div>
          </div>
        </div>

        <div class="col-md-3" *ngIf="poOrder.POID > 0">
          <div class="form-group">
            <label class="control-label" for="Vendor">Vendor<span class="mandantory"> *</span></label>
            <div>
              {{poOrder.VendorName}} 
            </div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="form-group" [ngClass]="{'has-error': formErrors.OtherReference}">
            <label class="control-label" for="otherreference">Other Reference<span class="mandantory">
                *</span></label>
            <input type="text" name="poOrder.OtherReference" id="otherreference" class="form-control"
              (blur)="logValidationErrors()" formControlName="OtherReference" maxlength="50">

            <div class="help-block-rk">
              <span class="help-block" *ngIf="formErrors.OtherReference">
                {{formErrors.OtherReference}}
              </span>
            </div>
          </div>
        </div>



        <div class="col-md-3" [ngClass]="{'has-error': formErrors.PODate}">
          <div class="form-group">
            <label class="control-label" for="PODate">PO Date<span class="mandantory"> *</span></label>
            <div>
              <div class='input-group date'>

                <input type="text" ngxDaterangepickerMd [minDate]="poMinDate" [maxDate]="poMaxDate"
                  [singleDatePicker]="true" class="form-control" id="PODate" [locale]="{format: 'MM-DD-YYYY HH:mm'}"
                  [timePicker]="true" maxlength="16" [autoApply]="true" (change)="logValidationErrors()"
                  formControlName="PODate" />

                <label class="fa fa-calendar"></label>
              </div>
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.PODate">
                  {{formErrors.PODate}}
                </span>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="row">



        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label" for="againstreference">Against Reference</label>
            <input type="text" name="poOrder.AgainstReference" id="againstreference" class="form-control"
              (blur)="logValidationErrors()" formControlName="AgainstReference" maxlength="50">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label" for="paymentreference">Payment Reference</label>
            <input type="text" name="poOrder.PaymentReference" id="paymentreference" class="form-control"
              (blur)="logValidationErrors()" formControlName="PaymentReference" maxlength="50">
          </div>
        </div>


        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label" for="remarks">Remarks</label>
            <input type="textarea" name="poOrder.Remarks" id="remarks" class="form-control"
              (blur)="logValidationErrors()" formControlName="Remarks" maxlength="250">
          </div>
        </div>


        <div class="col-md-3" [ngClass]="{'has-error': formErrors.PODeliveryDate}">
          <div class="form-group">
            <label class="control-label" for="PODeliveryDate">PO DeliveryDate<span class="mandantory">
                *</span></label>
            <div>
              <div class='input-group date'>

                <input type="text" ngxDaterangepickerMd [minDate]="poDeliveryMinDate" [maxDate]="poDeliveryMaxDate"
                  [singleDatePicker]="true" class="form-control" id="PODeliveryDate"
                  [locale]="{format: 'MM-DD-YYYY HH:mm'}" [timePicker]="true" maxlength="16" [autoApply]="true"
                  (change)="logValidationErrors()" formControlName="PODeliveryDate" />

                <label class="fa fa-calendar"></label>
              </div>
              <div class="help-block-rk">
                <span class="help-block" *ngIf="formErrors.PODeliveryDate">
                  {{formErrors.PODeliveryDate}}
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">


        <div class="col-md-1">
          <div class="form-group">
            <label class="control-label" for="eventpurchase"> Event Purchase</label>
            <br />
            <input type="checkbox" name="poOrder.IsEventPurchase" id="eventpurchase" formControlName="IsEventPurchase">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label" for="isshipmentrequired">Is Shipment Required</label>
            <br />
            <input type="checkbox" id="isshipmentrequired" name="poOrder.IsShipmentRequired"
              [disabled]="poOrder.POID > 0" formControlName="IsShipmentRequired">

          </div>
        </div>

        <div class="col-sm-3 col-xs-3" *ngIf="poOrder.POID == 0">
          <div class="form-group">
            <div class="inputlevel">
              <label class="nopading_loct control-label" for="SelectSelect">Browse File

              </label>
              <input type="file" id="file" accept="image/*,
              application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
              application/pdf,application/msword,
              application/vnd.openxmlformats-officedocument.wordprocessingml.document" multiple="multiple"
                (change)="onFileChanged1($event)">
              <small>
                You can upload maximum 10 files and each file size should not exceed 3MB.
              </small>
              <div class="help-block-rk">

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3" [ngClass]="{'has-error': formErrors.CurrencyType}">
          <div class="form-group">
            <label class="control-label" for="CurrencyType">Currency Type <span class="mandantory"> *</span></label>
            <select class="form-control" name="poOrder.CurrencyType" id="CurrencyType" (blur)="logValidationErrors()"
              formControlName="CurrencyType">
              <!-- <option value="0" selected="selected">Select</option> -->
              <option *ngFor="let location of lstCurrencyType" value={{location.DropdownValue}}>
                {{location.DropDownDescription}}
              </option>
            </select>
            <div class="help-block-rk">
              <span class="help-block" *ngIf="formErrors.CurrencyType">
                {{formErrors.CurrencyType}}
              </span>
            </div>
          </div>
        </div>

        <div class="col-sm-3 ">
          <div class="form-group" [ngClass]="{'has-error': formErrors.VendorWarehouseID}">
            <label class="nopading_loct control-label" for="WarehouseName">
              Email Notification
              <span class="mandantory">*</span>
            </label>
            <select class="form-control" name="poOrder.VendorWarehouseID" id="VendorWarehouseID"
              (blur)="logValidationErrors()" formControlName="VendorWarehouseID">
              <option value="0" selected="selected">Select</option>
              <option *ngFor="let location of lstVendorwarehouse" value={{location.VendorWarehouseID}}>
                {{location.WarehouseName}}
              </option>
            </select>
            <div class="help-block-rk">
              <span class="help-block" *ngIf="formErrors.VendorWarehouseID">
                {{formErrors.VendorWarehouseID}}
              </span>
            </div>
          </div>
        </div>

      </div>

      <div class="row paddingtop20">
        <div class="col-md-3">
          <span class="groupspanheader">Order Items</span>
        </div>
        <div class="col-md-2">
          <div class="pull-right">
            <b *ngIf="gridData.length> 0"> Total Qty : {{TotalQty  }}</b>
          </div>
        </div>
        <div class="col-md-3">
          <div class="pull-right">
            <b *ngIf="gridData.length> 0"> Total Amount : {{TotalTotalAmount | currency: 'INR'}}</b>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pull-right">
            <button (click)="onClickBulkUpload()" type="button" id="bulkupload" class="btn btn-warning"
              title="Bulk Upload">Add Bulk</button>
            &nbsp;
            <button (click)="onDownloadTemplate()" type="button" id="download" class="btn btn-success"
              title="Download">Download Template </button>
          </div>
        </div>
      </div>


    </div>
    <kendo-grid [data]="gridData" resizable="true" (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
      (save)="saveHandler($event)" (remove)="removeHandler($event)" (add)="addHandler($event)" [height]="410">
      <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>Add Item</button>
      </ng-template>

      <kendo-grid-column field="ItemCode" title="ItemCode" width="150">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{item(dataItem.ItemID)?.ItemCode}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-column="column" let-formGroup="itemFormGroup">
          <kendo-dropdownlist #ddl="popupAnchor" popupAnchor [data]="itemList" textField="ItemCode" valueField="ItemID"
            [valuePrimitive]="true" [formControl]="itemFormGroup.get(column.field)"
            (valueChange)="getItemDescription($event)" [kendoDropDownFilter]="filterSettings">
          </kendo-dropdownlist>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="ItemName" title="Item Description" width="200">
        <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
          <input #input [readonly]="true" class="k-textbox" [formControl]="itemFormGroup.get(column.field)">
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="VendorItemCode" title="Vendor ItemCode" width="200">
        <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
          <input #input [readonly]="true" class="k-textbox" [formControl]="itemFormGroup.get(column.field)">
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="CaseSize" title="Units" width="100">
        <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
          <kendo-numerictextbox #ntb="popupAnchor" popupAnchor (valueChange)="onCaseSizeChanged($event)"
            [formControl]="itemFormGroup.get(column.field)" format="##"></kendo-numerictextbox>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="UOM" title="UOM" width="150">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{uomDetail(dataItem.UOMID)?.UOM}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-column="column" let-formGroup="itemFormGroup">
          <kendo-dropdownlist #ddl="popupAnchor" popupAnchor [data]="uomList" textField="UOM" valueField="UOMID"
            [valuePrimitive]="true" (valueChange)="onUOMChanged($event)" [formControl]="itemFormGroup.get('UOM')"
            [kendoDropDownFilter]="filterSettings">
          </kendo-dropdownlist>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="Rate" title="Rate per unit without taxes" width="220" format="0.##">
        <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
          <kendo-numerictextbox #ntb="popupAnchor" popupAnchor (valueChange)="onRateChanged($event)"
            [formControl]="itemFormGroup.get(column.field)" format="0.##" maxlength="15" [autoCorrect]="true">
          </kendo-numerictextbox>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="TaxRate" title="Tax Rate" width="100" format="0.##">
        <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
          <kendo-numerictextbox #ntb="popupAnchor" popupAnchor [readonly]="true"
            [formControl]="itemFormGroup.get(column.field)" format="0.##"></kendo-numerictextbox>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="DirectCost" title="Direct Cost" width="150" format="0.##">
        <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
          <kendo-numerictextbox #ntb="popupAnchor" popupAnchor [readonly]="true"
            [formControl]="itemFormGroup.get(column.field)" format="0.##"></kendo-numerictextbox>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="TaxAmount" title="Tax Amount" width="150" format="0.##">
        <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
          <kendo-numerictextbox #ntb="popupAnchor" popupAnchor [readonly]="true"
            [formControl]="itemFormGroup.get(column.field)" format="0.##"></kendo-numerictextbox>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="TotalAmount" title="Total Amount" width="150" format="0.##">
        <ng-template kendoGridEditTemplate let-column="column" let-formGroup="itemFormGroup" let-isNew="isNew">
          <kendo-numerictextbox #ntb="popupAnchor" popupAnchor (valueChange)="onTotalAmountChanged($event)"
            [formControl]="itemFormGroup.get(column.field)" format="0.##">
          </kendo-numerictextbox>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-command-column title="Action" [class]="{'text-center': true}" width="150">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
          <button kendoGridEditCommand [primary]="true">Edit</button>
          <button kendoGridRemoveCommand>Remove</button>
          <button kendoGridSaveCommand [disabled]="itemFormGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
          <button kendoGridCancelCommand>{{ isNew ? 'Discard' : 'Cancel' }}</button>
        </ng-template>
      </kendo-grid-command-column>
    </kendo-grid>

    <div class="panel-footer " *ngIf="(poOrder.ApprovalStatus!='Approved')">
      <div class="btn-toolbar pull-right">

        <button type="button" id="cancel" class="btn btn-default" routerLink="/Polist">Cancel</button>
        <button prevent-double-submit type="submit" id="save" class="btn btn-success"
          [disabled]="!poForm.valid ||FileFlag">Save</button>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</form>


<div id="modalpopupbulkupload" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalpopupbulkupload"
  aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalpopupbulkupload"> Bulk Upload</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="col-sm-12">
            <textarea rows="10" cols="80" maxlength="10000" [(ngModel)]="BulkString" id="BulkUpload"></textarea>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
        &nbsp;
        <button class="btn btn-success" type="button" (click)="onClickValidate()" prevent-double-submit>
          Validate
        </button>
      </div>
    </div>
  </div>
</div>