body.boxed .page-topbar {
    max-width: 90%;
    width: 90%;
    margin-left: 5%!important
} 
.page-topbar {
    position: fixed;
    width: 100%;
    background-color: #f7fafe;
    top: 0;
    left: 0;
    top: 0;
    left: 0;
    z-index: 1999;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    max-height: 50px
}
.logo {
    margin: 0px auto;
}
.logo-area img {
    margin:1px 0px;
    display: block; 
} 
.logotogl  {  
     display: block;  
    float: left; 
}
.logo-area { 
    background-color: #fff;
    display: block;
    height: 50px;
    float: left; 
    width: 100%;
} 
.logomobile { visibility: hidden;}
.page-topbar .quick-area .info-menu {
    height: 60px;
    margin: 0;
    line-height: 40px;
    padding: 0 15px;
    font-size: 14px
}

.page-topbar .quick-area .info-menu li {
    position: relative;
    bottom: 3px;
    padding:0px 10px 0px 1px; 
}

.page-topbar .quick-area .info-menu li a.sidebar_toggle,
.page-topbar .quick-area .info-menu li a.toggle,
.page-topbar .quick-area .info-menu li a.toggle_chat {
    width: 30px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    color: #2e3550;
    position: relative;
    margin-top: 8px
}
.nopadding {
    padding: 0!important;
    margin: 0!important
}
.page-topbar .quick-area .info-menu li a.sidebar_toggle .badge,
.page-topbar .quick-area .info-menu li a.toggle .badge,
.page-topbar .quick-area .info-menu li a.toggle_chat .badge {
    position: absolute;
    font-size: 6px;
    padding: 4px;
    margin: 10px 0 0 -5px;
    width: 13px;
    height: 13px;
    bottom: 20px
}

.page-topbar .quick-area .info-menu li a.toggle_chat i {
    font-size: 11px
}

.page-topbar .quick-area .info-menu li.profile a {
    width: auto;
    text-decoration: none
}

.page-topbar .quick-area .info-menu li.profile img {
    height: 30px;
    width: 30px;
    top: 0;
    right: 10px;
    position: relative;
    background-color: #999
}

.page-topbar i {
    font-size: 14px;
    font-weight: 100;
    color: #578278
}

.page-topbar .message-toggle-wrapper,
.page-topbar .notify-toggle-wrapper,
.page-topbar .searchform,
.page-topbar li.profile {
    opacity: 0
}

.page-topbar .message-toggle-wrapper.showopacity,
.page-topbar .notify-toggle-wrapper.showopacity,
.page-topbar .searchform.showopacity,
.page-topbar li.profile.showopacity {
    opacity: 1!important
}

.page-topbar .quick-area .info-menu li .dropdown-menu {
    width: 160px;
    border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    line-height: 23px;
    font-size: 11px;
    padding-bottom: 0;
    border: 0 solid transparent;
    margin-top: 1px;
    margin-left: 15px;
    padding-top: 5px
}

.page-topbar .dropdown-menu {
    background: #fff
}

.page-topbar .dropdown-menu:after,
.page-topbar .dropdown-menu:before {
    bottom: 100%;
    left: 22px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.page-topbar .dropdown-menu:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 9px;
    margin-left: -9px
}

.page-topbar .dropdown-menu:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: rgba(80, 80, 80, .1);
    border-width: 10px;
    margin-left: -10px
}

.dropdown-menu-left {
    left: -20px;
    width: 300px
}

.page-topbar li .dropdown-menu li.list {
    padding: 0 30px;
    overflow: hidden;
    max-height: 300px;
    height: 300px
}

.page-topbar li .dropdown-menu li li {
    width: 100%;
    display: block;
    position: relative;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #eaeaea
}

.page-topbar li .dropdown-menu li li:last-child {
    border-bottom: 0
}

.page-topbar li .dropdown-menu li a {
    text-decoration: none;
    color: #578278;
    font-size: 12px
}

.page-topbar li .dropdown-menu li .desc,
.page-topbar li .dropdown-menu li .name {
    display: block;
    position: relative
}

.page-topbar li .dropdown-menu li .user-img img {
    width: 25px;
    height: 25px;
    float: left;
    margin: 5px 15px 0 0;
    opacity: .8
}

.page-topbar li .dropdown-menu li .profile-status {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0
}

.page-topbar li .dropdown-menu li .name {
    color: #aaa
}

.page-topbar li .dropdown-menu li .name .time {
    color: #ccc
}

.page-topbar li .dropdown-menu li .desc {
    color: #999
}

.page-topbar li .dropdown-menu li.unread .user-img img {
    opacity: 1;
    margin-bottom: 20px
}

.page-topbar li .dropdown-menu li.unread .name {
    color: #717171
}

.page-topbar li .dropdown-menu li.unread .name .time {
    color: #aaa
}

.page-topbar li .dropdown-menu li.unread .desc {
    color: #777
}

.page-topbar li .dropdown-menu li.external,
.page-topbar li .dropdown-menu li.external a:hover {
    height: auto;
    background: #eee
}

.page-topbar li .dropdown-menu li.external a {
    display: block;
    padding: 15px 30px;
    color: #999;
    font-size: 13px
}

.page-topbar li .dropdown-menu.notifications li .name .time {
    display: block;
    position: relative
}

.page-topbar li .notifications .notice-icon i {
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    float: left;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    color: #fff;
    margin-top: 5px
}

.page-topbar li .notifications .total {
    padding: 0 30px 0 30px
}

.page-topbar li .notifications .total span {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #eaeaea;
    display: block
}

.page-topbar li .notifications .available .notice-icon i {
    background-color: #4caf50
}

.page-topbar li .notifications .busy .notice-icon i {
    background-color: rgba(240, 80, 80, 1)
}

.page-topbar li .notifications .away .notice-icon i {
    background-color: rgba(255, 193, 7, 1)
}

.page-topbar li .notifications .idle .notice-icon i {
    background-color: rgba(250, 133, 100, 1)
}

.page-topbar li .notifications .offline .notice-icon i {
    background-color: rgba(169, 169, 169, 1)
}

.page-topbar li .dropdown-menu.profile {
    max-width: 180px;
    height: auto;
    padding: 0
}

.page-topbar li .dropdown-menu.profile li {
    line-height: 36px;
    display: block;
    height: 36px;
    margin: 0
}

.page-topbar li .dropdown-menu.profile li i {
    margin-right: 6px;
    line-height: 36px;
    height: 31px;
    width: auto;
    font-size: 11px;
    text-align: center
}

.page-topbar li .dropdown-menu.profile li a {
    display: block;
    border-bottom: none;
    cursor: pointer;
    transition: all .2s ease-in-out
}
.pfof1styl a {
    color: #578278;
    padding: 7px 1px;
    margin:0 4px;
    border-bottom:transparent;
    font-size: 13px
}
.page-topbar li .dropdown-menu.profile li a:hover,
.page-topbar li .dropdown-menu.profile li.last a {
    background: transparent;
    transform: scale(1.1)
}

/**SEARCH ICON**/
.form{
    /* position: relative;
    top: 50%;
    left: 50%; */
    margin:10px 30px;
    transform:translate(-10%,-20%);
    transition: all 1s;
    width:30px;
    height:30px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

.input{
    /* position: absolute;
    top: 0;
    left: 0; */
    margin: -8px 8px;
    width: 100%;
    height: 39px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0px 20px;
    border: 1px solid
    #ccc;
}

.ffa{
    box-sizing: border-box;
    padding: 10px;
    width:32.5px;
    height:32.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.form:hover{
    width: 200px;
    cursor: pointer;
}

.form:hover input{
    display: block;
}

.form:hover .ffa{
    background: #d02560;
    color: white;
}

.topnav input[type=text] {
    padding: 3px 6px;
    margin-top: 9px;
    width: 186px;
    border: 1px solid #dedede!important;
    font-size: 12px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: transparent;
}
.topnav .search-container button {
    float: right;
    padding: 3px 10px;
    margin-top: 9px;
    margin-right: 16px;
    font-size: 14px;
    border: none;
    border: 1px solid #dedede;
    border-left: transparent;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    background-color: transparent;
    cursor:pointer;
}
.topdropbx {
    display: block;
    width: 100%;
    height: 32px!important;
    margin: 9px 4px;
    padding: 6px 5px;
    font-size: 11px;
    line-height: 1.42857143;
    color: #578278;
    background-color: transparent!important;
    background-image: none;
    border: transparent!important;
    border-radius:0px!important;
    box-shadow: inset 0 1px 1px transparent!important;
    border-bottom:transparent !important;
    text-align:right; 
    border-radius: 0; 
} 
/* .selectcart {
    float: right;
    position: absolute;
    right: -6px;
    z-index: 999999999;
    width: 8px;
    height: 8px;
    background-image: url(/assets/jicons/selectcart.svg);
    top: 21px;
    padding: 0px 0px;
} */ 
i.profile { 
    width: 15px;
    height: 15px;
    background-image: url(/assets/jicons/profile.svg);
    margin: -2px 0px;
    display: inline-block;
}
i.company { 
    width: 20px;
    height: 20px;
    background-image: url(/assets/headericons/company.svg);
    margin: -5px 0px;
    display:block;
    float: left;
    position: relative;
    right:-9px;
    top: 22px;
}
i.storename {  
    width: 20px;
    height: 20px;
    background-image: url(/assets/headericons/store.svg);
    margin: -5px 0px;
    display:block;
    float: left;
    position: relative;
    right:-9px;
    top: 22px;
}
i.help { 
    width: 15px;
    height: 15px;
    background-image: url(/assets/jicons/help.svg);
    margin: -2px 0px;
    display: inline-block;
}
i.themeicon {
    width:20px;
    height:20px;
    background-image: url(/assets/jicons/themeicon.svg);
    margin:4px 7px;
    display: inline-block;
    cursor: pointer;
}
ul.info-menu li a span { color:  #d02560;  font-size: 13px;}
 
 
.themesellection {
    background-color:#ccc;
    width:30px; 
    height:30px;
    position: absolute;
    top:10px;
    right:0;
    border-radius:50%;
    animation: fa-spin 2s infinite linear;
} 
.themesellection:hover {transition-duration: 0.8s;}  
@media (max-width:450px) {
    .profile .toggle span {
        display: none
    }
    .page-topbar .quick-area .info-menu li.profile img {
        right: 0
    }
    .page-topbar .quick-area .info-menu li.profile .dropdown-menu {
        right: auto;
        left: -122px
    }
    .page-topbar .profile .dropdown-menu:after,
    .page-topbar .profile .dropdown-menu:before {
        right: 22px;
        left: auto
    }
}

@media (max-width:680px) {
    .profile .toggle span {
        display: none
    }
    .page-topbar .quick-area .info-menu li.profile img {
        right: 0
    }
    .page-topbar .quick-area .pull-left ul.info-menu {
        padding-right: 0
    }
    .page-topbar .quick-area .pull-right ul.info-menu {
        padding-left: 0
    }
    .themesellection {display: none;}
}

@media (max-width:245px) {
    .page-topbar .quick-area .pull-left {
        display: none
    }
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px
}

.page-topbar li.searchform {
    margin-left: 15px;
    height: 34px
}

.page-topbar li.searchform .input-group {
    top: 6px;
    width: 30px;
    cursor: hand;
    cursor: pointer;
    border-bottom: 2px solid transparent
}

.page-topbar li.searchform .input-group-addon {
    border: none;
    margin-left: 30px;
    background: 0 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #fff;
    min-width: 10px;
    padding: 0;
    border-bottom: 5px solid transparent
}

.page-topbar li.searchform.focus .input-group-addon {
    border-bottom: 0 solid transparent
}

.page-topbar li.searchform .form-control {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: 0 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    width: 0;
    color: #fff
}

.page-topbar li.searchform.focus .form-control {
    display: inline-block;
    width: 100%
}

.page-topbar li.searchform.focus .input-group {
    width: 260px;
    top: 3px;
    border-bottom: 2px solid transparent;
    height: 34px
}

.page-topbar li.searchform.focus .input-group {
    background: 0 0;
    border-bottom: 2px solid rgba(255, 255, 255, .6);
    height: 34px
}

.page-topbar li.searchform input[type=submit] {
    display: none
}

.page-topbar li.searchform form {
    display: inline-block;
    height: 34px;
    top: 8px;
    position: relative
}

.page-topbar .chat-toggle-wrapper .fa-times {
    display: none
}

.page-topbar .quick-area .info-menu li .dropdown-menu {
    left:-52px;
    position: absolute
}
.page-topbar .logo-area {
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-color: #f7fafe;
    margin: 0 1px;
    border-bottom: 1px solid #e7ebf1;
    border: none;
    border-right: 1px solid #FFF;
}
#main-content,
.chatapi-windows,
.collapse-wraplist,
.page-chatapi,
.page-sidebar,
.page-topbar,
.page-topbar .logo-area,
.page-topbar .quick-area .pull-right,
.profile-info,
.wraplist {
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -o-transition: .6s;
    transition: .6s
}
.page-topbar .dropdown-menu:after,
.page-topbar .dropdown-menu:before {
    left: 135px!important
} 
.dropdown-menu>li>a {
    display: block;
    padding: 1px 3px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap
}
.navbar-header {
    width: 218px;
}
.navbar-toggle {
    position: relative;
    float:right;
    padding: 0px;
    margin-right: 12px;
    margin-top:-38px;
    margin-bottom: 8px; 
    background-image: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    color:#d02560;
    z-index: 99997;
    font-size: 14px;
}
.search-base {
    display: inline-block;
    margin-left: 31px;
}
.slidetoglbtncase {
    display: block;
    margin-top: 10px;
    z-index: 99999;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
    background-color: #ddd;
    float: left; 
    left: 13px;
    position: relative;
}
.slidetoglbtncase:hover {transform: rotate(180deg) scale(.9); background-color: #e8e8e8;}
.list-inline {
    padding-left: 0;
    list-style: none;
    margin: 3px 3px;
}
.navbar-default { background-color: transparent; border: transparent;}
@media (max-width:767px) {
    .main-wrapper {
        padding: 15px 0 0 0
    }
    .page-topbar .logo-area,
    .page-topbar.sidebar_shift .logo-area {
        width: 100%
    }
    .page-topbar.sidebar_shift .logo-area {
        background-position: left top
    }
    .page-topbar .quick-area .info-menu li.sidebar-toggle-wrap {
        position: fixed;
        top: 0;
        right:5px;
        /* .navbar-toggle */
    }
    .page-topbar .quick-area .info-menu li a.toggle_chat,
    .page-topbar .quick-area .info-menu li.message-toggle-wrapper a,
    .page-topbar .quick-area .info-menu li.notify-toggle-wrapper a,
    .page-topbar .quick-area .info-menu li.sidebar-toggle-wrap a.sidebar_toggle {
        color: #2e3550;
        margin-top: 3px!important
    }
    .page-topbar .quick-area .pull-right {
        position: fixed;
        top: 0;
        right: 30px
    }
    .page-topbar .quick-area .info-menu li.message-toggle-wrapper {
        position: fixed;
        top: 0;
        right: 190px
    }
    .page-topbar .quick-area .info-menu li.notify-toggle-wrapper {
        position: fixed;
        top: 0;
        right: 140px
    }
    .page-sidebar {
        z-index: 5
    }
    #main-content {
        margin-left: 60px;
        z-index: 2
    }
    #main-content.chat_shift {
        margin-left: 60px!important;
        margin-right: 0!important
    }
    .page-topbar.chat_shift {
        margin-left: 0!important
    }
    .page-topbar.chat_shift .quick-area .pull-right {
        margin-right: 0!important
    }
    .page-topbar.chat_shift .chat-toggle-wrapper {
        position: fixed;
        right: 260px
    }
    #main-content,
    .chatapi-windows,
    .collapse-wraplist,
    .page-chatapi,
    .page-sidebar,
    .page-topbar,
    .page-topbar .logo-area,
    .page-topbar .quick-area .pull-right,
    .profile-info,
    .wraplist {
        -webkit-transition: 0s;
        -moz-transition: 0s;
        -o-transition: 0s;
        transition: 0s
    }
    .page-topbar.chat_shift .chat-toggle-wrapper .badge,
    .page-topbar.chat_shift .chat-toggle-wrapper .fa-comments {
        display: none
    }
    .page-topbar.chat_shift .chat-toggle-wrapper .fa-times {
        display: inline-block
    }
    .page-topbar .logo-area {
        background-repeat: no-repeat;
        background-position: left top;
        min-height: 47px;
    }
    .page-topbar .quick-area .info-menu li .dropdown-menu {
        width: 280px;
        left: 95px
    }
    .page-topbar .quick-area .info-menu li.open {
        background-color: #fff
    }
    .page-topbar .quick-area .info-menu li.open a {
        color: #313133;
    }
    .page-topbar .quick-area .info-menu li .dropdown-menu:after,
    .page-topbar .quick-area .info-menu li .dropdown-menu:before {
        display: none
    }
    .page-sidebar { 
        position: fixed;
        top: 0;
        left: 0; 
        overflow: hidden;
        margin-top:27px;
        width: 180px;
        min-height: 100%;
        height: auto;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease; 
        /* z-index: 99993; */
    }
    .search-base {
        display:none;
    }
   .slidetoglbtncase {
    position: absolute;
    top: 0px;
    left: 38px;;
   }  
   .logo{ display:none !important;}
   .logotogl { display:none !important;}
   .logomobile {display: block; visibility: visible;}
   .page-topbar .logo-area { background: none;}
   .navbar-header { width: 36px }
   .navbar-toggle { right:0; top:0;}
   .slidetoglbtncase { background-color: transparent; border:none;}
   .slctcompydtals {
        background-color: #FFF;
        width: 100%;
        min-height: 244px;
        margin-top: 51px;
        box-shadow: 0 1px 6px 0  rgba(32, 33, 36, .28);
        -moz-box-shadow: 0 1px 6px 0  rgba(32, 33, 36, .28);
        -webkit-box-shadow: 0 1px 6px 0  rgba(32, 33, 36, .28);
        -o-box-shadow: 0 1px 6px 0  rgba(32, 33, 36, .28);
        box-sizing: border-box;
        padding:0px;
        border: 1px solid #18130f;
        max-height: 328px;
    }
    i.company {right: 0px;}
    i.storename {right: 0px;}
    .page-topbar .quick-area .info-menu {padding: 0 6px;}
    i.profile  { float: left; margin: 12px 0px;}
    i.help { float: left; margin: 11px 0px; } 
    ul.right-links li {text-align: right;}
}
@media (max-width:860px) {
    .search-base {display: none;}
    .themesellection  {display: none;}
    
}


/*27-01-2020*/

.page-sidebar.chat_shift #main-menu-wrapper li .label,
.page-sidebar.collapseit #main-menu-wrapper li .label {
    display: none
}

.page-sidebar.chat_shift #main-menu-wrapper li:hover .label,
.page-sidebar.collapseit #main-menu-wrapper li:hover .label {
    display: inline-block;
    margin-top: 13px;
    right: 0
}

#main-menu-wrapper .menusection {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 40px;
    padding-left: 24px;
    margin: 10px 0 0 0;
    color: #9e9e9e;
    text-transform: uppercase
}

.page-sidebar.chat_shift #main-menu-wrapper .menusection,
.page-sidebar.collapseit #main-menu-wrapper .menusection {
    color: transparent;
    height: 1px;
    background: rgba(33, 33, 33, .1);
    width: 44px;
    overflow: hidden;
    margin: 10px 8px 10px 8px
}

.page-sidebar.chat_shift #main-menu-wrapper .menusection:first-child,
.page-sidebar.collapseit #main-menu-wrapper .menusection:first-child {
    background-color: transparent
}

.page-sidebar .menustats {
    padding: 15px 15px 15px 20px
}

.page-sidebar .menustats h5 {
    font-size: 13px
}

.page-sidebar .menustats .progress {
    height: 5px;
    background-color: #eee;
    margin-bottom: 25px
}

.page-sidebar.chat_shift .menustats,
.page-sidebar.collapseit .menustats {
    content: " ";
    height: 50px;
    overflow: hidden;
    color: transparent;
    opacity: 0
}

.page-sidebar .profile-info {
    background: 0 0;
    padding-top: 15px;
    padding-left: 20px
}

.page-sidebar .profile-image {
    padding-right: 5px;
    display: inline-block
}

.profile-info .profile-image img {
    height: 35px;
    width: 35px;
    position: relative;
    background-color: #777
}

.profile-info .profile-details {
    white-space: nowrap
}

.profile-info .profile-details h3 {
    margin: 10px 0 0 0;
    font-size: 12px
}

.profile-info .profile-details h3 a {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #757575;
    text-transform: capitalize;
    font-size: 17px;
    line-height: 23px;
    text-decoration: none
}

.profile-info .profile-details .profile-title {
    color: rgba(174, 178, 183, 1);
    font-size: 11px
}

.profile-info .profile-details .profile-status {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block
}

.profile-status.available,
.uprofile-status.available {
    background-color: #4caf50
}

.profile-status.busy,
.uprofile-status.busy {
    background-color: #f44336
}

.profile-status.idle,
.uprofile-status.idle {
    background-color: #00abf5
}

.profile-status.away,
.uprofile-status.away {
    background-color: #ffc107
}

.profile-status.offline,
.uprofile-status.offline {
    background-color: #9e9e9e
}

[class*=icheckbox_line],
[class*=iradio_line] {
    margin-bottom: 8px
}

ul.states li {
    margin-bottom: 8px
}

[class*=icheckbox_],
[class*=iradio_] {
    margin-right: 8px
}

.icheck-label,
.iradio-label {
    margin-bottom: 8px
}

.ui-slider {
    background-color: #eee
}

.ui-slider-range {
    background-color: #ccc
}

.ui-slider-handle {
    background-color: #aaa
}

.modal-content {
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0
}

.modal-body {
    padding: 10px
}

.modal-title {
    margin: 0;
    line-height: 1.1;
    font-size: 16px
}

.modal {
    z-index: 11040
}


.page-sidebar {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    margin-top: 25px;
    width: 220px;
    min-height: 100%;
    height: auto;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    box-shadow: none;
    border-right: 1px solid #e7ebf1
}

.page-sidebar.fixedscroll {
    position: fixed
}

.page-sidebar.pagescroll {
    position: fixed;
    /* scroll-behavior: smooth;
    overflow-y: scroll; */
    background-image: url(/assets/images/leftpanel.png);
    background-size: cover;
    border-right: 1px solid #ddd;
    background-color: #000;
}

.fixedscroll #main-menu-wrapper {
    padding-top: 0;
    overflow: hidden;
    position: relative
}

#main-menu-wrapper ul {
    padding: 0;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px
}

#main-menu-wrapper ul.wraplist {
    padding-bottom: 0;
    margin-top: 30px ; 
    background-color:transparent;
}

#main-menu-wrapper li ul.sub-menu {
    padding-left: 0
}

#main-menu-wrapper li ul.sub-menu ul.sub-menu {
    padding-left: 0;
    border-bottom: none
}

#main-menu-wrapper li ul.sub-menu {
    display: none;
    list-style-type: none;
    font-size: 14px;
    width: 100%;
    border-bottom: transparent;
}

#main-menu-wrapper li a {
    display: block;
    line-height: 32px;
    min-height: 32px;
    font-weight: 400;
    height: auto;
    color: #bdc4c2;
    text-decoration: none;
    padding-left: 5px;
    clear: both;
    border-left: 3px solid transparent;
    background-color:transparent;
    font-size: 12px;
    border-bottom:transparent;
    /* border-left-color: #578278; */
    transition: all .2s ease-in-out
}

#main-menu-wrapper li a:hover {
    color: #fff;
    background: #578278;
    border-left-color: #578278;
    border-left: 6px solid #578278;
    transform: scale(1.0);
} 
  
#main-menu-wrapper li .sub-menu a {
    line-height: 32px;
    min-height: 32px
}

#main-menu-wrapper li .sub-menu a {
    color: #464646;
    margin-bottom: 0;
    padding-left: 20px;
    border-left: 3px solid transparent
}

#main-menu-wrapper li .sub-menu .active,
#main-menu-wrapper li .sub-menu a:hover,
#main-menu-wrapper li.open .sub-menu a.active,
#main-menu-wrapper li.open .sub-menu a:hover {
    background-color: #bad0cb;
    color: #2d423d;
    border-bottom:0px solid #aecac4;
    transform:scale(1.0);
    padding-left: 1px;
}

#main-menu-wrapper li.open a {
    color: #e4edeb;
    background: #578278;
    /* border-left-color: #578278 */
}

#main-menu-wrapper li a:hover .arrow:before,
#main-menu-wrapper li.open a .arrow:before {
    color: #fff
}

#main-menu-wrapper li .sub-menu a:hover .arrow:before,
#main-menu-wrapper li.open .sub-menu a .arrow:before {
    color: rgba(194, 198, 203, .65)
}

#main-menu-wrapper li.open .sub-menu a {
    color: #2d423d;
    background:#f7f7f7;
    /* border-left-color: #578278; */
    border-bottom:0px solid #cadbd7;
    transition: all .2s ease-in-out
}

#main-menu-wrapper li a i {
    display: inline-block;
    /* width: 45px;
    height: 34px; */
    line-height: 34px;
    text-align: center;
    top: 0;
    position: relative
}

#main-menu-wrapper li a .arrow:before {
    float: right;
    margin-top: 1px;
    margin-right: 20px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f104";
    font-weight: 300;
    text-shadow: none;
    color: #578278
}

#main-menu-wrapper li.open a .arrow.open:before {
    content: "\f107"
}

#main-menu-wrapper li a .arrow {
    float: right;
    position: absolute;
    right: 0
}

#main-menu-wrapper .fa {
    font-size: 14px
}

#main-menu-wrapper li .label {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 3px 7px;
    float: right;
    margin: 15px 15px 0 0;
    position: absolute;
    right: 30px
}

#main-menu-wrapper li .label.nosubmenu {
    right: 25px;
    margin-top: 13px
}
.panel {
    margin-bottom: 0px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
} 

.videobase { 
    margin: 0px auto;   
    width: 100%;
  }
  .videocheck  { 
    margin-top: 1px;
    margin-bottom: 10px;
} 
.videocheck label { text-transform: none;}
@media (max-width:480px) { 
    .videobase {width:100%;}
}