<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h3>
      Goods Receipts
    </h3>
  </div>
  <div class="col-sm-6 col-lg-6">
    <div class="pull-right hidden-xs">
      <ol class="breadcrumb" id="dynamicbreadcrumb">
        <li>
          <span> GRN</span>
        </li>
        <li>
          <span> Goods Receipts</span>
        </li>
        <li class="active">

          View
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <span class="groupspanheader">
          Goods Receipt View
        </span>
      </div>
      <div class="col-md-5">
        <div class="pull-left">

        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="pull-right">
          <button type="button" class="btn btn-primary" routerLink="/Goodsreceiptlist" title="Back"> 
            Back
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="bgtable table table-bordered">
        <tr>
          <th width="15%">
            PO Number <span class="mandantory">*</span>
          </th>
          <td width="35%"> {{obj?.PONumber}} </td>
          <th width="15%"> Purchase Invoice Number
            <span class="mandantory">*</span> </th>
          <td width="35%"> {{obj?.InvoiceNumber}} </td>
        </tr>
        <tr>
          <th> GRN Number <span class="mandantory">*</span> </th>
          <td> {{ obj?.GRNNumber }} </td>
          <th> Inventory Type <span class="mandantory">*</span> </th>
          <td> {{obj?.InventoryType}} </td>
        </tr>
        <tr>
          <th> Location <span class="mandantory">*</span> </th>
          <td> {{obj?.LocationName }}</td>
          <th> Other Reference Number </th>
          <td> {{obj?.OtherReference}} </td>
        </tr>
        <tr>
          <th>
            Vendor <span class="mandantory">*</span>
          </th>
          <td>
            {{ obj?.VendorName }}
          </td>
          <th> Eway Bill Number </th>
          <td> {{obj?.EwayBillNumber}}</td>
        </tr>
        <tr>
          <th> GRN Date <span class="mandantory">*</span> </th>
          <td> {{obj?.GRNDate | date :"MM-dd-yyyy HH:mm"}} </td>

          <th> Vehicle Number </th>
          <td> {{obj?.VehicleNumber}} </td>
        </tr>

        <tr>
          <th> Remarks
            <span class="mandantory">*</span> </th>
          <td colspan="3">
            {{obj?.Remarks}}
          </td>
        </tr>
      </table>

    </div>

    <span class="groupspanheader">Upload Images</span>
    <div class="row">
      <div class="col-sm-3 col-xs-12">
        <div>
          <div class=" col-sm-12 inputlevel">
            <label class="nopading_loct control-label" for="SelectSelect">Image 1
              <span class="mandantory">*</span>
            </label>
            <br>
            <img [src]="obj?.ImagePath1" width="200" height="200" title="Image 1" />
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div>
          <div class=" col-sm-12 inputlevel">
            <label class="nopading_loct control-label" for="SelectSelect">Image 2
              <span class="mandantory">*</span>
            </label>
            <br>
            <img [src]="obj?.ImagePath2" width="200" height="200" title="Image 2" />
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div>
          <div class=" col-sm-12 inputlevel">
            <label class="nopading_loct control-label" for="SelectSelect">Image 3

            </label>
            <br>
            <img [src]="obj?.ImagePath3" width="200" height="200" title="Image 3" />
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div>
          <div class=" col-sm-12 inputlevel">
            <label class="nopading_loct control-label" for="SelectSelect">Image 4

            </label>
            <br>
            <img [src]="obj?.ImagePath4" width="200" height="200" title="Image 4" />
          </div>
        </div>
      </div>
    </div>
    <div class="groupspanheader"> Order Items</div>
    <div class="table-responsive">
      <table class="table table-bordered table-condensed table-striped">
        <thead>
          <tr>
            <th>Image</th>
            <th>Vendor Item Code</th>
            <th>Item Description</th>
            <th>Item code</th>
            <th>Inventory Sellable Qty</th>
            <th>Inventory Shortage Qty</th>

            <th>Inventory Damaged Qty</th>
            <th>Inventory Others Qty </th>
            <th>Total Received Qty <span class="mandantory">*</span> </th>
            <th>Shortage Remarks </th>
            <th>Damage Remarks</th>

            <th>Others Remarks</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of obj?.ItemDetails; let i = index;">
            <td>
              <a class="pointer" href="{{ 'https://www.amazon.in/dp/' + item.ItemCode}}" target="_blank">
                <img [src]="item.ImagePath" width="60" height="60" title="Click To View"
                  class="img-responsive img-thumbnail " />
              </a> 
            </td>
            <td>{{item.VendorItemCode}}</td>
            <td>{{item.ItemDescription}}</td>
            <td>{{item.ItemCode}}</td>
            <td class="text-right">{{item.InventorySellableQty}}</td>
            <td class="text-right">{{item.InventoryShortageQty}} </td>

            <td class="text-right">{{item.InventoryDamageQty}} </td>
            <td class="text-right">{{item.InventoryOthersQty}} </td>
            <td class="text-right"> {{item.TotalReceivedQty}} </td>
            <td>{{item.ShortageRemarks}} </td>
            <td>{{item.DamageRemarks}} </td>

            <td>{{item.OthersRemarks}} </td>
            <td class="text-center">
              <i class="fa fa-eye pointer" (click)="filterGoodsInward(item.GRNDetailID)" title="View Goods Inward"></i>
            </td>
          </tr>
          <tr>
            <th colspan="4"> Total </th>
            <th class="text-right">{{InventorySellable }}</th>
            <th class="text-right">{{InventoryShortage }} </th>
            <th class="text-right">{{InventoryDamage }} </th>
            <th class="text-right">{{InventoryOthers }} </th>
            <th class="text-right">{{TotalReceived }} </th>

            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="groupspanheader" *ngIf="lstinward.length > 0"> Goods Inwards</div>
    <div class="table-responsive">
      <table datatable [dtOptions]="dtOptions" class="table table-bordered table-condensed table-striped"
        *ngIf="lstinward.length > 0">
        <thead>
          <tr>
            <th>Jennifer Item Serial</th>
            <th>Vendor Item Serial Type</th>
            <th>Vendor Item Serial Number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of lstinward; let i = index;">
            <td>{{item.JenniferItemSerial}}</td>
            <td>{{item.VendorItemSerialType}}</td>
            <td>{{item.VendorItemSerialNumber}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
        <div class="pull-right">
          <button type="button" class="btn btn-primary" routerLink="/Goodsreceiptlist" title="Cancel">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>